@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
@font-face {
    font-family: "CaslonAntique";
    src: url('../fonts/CaslonAntique.ttf');
}
@font-face {
    font-family: "CaslonAntique";
    src: url('../fonts/CaslonAntique-Bold.ttf');
    font-weight:bold;
}
@font-face {
    font-family: "CaslonAntique";
    src: url('../fonts/CaslonAntique-Italic.ttf');
    font-style:italic;
}
.fortyk{
    font-size:16px;
    font-family: "CaslonAntique";
}
.button:hover, .button:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}
.disableddiv {
    pointer-events: none;
    opacity: 0.4;

}

.grid,
.grid-2col {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    grid-gap: 0px;
    margin: 10px 0;
    padding: 0;
    place-items: center;
}
.grid-3col {
    display: grid;
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4col {
    grid-column: span 4 / span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-5col {
    grid-column: span 5 / span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6col {
    grid-column: span 6 / span 6;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-7col {
    grid-column: span 7 / span 7;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-8col {
    grid-column: span 8 / span 8;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-9col {
    grid-column: span 9 / span 9;
    grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-10col {
    grid-column: span 10 / span 10;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-11col {
    grid-column: span 11 / span 11;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-12col {
    grid-column: span 12 / span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.repair-grid {
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.fortyk .simple-grid3{
    width:100%;
    height:100%;
    padding:3px;
    grid-column-end :span 3;
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
    width: -webkit-fill-available;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border: 1px solid #999;
}
.flex-group-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}
.flex-group-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}
.flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.no-flex{
    flex:none;
}
.flexrow-nowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.margin-left{
    margin-left: 5px;
}
.button{
    text-align:center;
    align-items: center;
    border-style:inset;
    border-color:dimgray;
    border-width: medium;
    padding:5px;
    display:grid;
    background-image: url(../../../ui/parchment.jpg);
}
.psy-macro{
    height: 100%;
}
.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* Styles limited to fortyk sheets */
.underline{
    text-decoration:underline;
}
.fortyk .item-form {
    font-family: "Roboto", sans-serif;
}
.fortyk .charSheet{
    overflow:auto;
}
.fortyk header.sheet-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0px;
    flex-wrap:nowrap;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0px;
}
.fortyk .sheet-header .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: 9.6em;
    width:auto;
    margin-right: 10px;
}
.fortyk .sheet-main .header-fields {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-direction: column;
}
.fortyk .descr{
    flex:0;   
    place-items: center stretch;
    margin-top: 0px;
    margin-bottom:5px;
}
.fortyk .descr .descrRow{
    width:100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:2px;
    border: 1px solid #999;
    font-weight: bold;
    font-style:bold;
    font-variant-caps: petite-caps;
    place-self: flex-start;
}
.fortyk .sheet-main .header-fields .creationOps{
    border:1px solid #999;
    font-weight:bold;
    font-style:bold;
    font-variant-caps: petite-caps;
    margin-top:0px;
    margin-bottom:2px;
}
.fortyk .sheet-main .header-fields .descr .raceSelect{
    flex:auto;
    height: 25px;
}
.fortyk .sheet-main .header-fields .descr input[type="text"]{
    height: 25px !important;
    flex: auto;
}
.fortyk .sheet-main .header-fields .creationOps .creationRow{
    padding-left: 10px;
}
.fortyk .sheet-main .header-fields .eliteAdvances{
    border:1px solid #999;
    font-weight:bold;
    font-style:bold;
    font-variant-caps: petite-caps;
    padding-left: 10px;
}
.vehicle-categories{
    align-self:flex-start;
    height: auto;
    width: -webkit-fill-available;
    padding: 3px;
}
.fortyk  .characteristics{
    margin-top:5px;
}
.fortyk  .characteristics  span.characteristicsSpan{
    font-weight: bold;
    font-style:bold;
}
.fortyk .charSelect{
    width:100%;
}
.fortyk .sheet-main .header-fields .char{
    width: 100%;
}
.charCross{
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    justify-content: center;
    align-content: center;
    text-transform:uppercase;
}
.char-total{
    width:100%;
    height:100%;
}
.sheet nav.sheet-tabs {
    height:auto !important; 
    -webkit-box-flex: 1;
    margin-top: 0px;
    font-variant-caps: petite-caps;
    font-weight:bold;
    font-style:bold;
    flex:auto;
    font-size:17px;
}
.fortyk nav.sheet-tabs2 {
    -webkit-box-flex: 1;
    margin-top: 0px;
    height: 70px;
    font-weight:bold;
    font-style:bold;
    flex:auto;
}
.fortyk nav.sheet-tabs.npc {
    -webkit-box-flex: 1;
    margin-top: 0px;
    height: auto;
    font-weight:bold;
    font-style:bold;
    flex:none;
}
.fortyk .sheet-content,
.fortyk .sheet-content .tab,
.fortyk .sheet-content .tab .editor {
    height: 100%;
    overflow: auto;
}
.fortyk .sheet-content .tab{
    overflow:scroll;
}
.fortyk .sheet-body.npc .tab {
    overflow: visible;
}
.fortyk .sheet-body{
    flex: 1;
    overflow:auto;
}
.fortyk .sheet-body.npc{
    flex: 10;
    overflow:visible;
}
.fortyk .tox .tox-editor-container {
    background: #fff;
}
.fortyk .tox .tox-edit-area {
    padding: 0 8px;
}
.fortyk .resource{
    width:100%;
    height:100%;
}
.fortyk .resource-label {
    font-weight: bold;
    font-style:bold;
    font-variant-caps: petite-caps;
    text-align: center;
}
.fortyk .tabs {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.fortyk .tabs .item {
    line-height: 12px;
    height:50px;
    width:100%;
    border: 1px solid #999;
    padding-top:1em;
}
.fortyk .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
    border: 3px solid #999;
}
.fortyk .tabs .item.active2 {
    text-decoration: underline;
    text-shadow: none;
    border: 3px solid #999;
}
 .repair {
    
    height:268px !important;
   
}
.fortyk .list{
    border-top: 1px solid #999;
    flex:none;
    justify-items: stretch;
    align-items: stretch;
}
.fortyk .list-emphasis{
    text-decoration: underline;
    text-shadow: none;
    border: 3px solid green; 
}
.fortyk .list3col{
    grid-gap: 0px;
    grid-template-columns: auto 30px 30px;
}
.fortyk .list4col2{
    grid-gap: 0px;
    grid-template-columns: auto 1em 1em 1em;
}
.fortyk .list4col{
    grid-gap: 0px;
    grid-template-columns: auto auto 30px 30px;
}
.fortyk .list5col{
    grid-gap: 0px;
    grid-template-columns: 50% auto auto 30px 30px;
}
.fortyk .list6col{
    grid-gap: 0px;
    grid-template-columns: 50% auto auto auto 30px 30px;
}
.fortyk .list7col{
    grid-gap: 0px;
    grid-template-columns: 40% auto auto auto auto 30px 30px;
}
.fortyk .list8col{
    grid-gap: 0px;
    grid-template-columns: 40% auto auto auto auto auto 30px 30px;
}
.fortyk .list-item{
    border-top: 1px solid #999;
    width:100%;
    height:100%;
    padding:3px;
}
.fortyk .list-item2{
    border-top: 1px solid #999;
    width:100%;
    height:100%;
    padding:3px;
    grid-column-end :span 2;
}
.fortyk .list-item-header{
    border-top: 3px solid #999;
    width:100%;
    height:100%;
    padding:3px;
    font-weight: bold;

}
.fortyk .list-item-header2{
    border-top: 3px solid #999;
    width:100%;
    height:100%;
    padding:3px;
    grid-column-end :span 2;
    font-weight: bold;
}
.fortyk .list-item-header3{
    border-top: 3px solid #999;
    width:100%;
    height:100%;
    padding:3px;
    font-weight: bold;
    grid-column-end :span 3;
}
.fortyk .list-item-header4{
    border-top: 3px solid #999;
    width:100%;
    height:100%;
    padding:3px;
    font-weight: bold;
    grid-column-end :span 4;
}
@media (min-width: 768px) {
    .list-item {
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
    }
    .list-item:nth-child(n){
        border-left: 1px solid #999;
    }
    .fortyk .list-item2{
        border-top: 1px solid #999;
        border-left: 1px solid #999;
    }
    .fortyk .list-item-header{
        border-top: 3px solid #999;
        border-bottom: 3px solid #999;
        border-left: 3px solid #999;
    }

    .fortyk .list-item-header-last{
        border-top: 3px solid #999;
        border-bottom: 3px solid #999;
        border-left: 3px solid #999;
        border-right: 3px solid #999;
        font-weight: bold;
        width:100%;
        height:100%;
        padding:3px;
    }
    .fortyk .list-item-header2{
        border-top: 3px solid #999;
        border-bottom: 3px solid #999;

        border-left: 3px solid #999;
        border-right: 3px solid #999;
    }
    .fortyk .list-item-header3{
        border-top: 3px solid #999;
        border-bottom: 3px solid #999;

        border-left: 3px solid #999;
        border-right: 3px solid #999;
    }
    .fortyk .list-item-header4{
        border-top: 3px solid #999;
        border-left: 3px solid #999;
        border-bottom: 3px solid #999;
        border-right: 3px solid #999;
    }
}
.fortyk .list-button{
    flex:none;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}
.fortyk .power-training{
    width:100%;
}

.fortyk .skills{
    border: 1px solid #AAA;
}
.fortyk .skills.tab{
    overflow:hidden !important;
}
.fortyk .sheet-skills{
    height:95%;
    overflow:scroll;
}
.fortyk .skills .skills-header{
    border: 1px solid #AAA;
    width:100%;
    grid-column:initial;
    grid-template-columns: 25% 15% 20% 14% 16% 5% 5% ;
    place-items: start stretch;
    margin:0px;
    flex-grow:0;

}
.fortyk .skills .skills-group{
    border: 1px solid #AAA;
    border-style:groove;
    border-width: thick;
    width:100%;
    grid-column:initial;
    grid-template-columns: 25% 15% 20% 14% 16% 5% 5% ;
    place-items: start stretch;
    margin:0px;
    flex-grow:0;
}
.fortyk .skills .skills-header .gap{
    background-image:"" !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    height: 20PX;
}
.fortyk .skills .skills-header select{
    width:100%;
}
.fortyk .skills .skills-header span{
    border: 1px solid #AAA;
    font-weight:bold;
    font-style:bold;
    padding:3px;
}
.fortyk .skills .skills-header a{
    border: 1px solid #AAA;
    font-weight:bold;
    font-style:bold;
    padding:3px;
    overflow-wrap: anywhere;
}
.fortyk .skills .skillItem{
    flex:1;
    grid-column:initial;
    width:100%;
    height:100%;
}
.fortyk .skills .skills-group .skill-group{
    font-weight: bold !important;
    font-style:bold;
    font-variant-caps: petite-caps;
    grid-column: span 5;
}
.fortyk .skills .skills-group .skill-group .item-descr:before{
    background-image: url('https://i.pinimg.com/originals/32/35/82/32358288d7100b89936b626d7bbfcdf9.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    vertical-align: sub;



}
.fortyk .skills .skills-header .skillSubItem{
    padding-left:20px !important;
    height:100%;
}
.fortyk .skills .skills-header .skillSubItem:before{
    font-family:'Font Awesome 5 Free';
    content:" \f105";
}
.fortyk .item-edit{
    background-image: url("../icons/editicon.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    width:20px !important; 
    height:20px !important;
    margin-left:3px;
    border:0px !important;
    display:inherit;
}
.delete-weapon,
.delete-component,
.delete-chassis, 
.delete-spirit, 
.delete-other-component,
.item-delete,
.delete-repair{
    background-image: url("../icons/deleteicon.png") !important; 
    background-size: contain;
    background-repeat: no-repeat;
    width:20px !important;
    height:20px !important;
    margin-left:3px;
    border:0px !important;
    display:inherit;
}
.fortyk .weapon-name{
    grid-column: span 2;
    border: 3px solid black;
    width:100%;
    padding:3px;
    font-weight: bolder;
}
.fortyk .ammo-list{
    overflow: auto;
}
.fortyk .weapon-select{
    flex-basis:50%;
}
.fortyk .plus-button{
    background-image: url("../icons/plus.png") !important; 
    background-size: contain;
    background-repeat: no-repeat;
    width:15px !important;
    height:15px !important;
    margin-left:3px;
    display:inherit;
}
.fortyk .minus-button{
    background-image: url("../icons/minus.png") !important; 
    background-size: contain;
    background-repeat: no-repeat;
    width:15px !important;
    height:15px !important;
    margin-left:3px;
    display:inherit;
}
.fortyk .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}
.fortyk .items-list .item-header {
    font-weight: bold;
    font-style:bold;
}
.fortyk .items-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.fortyk .items-list .item .item-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    margin-right: 5px;
}
.fortyk .items-list .item img {
    display: block;
}
.fortyk .items-list .item-name {
    margin: 0;
}
.fortyk .items-list .item-controls {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 86px;
    flex: 0 0 86px;
    text-align: right;
}
.fortyk .new-skill{
    font-weight: 14px;
}
.fortyk .sheet-corruption-insanity{
    height:100%;
}
.fortyk .corruption{
    margin-right:3px;
    justify-content: flex-start;
    flex-direction: column;
}
.fortyk .corr-item{
    flex:none;
    margin-bottom: 5px;
}
.fortyk .section-title{
    text-align: center;
    border-bottom: 2px solid #999;
    width:100%;
    font-weight: bold;
    font-size:19px;
    font-variant-caps: petite-caps;
    margin-bottom: 3px
}
.fortyk .sheet-gear{
    align-items: start;
}
.fortyk .cyber{
    margin-right: 3px;
}
.fortyk .combat-weaponsarmor{
    align-items: start;
}
.combat2{
    overflow: hidden !important;
}
.fortyk .forcefield{
    width:100%;
}

.fortyk .armor-select{
    flex:16;
}
.fortyk .weapons{
    text-align: left;
    width:100%;
}
.fortyk .item-sheet{
    flex: 1;
}
.fortyk .item-description{
    flex-grow:10;
    height: 300px;
    min-height: 300px;
}
.fortyk .actor-background{
    flex-grow:10;
    height: 100%;
}
.fortyk .backgroundandnotes{
    height:100%;
}
.fortyk .editor{
    height:100%;
}
.fortyk .psy-name{
    grid-column: span 3;
    border: 3px solid black;
    width:100%;
    height:100%;
    padding:3px;
    font-weight: bolder;
}
.fortyk .npcskillntraits{
    height:100%;
    width:100%;
}
.fortyk .npcstuff{
    flex-grow: 10;
    height:100%;
    width:100%;
}
.fortyk .npc-img{
    width:150px;
    height: 210px !important;
}
.fortyk .knight-img{
    width:150px;
    height: 150px !important;
}
.fortyk .npcheader{
    display:grid;
    grid-template-columns: auto auto;
}
.fortyk .npcresources{
    flex-grow: 2;
}
.fortyk .npcdescr{
    grid-column: span 1;
}
.fortyk .npc-info{
    overflow: visible;
    height:50%;
}
.fortyk .cod{
    flex:6;
}
.fortyk .movementbox{
    align-items:center;
}
.fortyk .movementbox .movementlabel{
    height:75%;
}
.fortyk .movementbox .movementnumber{
    height:25%;
    border-top: 1px solid #999;
}
.test-success{
    font-weight:bolder;
    color: green !important;
    font-size: larger;
    font-variant-caps: petite-caps;
}
.test-failure{
    font-weight:bolder;
    color: red !important;
    font-size: larger;
    font-variant-caps: petite-caps;
}
.test-overload{
    font-weight:bolder;
    font-size: larger;
    font-variant-caps: petite-caps;
    color: goldenrod !important;
}
.power-push{
    border-color: red !important;
}
.power-safe{
    border-color: green !important;
}
.special-list{
    display:flex;
    justify-self: flex-start;
    padding-left:3px;
    border: 1px solid #999;
    height:100%;
    width:100%;
}
.weapon-special-number{
    flex: 1;
    width: 50px;
    justify-self: flex-end;
}
.dialog-column{
    width:100%;
    height:100%;
    display:block;
}
.attack-section input{
    flex:1;
}
.attack-section label{
    flex:4;
}
.tntselect{
    width:100%;
    height:530px;
    overflow: auto;
}
.tntitem{
    border: 1px solid #999;
    width:100%;
    height:100%;
    padding:3px;
}
.tntheaderitem{
    border: 3px solid #999;
    width:100%;
    height:100%;
    padding:3px;
}
.tntcheckbox{
    grid-column-start:span 1; 
}
.tntname{
    grid-column-start:span 3;
}
.tntprereqs{
    grid-column-start:span 3;
}
.tnttier{
    grid-column-start:span 1; 
}
.tntaptitudes{
    grid-column-start:span 2;
}
.tntdescr{
    grid-column-start:span 1; 
}
.tntdialog .window-content{
    overflow:inherit;
}
.cost-span{
    font-weight: bold;
    border: inset;
    padding-left: 5px;
    width: -webkit-fill-available;
    text-align: center;
}
.cost-header{
    border: groove;
    width: -webkit-fill-available;
    text-align: center;
    font-weight: bolder;
}
.dmg-descr{
    font-size:14px;
    font-style:italic;
}
.chat-target{
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    padding-left: 2px;
}
.chat-background{
    background: url(../icons/impeagle.png);
    background-repeat: round;
    background-position-y: bottom;
}
.chat-message{
    background: url(../icons/impeagle.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
    background-position-x: center;
}
.chat-target:empty{
    display:none;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
}
.chat-crit{
    color:green;
}
.chat-crit-fail{
    color:darkred;
}
.chat-righteous{
    font-style:italic; 
    font-style:bold;
    color:goldenrod;
    font-variant-caps: petite-caps;
}
.discard{
    filter: sepia(0.5) contrast(0.75) opacity(0.4);
    background-color:lightgray;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 200px;
    color: #060606;
    text-align: center;
    border-radius: 6px;
    border-color: black;
    border-style: inset;
    padding: 8px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0%;
    font-variant-caps:normal;
}
/* The actual popup */
.popup .popuptext2 {
    visibility: hidden;
    width: 270px;
    color: #060606;
    text-align: center;
    border-radius: 6px;
    border-color: black;
    border-style: inset;
    padding: 8px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -99%;
    font-variant-caps:normal;
}
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Popup arrow */
.popup .popuptext2::after {
    content: "";
    position: absolute;
    top: 102%;
    left: 68%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.popup .popuptext2 .pop-line{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
}
.cadetHouse-img{
    height:75px;
    width:75px;
}
.mechlab-wrapper{
    height:100%;
    overflow:hidden;
}
.left-mechbay{
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    height: 100%;
}
.right-mechbay{
    flex:3; 
    background: url(../icons/impknightoutline.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
    background-position-x: center;
    height:inherit;
}
.mechbay-grid-section{
    display:flex;
}
.componentgrid{
    display:grid;
    grid-template-columns: 40% auto auto auto;
    overflow-wrap: break-word;
}
.mechgrid{
    display:grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 15% auto 65%;
    height:-webkit-fill-available;
}
.info1{
    grid-column:1;
    grid-row:1;
}
.info2{
    grid-column:3;
    grid-row:1;
}
.info3{
    grid-column:1;
    grid-row:3;
    place-self: flex-end;
}
.info4{
    grid-column:3;
    grid-row:3;
    overflow:scroll;
}
.mechbay-component{
}
.core-input{
    width:10px !important;
}
.carapace{
    grid-column:2;
    grid-row:1;
}
.left-weapon{
    grid-column:1;
    grid-row:2;
}
.right-weapon{
    grid-column:3;
    grid-row:2;
}
.torso{
    grid-column:2;
    grid-row:2 / span 2;    
}
.component-slot{
    border: ridge;
    min-width: -webkit-fill-available;
    justify-content: center;
    display: flex;
}
.filled-slot{
    border: outset; 
    display: flex;
    justify-content: space-between;
    min-width: -webkit-fill-available;
    padding-left: 5px;
    padding-top: 2px;
}
.state{
    height:fit-content;
}
.artillery{
    background-color: #a9a9a996; 
}
.ranged{
    background-color: #8fbc8f9e; 
}
.melee{
    background-color: #f4a4607a;  
}
.auxiliary{
    background-color: #f0f8ffa6;  
}
.core-color{
    background-color:#5f9ea0b8;
}
.structure-color{
    background-color: #ed143da6;
}
.armor-color{
    background-color: #87ceebad; 
}
.forceField-color{
    background-color: #ffd70085;
}
.throne-mod-color{
    background-color: #faebd78c;
}
.sensor-color{
    background-color: #8a2be2a3;
}
.gyro-color{
    background-color: #818589;
}
.plating-color{
    background-color: #008b8ba6;
}
.core-mod-color{
    background-color: #1e90ffb8;
}
.arm-actuator-color{
    background-color: #ba55d3d4; 
}
.leg-actuator-color{
    background-color: #ffff0063; 
}
.other-component-color{
    background-color: #d2b48cbf;
}
.highlight-slot{
    color: #000;
    text-shadow: 0 0 10px red;
    border: dotted;
}
.sheet-content-knight{
    height:66%;
    overflow: scroll;
}
.header-knight{
    height:36%;
}
[hidden] { display: none !important; }