
<div class="grid grid-2col">
    {{#if gaze}}
    
        <label>Fog</label>
        <input class="fex-center" type="checkbox" id="fog" {{#if fog}}checked{{/if}}>
  
    
        <label>Warn Friends</label>
        <input class="fex-center" type="checkbox" id="warned" {{#if warned}}checked{{/if}}>

    {{#if focusedGaze}}
   
        <label>Focus Gaze</label>
        <input class="fex-center" type="checkbox" id="focus" {{#if focusGaze}}checked{{/if}}>

    {{/if}}
    {{/if}}

        <label>Modifier</label>
    <input type="number" id="modifier" name="other" value="0">
 
</div>