<div class="fortyk grid grid-2col">
    <div class="flexcol dialog-column">
        <div class="flexcol attack-section">
            <label class="section-title">Attack Action</label>
            <div class="list-item flexrow"{{#unless single}} hidden{{/unless}}>

                <input type="radio" name="attack-type" value="{{modifiers.standard}}" index='0'attacktype="standard"label="Standard" {{#if single}}checked{{/if}}><label>Standard: +{{modifiers.standard}}</label>
            </div>
            <div class="list-item flexrow" {{#unless semi}} hidden{{/unless}}>

                <input type="radio" name="attack-type" value="{{modifiers.semi}}" index='1' attacktype="semi"label="Semi-Auto"><label>Semi-Auto: +{{modifiers.semi}}</label>
            </div>
            <div class="list-item flexrow" {{#unless full}} hidden{{/unless}}>

                <input type="radio" name="attack-type" value="{{modifiers.full}}" index='2'attacktype="full"label="Full-Auto"{{#unless single}}checked{{/unless}}><label>Full-Auto: {{#if (greaterThan modifiers.full -1)}}+{{/if}}{{modifiers.full}}</label>
            </div>
            <div class="list-item flexrow" {{#unless supp}} hidden{{/unless}}>

                <input type="radio" name="attack-type" value="{{modifiers.suppressive}}" index='3' attacktype="full"label="Suppressing Fire"><label>Suppressing Fire: {{modifiers.suppressive}}</label>
            </div>

            <div class="list-item flexcol"{{#unless single}} hidden{{/unless}}>
                {{#if vehicle}}
                <div class="flexrow">
                    <input type="radio" name="attack-type" value="{{modifiers.called}}"index='0' label="Called Shot" attacktype="called"><label>Called Shot: {{#if (greaterThan modifiers.called -1)}}+{{/if}}{{modifiers.called}}</label>
                    <select name="calledLoc">
                        <option value="20">Motive System</option>
                        <option value="60">Hull</option>
                        <option value="80">Weapon</option>
                        <option value="100">Turret</option>
                    </select>
                </div>
                {{else}}
                <div class="flexrow">
                    <input type="radio" name="attack-type" value="{{modifiers.called}}" index='0' label="Called Shot" attacktype="called"><label>Called Shot: {{#if (greaterThan modifiers.called -1)}}+{{/if}}{{modifiers.called}}</label>
                    <select name="calledLoc">
                        <option value="9">Head</option>
                        <option value="69">Body</option>
                        <option value="29">Left Arm</option>
                        <option value="19">Right Arm</option>
                        <option value="84">Left Leg</option>
                        <option value="99">Right Leg</option>
                    </select>
                </div>
                {{#if fieldPractice}}
                <div class="flexrow">
                    <label>Critical:</label>
                    <select name="fieldPracticeAmt">
                        {{#each fieldPractice}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                {{/if}}
                {{/if}}
            </div>
            <div class="list-item flexrow">

                <input type="checkbox" name="guarded" value="{{modifiers.guarded}}" label="Guarded"><label>Guarded: {{modifiers.guarded}}</label>
            </div>
            <div class="list-item flexrow">

                <input type="checkbox" name="overwatch" value="-20" label="Overwatch"><label>Overwatch: -20</label>
            </div>


        </div>
        {{#unless modifiers.inaccurate}}
        <div class="flexcol attack-section">
            <label class="section-title">Aiming</label>
            <div class="list-item flexrow">

                <input type="radio" name="aim-type" aimtype="No" value="0" checked><label>None: +0</label>

            </div>
            <div class="list-item flexrow">
                <input type="radio" name="aim-type" aimtype="Half" value="{{modifiers.aim.half}}"><label>Half Aim: +{{modifiers.aim.half}}</label>
            </div>
            <div class="list-item flexrow">
                <input type="radio" name="aim-type" aimtype="Full" value="{{modifiers.aim.full}}"><label>Full Aim: +{{modifiers.aim.full}}</label>
            </div>
        </div>
        {{/unless}}
        <div class="flexcol attack-section">
            <label class="section-title">Distance</label>
            <div class="list-item flexrow">
                <input type="radio" name="distance" rangetype="Standard" value="{{modifiers.range.standard}}" {{#if options.normal}} checked{{/if}}><label>Standard: +{{modifiers.range.standard}}</label>
            </div>
            <div class="list-item flexrow">

                <input type="radio" name="distance" rangetype="Point Blank" value="{{modifiers.range.pointblank}}"{{#if options.pointblank}} checked{{/if}}><label>Point blank: +{{modifiers.range.pointblank}}</label>

            </div>
            <div class="list-item flexrow">
                <input type="radio" name="distance" rangetype="Short" value="{{modifiers.range.short}}" {{#if options.short}} checked{{/if}}><label>Short: +{{modifiers.range.short}}</label>
            </div>
            <div class="list-item flexrow">
                <input type="radio" name="distance" rangetype="Long" value="{{modifiers.range.long}}" {{#if options.long}} checked{{/if}}><label>Long: {{modifiers.range.long}}</label>
            </div>
            <div class="list-item flexrow">
                <input type="radio" name="distance" rangetype="Extreme" value="{{modifiers.range.extreme}}" {{#if options.extreme}} checked{{/if}}><label>Extreme: {{modifiers.range.extreme}}</label>
            </div>
        </div>
    </div>
    <div class="flexcol dialog-column">


        <div class="flexcol attack-section">
            <label class="section-title">Visibility</label>
            <div class="list-item flexrow">

                <input type="radio" name="visibility" visibilitytype="Normal" value="0" checked><label>Normal: +0</label>

            </div>
            <div class="list-item flexrow">

                <input type="radio" name="visibility" visibilitytype="Fog/mist/shadow/smoke" value="-10" ><label>Fog/mist/shadow/smoke: -10</label>

            </div>
            <div class="list-item flexrow">

                <input type="radio" name="visibility" visibilitytype="Darkness" value="-20" ><label>Darkness: -20</label>

            </div>

        </div>
        <div class="flexcol attack-section">
            <label class="section-title">Target is</label>

            <div class="list-item flexrow">

                <input type="checkbox" name="prone" value="-10"{{#if options.prone}} checked{{/if}}><label>Prone/Knocked Down/Higher Ground: -10</label>
            </div>
            <div class="list-item flexrow">

                <input type="checkbox" name="high" value="10"{{#if options.high}} checked{{/if}}><label>You are on higher ground: +10</label>
            </div>
            <div class="list-item flexrow">

                <input type="checkbox" name="surprised" value="30" {{#if options.helpless}} checked{{/if}}><label>Surprised/Unaware: +30</label>

            </div>
            {{#if hardTarget}}
            <div class="list-item flexrow">

                <input type="checkbox" name="running" value="-40" {{#if options.running}} checked{{/if}}><label>Running: -40</label>

            </div>
            {{else}}
            <div class="list-item flexrow">

                <input type="checkbox" name="running" value="-20" {{#if options.running}} checked{{/if}}><label>Running: -20</label>

            </div>
            {{/if}}
            <div class="list-item flexrow">

                <input type="checkbox" name="stunned" value="20" {{#if options.stunned}} checked{{/if}}><label>Stunned: +20</label>

            </div>
            <div class="list-item flexrow">

                <input type="checkbox" name="concealed" value="-30" ><label>Fully Concealed: -30</label>

            </div>
            <div class="list-item flexrow">

                <input type="checkbox" name="melee" value="-20" ><label>In melee: -20</label>

            </div>
            <select class="size" name="size">

                {{#if options.size}}
                {{#each size}}
                <option value="{{@index}}" {{#if (equals @index ../options.size)}}selected{{/if}}>{{this.name}}</option>

                {{/each}}
                {{else}}
                {{#each size}}
                <option value="{{@index}}" {{#if (contains this.name "average")}}selected{{/if}}>{{this.name}}</option>

                {{/each}}
                {{/if}}
            </select>

        </div>
    </div>

</div>
<div class="flexcol">
    <label class="section-title">Misc Modifiers: {{#if (greaterThan modifiers.miscMods -1)}}+{{/if}}{{modifiers.miscMods}}</label>
    <label class="section-title">Other Modifiers</label>
    <input type="text" id="modifier" name="other" value="{{modifiers.testMod}}">
</div>