<form>

    <select class="mode">
        {{#select mode}}
        {{#each FORTYK.advancementTypes}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if (compareString mode "Custom")}}
    {{> "systems/fortyk/templates/actor/dialogs/spendExp-dialog-parts/custom.html"}}
    {{/if}}
    <span>Cost: <span id="cost">{{cost}}</span></span>
    <a class="submit button" data-type="advancement" title="Add a new Advancement">Add Advancement</a>
</form>