<form class="spendExp-dialog">

    <select class="mode">
        {{#select mode}}
        {{#each advancementTypes}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if (compareString mode "Custom")}}
    {{> "systems/fortyk/templates/actor/dialogs/spendExp-dialog-parts/custom.html"}}
    {{/if}}
    {{#if (compareString mode "Skill Upgrade")}}
    {{> "systems/fortyk/templates/actor/dialogs/spendExp-dialog-parts/skill.html"}}
    {{/if}}
    {{#if (compareString mode "Characteristic Upgrade")}}
    {{> "systems/fortyk/templates/actor/dialogs/spendExp-dialog-parts/characteristic.html"}}
    {{/if}}
    {{#if (compareString mode "New Skill")}}
    {{> "systems/fortyk/templates/actor/dialogs/spendExp-dialog-parts/newSkill.html"}}
    {{/if}}
    {{#if (compareString mode "Talent")}}
    {{> "systems/fortyk/templates/actor/dialogs/spendExp-dialog-parts/talent.html"}}
    {{/if}}
    {{#if (compareString mode "Signature Wargear")}}
    {{> "systems/fortyk/templates/actor/dialogs/spendExp-dialog-parts/signature-wargear.html"}}
    {{/if}}
    <div class="grid grid-3col">
        <span class="cost-header">Cost </span><span class="cost-header">Character Exp </span><span class="cost-header">Remaining Exp </span>
        <span class="cost-span" id="cost">{{cost}} EXP</span><span class="cost-span" id="actorExp">{{actorExp}} EXP</span><span class="cost-span" id="remainingExp">{{remainingExp}} EXP</span>
    </div>
    
    <button class="submit button" id="submitButton" data-type="advancement" title="Add a new Advancement">Add Advancement</button>
</form>