<section class="tab sheet-content {{tabs.armor.id}} {{tabs.armor.cssClass}}"
         data-tab="{{tabs.armor.id}}"
         data-group="{{tabs.armor.group}}">
            <div class="armor-wrap flexcol">
                <div class="flexrow flex-group-center">
                    <div class="flexcol">

                        <label>Head</label>
                        <input type="text" class="weapon-mod" value="{{system.ap.head.value}}" data-target="system.ap.head.value" data-dtype="Number">
                    </div>

                </div>
                <div class="flexrow flex-group-center">
                    <div class="flexcol">

                        <label>Left Arm</label>
                        <input type="text" class="weapon-mod" value="{{system.ap.lArm.value}}" data-target="system.ap.lArm.value" data-dtype="Number">
                    </div>
                    <div class="flexcol">

                        <label>Body</label>
                        <input type="text" class="weapon-mod" value="{{system.ap.body.value}}" data-target="system.ap.body.value" data-dtype="Number">
                    </div>
                    <div class="flexcol">

                        <label>Right Arm</label>
                        <input type="text" class="weapon-mod" value="{{system.ap.rArm.value}}" data-target="system.ap.rArm.value" data-dtype="Number">
                    </div>
                </div>
                <div class="flexrow flex-group-center">

                    <div class="flexcol">

                        <label>Left Leg</label>
                        <input type="text" class="weapon-mod" value="{{system.ap.lLeg.value}}" data-target="system.ap.lLeg.value" data-dtype="Number">
                    </div>
                    <div class="flexcol">

                        <label>Right Leg</label>
                        <input type="text" class="weapon-mod" value="{{system.ap.rLeg.value}}" data-target="system.ap.rLeg.value" data-dtype="Number">
                    </div>
                </div>
            </div>
        </section>
