<section class="tab sheet-content {{tabs.eaMain.id}} {{tabs.eaMain.cssClass}}"
         data-tab="{{tabs.eaMain.id}}"
         data-group="{{tabs.eaMain.group}}">
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="grid grid-3col">


        <div class="flexcol">
            <label>Type:</label>
            <select class="power-type" name="system.type.value">

                {{selectOptions FORTYK.eliteAdvanceTypes selected=system.type.value valueAttr="value" labelAttr="label"}}
            </select>

        </div>
        {{#if (equals system.type.value "charactertype")}}

        <div class="flexcol">
            <label>Starting Exp:</label>
            <input type="text" class="weapon-mod" value="{{system.experience}}" data-target="system.experience">
        </div>
        {{/if}}

        {{#if (equals system.type.value "planet")}}

        <div class="flexcol">
            <label>Wound Formula:</label>
            <input type="text" class="weapon-mod" value="{{system.wounds.formula}}" data-target="system.wounds.formula">
        </div>
        <div class="flexcol">
            <label>Alternate Wound Bonus:</label>
            <input type="text" class="weapon-mod" value="{{system.wounds.alternate}}" data-target="system.wounds.alternate">
        </div>
        <div class="flexcol">
            <label>Fate Threshold:</label>
            <input type="text" class="weapon-mod" value="{{system.fate.threshold}}" data-target="system.fate.threshold">
        </div>
        <div class="flexcol">
            <label>Fate Roll:</label>
            <input type="text" class="weapon-mod" value="{{system.fate.roll}}" data-target="system.fate.roll">
        </div>
        {{/if}}
        {{#if isGM}}
        <div class="flexcol">
            <a class="manage-reqs button">Manage Requirements</a>
        </div>


        {{/if}}
        <div class="flexcol">
            <label>Prerequisites:</label>
            <input type="text" class="weapon-mod" value="{{system.requirements}}" data-target="system.requirements">
        </div>
        <div class="flexcol">
            <label>Cost:</label>
            <input type="text" class="weapon-mod" value="{{system.cost.value}}" data-target="system.cost.value">
        </div>

        <div class="flexcol">
            <label>Flag:</label>
            <input type="text" class="weapon-mod" value="{{system.flagId.value}}" data-target="system.flagId.value">
        </div>
        <div class="flexcol">
            <label>Aptitudes:</label>
            <input type="text" class="weapon-mod" value="{{system.aptitude.value}}" data-target="system.aptitude.value">


        </div>



    </div>
    <div class="flexcol">
        <div class="flexcol">
            <label>Skills:</label>
            <input type="text" class="weapon-mod" value="{{system.skills}}" data-target="system.skills">
        </div>
        <label>Compendium:</label>

        <select class="compendium-select" data-index="{{@index}}">
            <option value="">None</option>
            {{selectOptions compendiums selected=chosenPack valueAttr="id" labelAttr="label"}}


        </select>
    </div>
    <div class="flexcol">
        <label>Item:</label>
        <select class="item-select" data-index="{{@index}}">
            <option value="">None</option>
            {{#each compendiumItems}}
            <option value="{{uuid}}">{{_source.name}}</option>
            {{/each}}

        </select>
    </div>
    <div class="flexrow">
        {{#unless (equals system.type.value "ea")}}
        <div class="flexcol">
            <label>OR w/ next</label>
            <input id="OR" type="checkbox">
        </div>
        <div class="flexcol">
            <label>AND w/ next</label>
            <input id="AND" type="checkbox">
        </div>
        {{/unless}}
        <div class="flexcol">
            <a id="add" class="add button" disabled>Add Item</a>
        </div>
        <div class="flexcol">
            <a id="remove" class="remove-last button">Remove Last Added Item</a>
        </div>
    </div>

    <div class="flexcol">
        <label>Bonuses:</label>
        {{#each system.items}}
        <div class="flexrow">
            <label>{{#if this.amount}}{{this.amount}}x{{/if}}{{this.name}}{{#if this.isOR}} OR{{else if this.isAND}} AND{{/if}}</label><a class="delete-index fit-content" data-index="{{@index}}">Delete</a>
        </div>

        {{/each}}
    </div>

</section>
