<div class="weapons grid grid-2col">

                <div class="weapon-name">
                    {{#if flags.fortyk.alternateprofiles}}

                    <select class="profile-select" data-id="{{this.id}}">
                        {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                    </select>
                    {{else}}

                    <span>{{this.name}}</span>

                    {{/if}}
                </div>


                <div class="list-item">
                    <span>Attack: </span> 
                    <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../system.characteristics.ws.total}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                </div>
                <div class="list-item">
                    <span>Damage: </span>
                    <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>
                </div>
                {{#if this.flags.fortyk.force}}
                <div class="list-item">

                    <a class="force-roll button" data-label="Force"> Force</a>


                </div>
                {{/if}}
                <div class="list-item">
                    <span>Reach: {{this.system.range.value}}m</span>
                </div>
                <div class="list-item">
                    <span>Penetration: {{this.system.pen.value}}</span>

                </div>
                <div class="list-item">
                    <span>Special: 

                        {{#each this.flags.fortyk as |flag key|}}

                        {{#if (checkSpecial this)}}

                        {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                        <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                            {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                        {{/if}}{{/each}}
                    </span>

                </div>
                <div class="list-item">
                    <span>Damage Type: {{this.system.damageType.value}}</span>

                </div>
                <div class="list-item">
                    <span>Weapon Class: {{this.system.class.value}}</span>


                </div>
                <div class="list-item">
                    <span>Weapon Type: {{this.system.type.value}}</span>
                </div>

            </div>