<div class="sheet-gear flexrow">
    <div class="cyber flexcol">
        {{#if money}}
        <span class="section-title">CURRENCY</span>
        <span>Credits: <input type="text" name="system.currency.value" value="{{system.currency.value}}" data-dtype="Number"></span>
         <span>Base Income: {{system.currency.income}} Credits</span>
        {{/if}}
        
        <span class="section-title">CYBERNETICS</span>
        <a class="item-create button" data-type="cybernetic" title="Add a new Cybernetic">Add Cybernetic</a>
        <div class="list list4col grid grid-4col">
            <a class="list-item-header sort-button" data-sort-type="name" data-path="name" data-item-type="cybernetics">Name</a>
            <a class="list-item-header sort-button" data-sort-type="location" data-path="system.location.value" data-item-type="cybernetics">Location</a>
            <span class="list-item-header"></span>
            <span class="list-item-header-last"></span>
            {{#each actor.cybernetics as |c key|}}

            <a class="item-descr list-item" data-name="{{c.name}}" data-item-descr="{{c.system.description.value}}">{{c.name}}</a>
            <select data-item-id="{{c._id}}" class="cyber-location-select list-item" data-dtype="String">
                {{selectOptions ../system.characterHitLocations selected=c.system.location.value valueAttr="key" labelAttr="label"}}
            </select>
            <span class="list-button"><a class="cyberItem item-edit" title="Edit" data-item-id="{{c._id}}"></a></span>
            <span class="list-button"><a class="cyberItem item-delete" title="Delete" data-item-id="{{c._id}}"></a></span>



            {{/each}}

        </div>
    </div>
    <div class="cyber flexcol">
        <span class="section-title">CARRY</span>
        <div class="carry flexcol">
            <span>Mod: <input type="text" class="combat-resources" data-target="system.carry.mod" value="{{system.carry.mod}}" data-dtype="Number"/></span>
               
            <span>Total Weight: {{system.carry.value}}kg</span>
            <span>Max Weight: {{system.carry.max}}kg</span>
        </div>
        <span class="section-title">WARGEAR</span>
        <a class="wargear-create button" title="Add a new Wargear">Add Wargear</a>

        <div class="list list5col grid grid-5col">
            <a class="list-item-header sort-button" data-sort-type="name" data-path="name" data-item-type="wargear">Name</a>
            <a class="list-item-header sort-button" data-sort-type="amount" data-path="system.amount.value" data-item-type="wargear">Amount</a>
            <a class="list-item-header sort-button" data-sort-type="weight" data-path="system.weight.total" data-item-type="wargear">Weight</a>
            <span class="list-item-header"></span>
            <span class="list-item-header-last"></span>
            {{#each actor.wargear as |w key|}}


            <a class="item-descr list-item drag" data-name="{{w.name}}" data-item-descr="{{w.system.description.value}}">{{w.name}}</a>
            <input type="text" class="item-text-input list-item" data-target="system.amount.value" value="{{w.system.amount.value}}" data-item-id="{{w._id}}" data-dtype="Number">
            <span class="list-item">{{w.system.weight.total}}kg</span>

            <span class="list-button"><a class="list-button item-edit" title="Edit" data-item-id="{{w._id}}"></a></span>
            <span class="list-button"> <a class="list-button item-delete" title="Delete" data-item-id="{{w._id}}"></a></span>



            {{/each}}

        </div>
    </div>
</div>