<div class="sheet-psy flexcol">

    <div class="psy-header grid grid-4col">
        {{#unless (contains system.psykana.psykerType.value "navigator")}}

        <div class="flexrow list-item">
            <label>Psy Rating:</label>
            <input type="text" class="combat-resources" data-target="system.psykana.pr.value" value="{{system.psykana.pr.value}}" data-dtype="Number"/>

        </div>
        <div class="flexrow list-item">
            <label>Bonus PR:</label>
            <input type="text" class="combat-resources" data-target="system.psykana.pr.bonus" value="{{system.psykana.pr.bonus}}" data-dtype="Number"/>

        </div>
        <div class="flexrow list-item">
            <label>Effective PR: {{system.psykana.pr.effective}}</label>

        </div>
        <div class="flexrow list-item">
            <label>Sustained Powers:</label>
            <input type="text" class="combat-resources" data-target="system.psykana.pr.sustain" value="{{system.psykana.pr.sustain}}" data-dtype="Number" disabled/>

        </div>

        <div class="flexrow list-item">
            <label>Phenomena Modifier:</label>
            <input type="text" class="combat-resources" data-target="system.psykana.phenomena.value" value="{{system.psykana.phenomena.value}}" data-dtype="Number"/>

        </div>


        {{/unless}}
        <div class="flexrow list-item">
            <label>Class:</label>
            <select class="psyType-select" name="system.psykana.psykerType.value" data-dtype="String">
                {{selectOptions psykerTypes selected=system.psykana.psykerType.value valueAttr="value" labelAttr="label"}}
            </select>
        </div>
        <div class="flexrow list-item">
            <label>Psy Modifier:</label>
            <input type="text" name="system.psykana.mod.value" value="{{system.psykana.mod.value}}">
        </div>
        <div class="flexrow list-item">
            <label>Show:</label>
            <select class="psyType-select" name="system.psykana.filter" data-dtype="String">

                <option value="">All</option>
                {{selectOptions psyDisciplines selected=system.psykana.filter valueAttr="value" labelAttr="value"}}
            </select>
        </div>


    </div>
    {{#unless (contains system.psykana.psykerType.value "navigator")}}
    <div class="flex-group-center">
        <span class="section-title">Known Psychic Disciplines</span>
        <div class="grid grid-4col">

            <select class="apt1-select" name="system.psykana.disciplines.0" data-dtype="String">
                <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[0] valueAttr="value" labelAttr="value"}}
                
            </select>
            <select class="apt1-select" name="system.psykana.disciplines.1" data-dtype="String">
                <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[1] valueAttr="value" labelAttr="value"}}
            </select>
            <select class="apt1-select" name="system.psykana.disciplines.2" data-dtype="String">
                <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[2] valueAttr="value" labelAttr="value"}}
            </select>
            <select class="apt1-select" name="system.psykana.disciplines.3" data-dtype="String">
                <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[3] valueAttr="value" labelAttr="value"}}
            </select>
            <select class="apt1-select" name="system.psykana.disciplines.4" data-dtype="String">
                <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[4] valueAttr="value" labelAttr="value"}}
            </select>
            <select class="apt1-select" name="ssystem.psykana.disciplines.5" data-dtype="String">
                <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[5] valueAttr="value" labelAttr="value"}}
            </select>
            <select class="apt1-select" name="ssystem.psykana.disciplines.6" data-dtype="String">
                <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[6] valueAttr="value" labelAttr="value"}}
            </select>
            <select class="apt1-select" name="ssystem.psykana.disciplines.7" data-dtype="String">
               <option value="">None</option>
                {{selectOptions psyDisciplines selected=system.psykana.disciplines.[7] valueAttr="value" labelAttr="value"}}
            </select>


        </div>
    </div>

    {{/unless}}
    <a class="item-create button" data-type="psychicPower" title="Add a new Psychic Power">Add Custom Psychic Power</a>
    <div class="psy-powers grid grid-2col">
        {{#each actor.psychicPowers as |power key|}}
        <div class="list-item flexcol">

            <div class="grid grid-3col">




                <a class="list-item psy-name item-descr" data-name="{{this.name}}" data-item-descr="{{this.system.description.value}}">{{this.name}}</a>




                <label class="list-item">Action: {{power.system.action.value}}</label>

                {{#unless (contains ../system.psykana.psykerType.value "navigator")}}
                <label class="list-item">Discipline: {{power.system.discipline.value}}</label>
                <label class="list-item">Power Type: {{power.system.class.value}}</label>

                <label class="list-item">Subtype: {{power.system.subtype.value}}</label>
                <div class="list-item flexrow">
                    <label>PR: </label>
                    <input type="text" class="item-text-input" data-target="system.curPR.value" data-item-id="{{power._id}}" value="{{power.system.curPR.value}}" data-dtype="Number">
                </div>


                <label class="list-item">Sustain: {{power.system.sustain.value}}</label>
                {{else}}
                <div class="list-item2">
                    Training:
                    <select class="power-training" data-item-id="{{power._id}}"  name="system.training.value">
                        {{selectOptions FORTYK.navigatorPowerTraining selected=power.system.training.value valueAttr="value" labelAttr="value"}}
                    </select>
                </div>

                {{/unless}}
                <label class="list-item">Test Type: {{power.system.testChar.value}}</label>



                <label class="list-item">Modifier: {{power.system.testMod.value}}</label>



                <label class="list-item">Range: {{power.system.range.value}}m</label>

                {{#if (contains power.system.class.value "psychic")}}



                <label class="list-item">Penetration: {{power.system.pen.value}}</label>

                <div class="list-item">
                    <span>Special: 
                        {{#each this.flags.fortyk as |flag key|}}

                        {{#if this}}

                        {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                        <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                            {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                        {{/if}}{{/each}}

                    </span>

                </div>

                <label class="list-item">Damage Type: {{power.system.damageType.value}}</label>

                {{/if}}

                <div class="list-item flexcol">
                    <label>Test Target: </label>
                    <span data-item-id="{{power._id}}" class="rollable powerItem button{{#if (greaterThan power.system.curPR.value ../system.psykana.pr.effective)}} power-push{{else}} power-safe{{/if}}" data-roll-type="focuspower" data-PR="{{power.system.curPR.value}}" data-target="{{power.system.target.value}}" data-label="{{power.name}}" data-char="{{power.system.testChar.type}}">{{power.system.target.value}}</span>
                </div>
                {{#if (contains power.system.class.value "psychic")}}
                {{#if power.flags.fortyk.spray}}

                <label class="list-item">
                    <label>Attack: </label>
                    <span class="spray-attack rollable powerItem button" data-roll-type="sprayAttack" data-item-id="{{this.id}}" data-label="Spray Attack" >Spray</span></label>
                {{/if}}
                <label class="list-item">Damage: <a class="damage-roll button" data-label="{{power.name}}"data-formula="{{power.system.damageFormula.value}}" data-weapon="{{power._id}}">{{power.system.damageFormula.value}}</a></label>
                {{else if (contains power.system.class.value "Buff/Debuff")}}
                {{#if power.flags.fortyk.sustained}}
                <label class="list-item"><a class="cancel-buff button" data-label="{{power.name}}"data-power="{{power.uuid}}">Dispel Power</a></label>
                {{else}}
                <label class="list-item"><a class="buff-debuff button" data-label="{{power.name}}"data-power="{{power._id}}">Apply Buff/Debuff</a></label>
                {{/if}}
                {{else if (contains power.system.class.value "Macro")}}
                {{#if power.flags.fortyk.sustained}}
                <label class="list-item"><a class="cancel-buff button" data-label="{{power.name}}"data-power="{{power.uuid}}">Dispel Power</a></label>
                {{else}}
                <label class="list-item"><a class="psy-macro button" data-label="{{power.name}}"data-macro="{{power.system.macro.id}}"data-power="{{this._id}}">Macro</a></label>
                {{/if}}
                {{/if}}
                <div class="list-item flexrow">
                    <span>Favorite <input type="checkbox" class="favorite" data-item-id="{{this._id}}"  {{checked this.system.favorite}}></span>
                    <a class="item-edit" title="Edit Power" data-item-id="{{power._id}}"></a>
                    <a class="item-delete" title="Delete Power" data-item-id="{{power._id}}"></a>
                </div>

            </div>



        </div>
        {{/each}}
    </div>

</div>