<form class="{{cssClass}} flexcol" autocomplete="off">
    {{#if isGM}}
    <div class="flexrow">
        <img class="npc-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="npcresources">
            <div class="npcheader">
                <div class="descrRow flexcol npcdescr">
                    <span class="descrSpan">Name:</span>
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                </div>
                <div class="descrRow flexcol npcdescr">
                    <span class="descrSpan">Race:</span>
                    <input name="data.race.value" type="text" value="{{data.race.value}}" placeholder="???"/>
                </div>
            </div>
            <div class="grid grid-3col">
                <div class="resource flex-group-center">
                    <label for="data.secChar.wounds.value" class="resource-label">Wounds</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.secChar.wounds.value" value="{{data.secChar.wounds.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.secChar.wounds.max" value="{{data.secChar.wounds.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.secChar.fatigue.value" class="resource-label">Fatigue</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.secChar.fatigue.value" value="{{data.secChar.fatigue.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.secChar.fatigue.max" value="{{data.secChar.fatigue.max}}" data-dtype="Number" disabled/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label">Global Modifier</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.globalMOD.value" value="{{data.globalMOD.value}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label">Fate</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.secChar.fate.value" value="{{data.secChar.fate.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.secChar.fate.max" value="{{data.secChar.fate.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label  class="resource-label">Horde</label>
                    <div class="resource-content flex-group-center">
                        <input type="checkbox" name="data.horde.value" {{checked data.horde.value}}>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label  class="resource-label">Sudden Death</label>
                    <div class="resource-content flex-group-center">
                        <input type="checkbox" name="data.suddenDeath.value" {{checked data.suddenDeath.value}}>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexrow">

    </div>

    <div class="characteristics grid grid-10col">




        <span class="characteristicsSpan"></span>

        {{#each data.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div class="charCross flexcol flex-group-center">
            <label for="data.characteristics.{{key}}.value" class="resource-label">{{key}}</label>
        </div>
        {{/unless}}
        {{/each}}


        <div class="charCross flexcol flex-group-center">
            <span class="characteristicsSpan">Base
            </span>
        </div>
        {{#each data.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div>
            <input type="text" name="data.characteristics.{{key}}.total" value="{{char.total}}" data-dtype="Number"/>

        </div>
        {{/unless}}
        {{/each}}

        <div class="charCross flexcol flex-group-center">
            <span class="characteristicsSpan">Unnat</span>
        </div>
        {{#each data.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div>

            <input class="ub" type="text" name="data.characteristics.{{key}}.uB" value="{{char.uB}}" data-dtype="Number"/>
        </div>
        {{/unless}}
        {{/each}}






        <div class="charCross flexcol flex-group-center">
            <span class="characteristicsSpan">Total</span>
        </div>
        {{#each data.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div class="charCross flexcol flex-group-center">
            <span class="char-total rollable button" data-roll-type="char" data-target="{{char.total}}" data-label="{{char.label}}" data-char="{{key}}" title="Bonus: {{char.bonus}}">{{char.total}}</span>
        </div>
        {{/unless}}
        {{/each}}



    </div>

    {{#unless actor.isToken}}
    <div class="flexrow">
        <a class="item-create button" data-type="rangedWeapon" title="Add a Ranged Weapon">Add ranged weapon</a>
        <a class="item-create button" data-type="meleeWeapon" title="Add a Melee Weapon">Add melee weapon</a>
    </div>
    {{/unless}}
    <div class="grid grid-2col">
        {{#each actor.meleeWeapons}}
        <div>
            <div class="weapons grid grid-2col">
                <div class="weapon-name">
                    <span>Name: {{this.name}}</span>
                </div>


                <div class="list-item">
                    <span>Attack: </span>
                    <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../data.characteristics.ws.total}}" data-item-id="{{this._id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                </div>
                <div class="list-item">
                    <span>Damage: </span>
                    <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.damageFormula.value}}" data-weapon="{{this._id}}"> {{this.data.damageFormula.value}}</a>
                </div>
                {{#if this.flags.specials.force.value}}
                <div class="list-item">

                    <a class="force-roll button" data-label="Force"> Force</a>


                </div>
                {{/if}}
                <div class="list-item">
                    <span>Reach: {{this.data.range.value}}m</span>
                </div>
                <div class="list-item">
                    <span>Penetration: {{this.data.pen.value}}</span>

                </div>
                <div class="list-item">
                    <span>Special: 
                        {{#each this.flags.specials}}
                        {{#if this.value}}
                        <a class="item-descr" data-name="{{this.label}}" data-item-descr="{{this.description}}" >{{this.label}}{{#if (isdefined this.num)}}({{this.num}}){{/if}}</a>
                        {{/if}}{{/each}}
                    </span>

                </div>
                <div class="list-item">
                    <span>Damage Type: {{this.data.damageType.value}}</span>

                </div>
                <div class="list-item">
                    <span>Weapon Class: {{this.data.class.value}}</span>


                </div>
                <div class="list-item">
                    <span>Weapon Type: {{this.data.type.value}}</span>


                </div>
                <div class="list-item flexrow">
                    <a class="list-button item-edit" title="Edit" data-item-id="{{this._id}}"></a>
                    <a class="list-button item-delete" title="Delete" data-item-id="{{this._id}}"></a>
                </div>
            </div>
        </div>
        {{/each}}
        {{#each actor.rangedWeapons}}
        <div>

            <div class="weapons grid grid-2col">
                <div class="weapon-name">
                    <span>Name: {{this.name}}</span>
                </div>


                <div class="list-item">
                    <span>Attack: </span>
                    <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../data.characteristics.bs.total}}" data-item-id="{{this._id}}" data-label="Ranged Attack" data-char="bs">Roll</span>
                </div>
                <div class="list-item">
                    <span>Damage: </span>
                    <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.damageFormula.value}}" data-weapon="{{this._id}}"> {{this.data.damageFormula.value}}</a>

                </div>

                {{#if this.flags.specials.force.value}}
                <div class="list-item">

                    <a class="force-roll button" data-label="Force"> Force</a>


                </div>
                {{/if}}
                {{#if this.flags.specials.maximal.value}}
                <div class="list-item">
                    <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this._id}}"  {{checked this.flags.specials.maximal.maximal}}></span>


                </div>
                {{/if}}
                <div class="list-item flexrow">
                    <span>Clip: </span>

                    <input class="item-text-input" type="text" data-target="data.clip.value" value="{{this.data.clip.value}}" name="this.data.clip.value" data-item-id="{{this._id}}" data-dtype="Number">
                    <span> / </span>
                    <span>{{this.data.clip.max}}</span>

                </div>
                <div class="list-item">
                    <span>Range: {{this.data.range.value}}m</span>
                </div>
                <div class="list-item">
                    <span>Penetration: {{this.data.pen.value}}</span>

                </div>
                <div class="list-item">
                    <label>Rate of Fire: {{this.data.rof.[0].value}}/{{this.data.rof.[1].value}}/{{this.data.rof.[2].value}}</label>
                </div>
                <div class="list-item">
                    <span>Reload: {{this.data.reload.value}}</span>

                </div>
                <div class="list-item">
                    <span>Special: 
                        {{#each this.flags.specials}}
                        {{#if this.value}}
                        <a class="item-descr" data-name="{{this.label}}" data-item-descr="{{this.description}}" >{{this.label}}{{#if (isdefined this.num)}}({{this.num}}){{/if}}</a>
                        {{/if}}{{/each}}
                    </span>

                </div>
                <div class="list-item">
                    <span>Damage Type: {{this.data.damageType.value}}</span>

                </div>
                <div class="list-item">
                    <span>Weapon Class: {{this.data.class.value}}</span>


                </div>
                <div class="list-item">
                    <span>Weapon Type: {{this.data.type.value}}</span>


                </div>
                <div class="list-item flexrow">

                    <a class="list-button item-edit" title="Edit" data-item-id="{{this._id}}"></a>
                    <a class="list-button item-delete" title="Delete" data-item-id="{{this._id}}"></a>

                </div>

            </div>
        </div>
        {{/each}}
    </div>
    <div class="grid grid-2col">

        <div class="flexcol">


            <span class="section-title">SIZE</span>
            <select class="sizeSelect" name="data.secChar.size.value" data-dtype="Number">
                {{#select data.secChar.size.value}}

                {{#each size}}

                <option value="{{@index}}">{{this.name}}</option>

                {{/each}}
                {{/select}}
            </select>
            <div class="flexcol flex-group-center">
                <span class="section-title">MOVEMENT</span>
                <div class="flexrow movement">
                    <div class="resource flex-group-center">
                        <label for="data.fatigue.value" class="resource-label">Half Move</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span>{{data.secChar.movement.half}}</span>
                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="data.fatigue.value" class="resource-label">Full Move</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span>{{data.secChar.movement.full}}</span>
                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="data.fatigue.value" class="resource-label">Charge</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span>{{data.secChar.movement.charge}}</span>
                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="data.fatigue.value" class="resource-label">Run</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span>{{data.secChar.movement.run}}</span>
                        </div>
                    </div>
                </div>
                <div class="forcefield flexcol">
                    <span class="section-title">ARMOR & ABSORBTION</span>

                    <div class="flexcol">
                        <span class="section-title">COVER</span>
                        <span class="cover-reset button">Reset Cover</span>
                        <input type="text" class="combat-resources" title="cover" name="data.secChar.cover.value" value="{{data.secChar.cover.value}}" data-dtype="Number"/>
                        <div class="flexrow flex-group-center">
                            <div class="armor flexcol flex-group-center">

                                <span>Head</span>
                                <span>(1-10)</span>
                                <input type="checkbox" class="combat-resources" title="cover" name="data.characterHitLocations.head.cover" {{checked data.characterHitLocations.head.cover}}>
                                <input type="text" name="data.characterHitLocations.head.armor" value="{{data.characterHitLocations.head.armor}}" title="Armor">
                                <span title="Total Soak">{{data.characterHitLocations.head.value}}</span>
                            </div>

                        </div>
                        <div class="flexrow flex-group-center">
                            <div class="armor flexcol flex-group-center">

                                <span>Left Arm</span>
                                <span>(21-30)</span>
                                <input type="checkbox" class="combat-resources" title="cover" name="data.characterHitLocations.lArm.cover" {{checked data.characterHitLocations.lArm.cover}}>
                                <input type="text" name="data.characterHitLocations.lArm.armor" value="{{data.characterHitLocations.lArm.armor}}" title="Armor">
                                <span title="Total Soak">{{data.characterHitLocations.lArm.value}}</span>
                            </div>
                            <div class="armor flexcol flex-group-center">

                                <span>Body</span>
                                <span>(31-70)</span>
                                <input type="checkbox" class="combat-resources" title="cover" name="data.characterHitLocations.body.cover" {{checked data.characterHitLocations.body.cover}}>
                                <input type="text" name="data.characterHitLocations.body.armor" value="{{data.characterHitLocations.body.armor}}" title="Armor">
                                <span title="Total Soak">{{data.characterHitLocations.body.value}}</span>
                            </div>
                            <div class="armor flexcol flex-group-center">

                                <span>Right Arm</span>
                                <span>(11-20)</span>
                                <input type="checkbox" class="combat-resources" title="cover" name="data.characterHitLocations.rArm.cover" {{checked data.characterHitLocations.rArm.cover}}> 
                                <input type="text" name="data.characterHitLocations.rArm.armor" value="{{data.characterHitLocations.rArm.armor}}" title="Armor">
                                <span title="Total Soak">{{data.characterHitLocations.rArm.value}}</span>
                            </div>
                        </div>
                        <div class="flexrow flex-group-center">

                            <div class="armor flexcol flex-group-center">

                                <span>Left Leg</span>
                                <span>(71-85)</span>
                                <input type="checkbox" class="combat-resources" title="cover" name="data.characterHitLocations.lLeg.cover" {{checked data.characterHitLocations.lLeg.cover}}>
                                <input type="text" name="data.characterHitLocations.lLeg.armor" value="{{data.characterHitLocations.lLeg.armor}}" title="Armor">
                                <span title="Total Soak">{{data.characterHitLocations.lLeg.value}}</span>
                            </div>
                            <div class="armor flexcol flex-group-center">

                                <span>Right Leg</span>
                                <span>(86-100)</span>
                                <input type="checkbox" class="combat-resources" title="cover" name="data.characterHitLocations.rLeg.cover" {{checked data.characterHitLocations.rLeg.cover}}>
                                <input type="text" name="data.characterHitLocations.rLeg.armor" value="{{data.characterHitLocations.rLeg.armor}}" title="Armor">
                                <span title="Total Soak">{{data.characterHitLocations.rLeg.value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexcol npcskillntraits">

            <div class="npc-info">
                <span class="section-title">Equipment</span>
                {{editor content=data.equipment.value target="data.equipment.value" button=true owner=owner editable=editable}}
            </div>
            <div class="npc-info">

                <a class="section-title parse-tnt">Talents & Traits</a>

                {{editor content=data.talentsntraits.value target="data.talentsntraits.value" button=true owner=owner editable=editable}}
            </div>
            <div class="npc-info">
                <span class="section-title">Skills</span>
                {{editor content=data.skills.value target="data.skills.value" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>


    <div class="item-description">
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

    {{else}}
    <img class="npc-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=false}}
    {{/if}}
</form>