<div class="sheet-main flexcol">
   

        
   

    <div class="header-fields">
        <div class="descr grid grid-3col">
            <div class="descrRow flexcol">
                <span class="descrSpan">Name:</span>
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Age:</span>
                <input name="data.age.value" type="text" value="{{data.age.value}}" placeholder="??"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Race:</span>
                <input name="data.race.value" type="text" value="{{data.race.value}}" placeholder="Astartes"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Build:</span>
                <input name="data.build.value" type="text" value="{{data.build.value}}" placeholder="??"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Hair:</span>
                <input name="data.hair.value" type="text" value="{{data.hair.value}}" placeholder="bald"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Eye:</span>
                <input name="data.eye.value" type="text" value="{{data.eye.value}}" placeholder="??"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Quirks:</span>
                <input name="data.quirks.value" type="text" value="{{data.quirks.value}}" placeholder="??"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Superstitions:</span>
                <input name="data.superstitions.value" type="text" value="{{data.superstitions.value}}" placeholder="??"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">momentos:</span>
                <input name="data.momentos.value" type="text" value="{{data.momentos.value}}" placeholder="??"/>
            </div>

        </div>
        <div class="descr grid grid-3col">
            <div class="descrRow flexcol">
                <span class="descrSpan">Chapter:</span>
                <input name="data.chapter.value" type="text" value="{{data.chapter.value}}" placeholder="???"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Background:</span>
                <input name="data.background.value" type="text" value="{{data.background.value}}" placeholder="???"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Role:</span>
                <input name="data.role.value" type="text" value="{{data.role.value}}" placeholder="???"/>
            </div>

        </div>
        <div class="eliteAdvances flexcol">

            <span class="descrSpan">Elite Advances:</span>
            <input name="data.eliteAdvances.value" type="text" value="{{data.eliteAdvances.value}}" placeholder="???"/>

        </div>
        <div class="resources flexrow">
            {{!-- "flex-group-center" is also defined in the _grid.scss file
            and it will add a small amount of padding, a border, and will
            center all of its child elements content and text. --}}
            <div class="resource flex-group-center">
                <label for="data.secChar.wounds.value" class="resource-label">Wounds</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.secChar.wounds.value" value="{{data.secChar.wounds.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.secChar.wounds.max" value="{{data.secChar.wounds.max}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="data.secChar.fatigue.value" class="resource-label">Fatigue</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.secChar.fatigue.value" value="{{data.secChar.fatigue.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.secChar.fatigue.max" value="{{data.secChar.fatigue.max}}" data-dtype="Number" disabled/>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="data.fatigue.value" class="resource-label">Influence</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.characteristics.inf.value" value="{{data.characteristics.inf.value}}" data-dtype="Number"/>
                    <span> -> </span>
                    <span class="char-total rollable button" data-roll-type="char" data-target="{{data.characteristics.inf.total}}" data-label="{{data.characteristics.inf.label}}" data-char="inf">{{data.characteristics.inf.total}}</span>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="data.fatigue.value" class="resource-label">Global Modifier</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.globalMOD.value" value="{{data.globalMOD.value}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="resource flex-group-center">
                <label for="data.fatigue.value" class="resource-label">Fate</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.secChar.fate.value" value="{{data.secChar.fate.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.secChar.fate.max" value="{{data.secChar.fate.max}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns.  --}}

        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns.  --}}
        <div class="characteristics grid grid-10col">




            <span class="characteristicsSpan"></span>

            {{#each data.characteristics as |char key|}}
            {{#unless (compareString key "inf")}}
            <div class="charCross flexcol flex-group-center">
                <label for="data.characteristics.{{key}}.value" class="resource-label">{{key}}</label>
            </div>
            {{/unless}}
            {{/each}}


            <div class="charCross flexcol flex-group-center">
                <span class="characteristicsSpan">Base
                </span>
            </div>
            {{#each data.characteristics as |char key|}}
            {{#unless (compareString key "inf")}}
            <div>
                <input type="text" name="data.characteristics.{{key}}.value" value="{{char.value}}" data-dtype="Number"/>

            </div>
            {{/unless}}
            {{/each}}

            <div class="charCross flexcol flex-group-center">
                <span class="characteristicsSpan">Unnat</span>
            </div>
            {{#each data.characteristics as |char key|}}
            {{#unless (compareString key "inf")}}
            <div>

                <input class="ub" type="text" name="data.characteristics.{{key}}.uB" value="{{char.uB}}" data-dtype="Number"/>
            </div>
            {{/unless}}
            {{/each}}
            <div class="charCross flexcol flex-group-center">  
                <span class="characteristicsSpan">Adv</span>
            </div>
            {{#each data.characteristics as |char key|}}
            {{#unless (compareString key "inf")}}

            <select class="charSelect" name="data.characteristics.{{key}}.advance" data-dtype="Number">
                {{#select char.advance}}
                <option value="0">0%</option>
                <option value="5">5%</option>
                <option value="10">10%</option>
                <option value="15">15%</option>
                <option value="20">20%</option>
                <option value="25">25%</option>
                {{/select}}
            </select>
            {{/unless}}
            {{/each}}


            <div class="charCross flexcol flex-group-center"> 
                <span class="characteristicsSpan">Temp</span>
            </div>
            {{#each data.characteristics as |char key|}}
            {{#unless (compareString key "inf")}}

            <input type="text" name="data.characteristics.{{key}}.mod" value="{{char.mod}}" data-dtype="Number"/>
            {{/unless}}
            {{/each}}


            <div class="charCross flexcol flex-group-center">
                <span class="characteristicsSpan">Total</span>
            </div>
            {{#each data.characteristics as |char key|}}
            {{#unless (compareString key "inf")}}
            <div class="charCross flexcol flex-group-center">
                <span class="char-total rollable button" data-roll-type="char" data-target="{{char.total}}" data-label="{{char.label}}" data-char="{{key}}" title="Bonus: {{char.bonus}}">{{char.total}}</span>
            </div>
            {{/unless}}
            {{/each}}



        </div>
    </div>
</div>
