<div class="tnt flexcol">
    <a class="item-create button" data-type="talentntrait" title="Add a new Talent or Trait">Add Talent or Trait</a>
    <ul>
        {{#each actor.talentsntraits as |t key|}}
        <div class="list-item flexrow">
            <dt class="item-descr" data-item-descr="{{t.data.description.value}}">{{t.name}}</dt>
            <a class="tntItem item-edit" title="Edit" data-item-id="{{t._id}}"></a>
            <a class="tntItem item-delete" title="Delete" data-item-id="{{t._id}}"></a>
        </div>

        
        {{/each}}

    </ul>

</div>