<div class="sheet-combat flexcol">

    <div class="characteristics grid grid-10col">
        <span class="characteristicsSpan"></span>

        {{#each system.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div class="charCross flexcol flex-group-center">
            <label for="system.characteristics.{{key}}.value" class="resource-label">{{key}}</label>
        </div>
        {{/unless}}
        {{/each}}
        <div class="charCross flexcol flex-group-center">
            <span class="characteristicsSpan">Total</span>
        </div>
        {{#each system.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div class="charCross flexcol flex-group-center">
            <span class="char-total rollable button" data-roll-type="char" data-target="{{char.total}}" data-label="{{char.label}}" data-char="{{key}}" title="Bonus: {{char.bonus}}">{{char.total}}</span>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    <div class="resources flexrow">

        <div class="flex-group-center">
            <label for="system.secChar.wounds.value" class="resource-label">Wounds</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="text" class="combat-resources" data-target="system.secChar.wounds.value" value="{{system.secChar.wounds.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" class="combat-resources" data-target="system.secChar.wounds.max" value="{{system.secChar.wounds.max}}" data-dtype="Number"/>
            </div>

        </div>
        <div class="flex-group-center">
            <div class="flexcol"><label class="resource-label">Heavy Damage</label> <input type="checkbox"   {{checked this.system.secChar.wounds.heavy}} disabled style="align-self: center;"> </div>
        </div>
        <div class="flex-group-center">
            <label for="system.secChar.fatigue.value" class="resource-label">Fatigue</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="text" class="combat-resources" data-target="system.secChar.fatigue.value" value="{{system.secChar.fatigue.value}}" data-dtype="Number"/>
                <span> / </span>
                <span type="text">{{system.secChar.fatigue.max}}</span>
            </div>
        </div>

        <div class="flex-group-center">
            <label for="system.fatigue.value" class="resource-label">Global Modifier</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="text" class="combat-resources" data-target="system.globalMOD.value" value="{{system.globalMOD.value}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="flex-group-center">
            <label for="system.fatigue.value" class="resource-label">Fate</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input type="text" class="combat-resources" data-target="system.secChar.fate.value" value="{{system.secChar.fate.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" class="combat-resources" data-target="system.secChar.fate.max" value="{{system.secChar.fate.max}}" data-dtype="Number"/>
            </div>
        </div>
        {{#each actor.skills as |skill key|}}
        {{#if (contains skill.name "Dodge")}}
        <div class=" flex-group-center">
            <label class="resource-label">{{skill.name}}</label>
            <div class="resource-content flexrow flex-center flex-between">
                <span class="char-total rollable button" data-roll-type="evasion" data-target="{{skill.system.total.value}}" data-label="{{skill.name}}" data-char="{{skill.system.characteristic.value}}" >{{skill.system.total.value}}</span>
            </div>
        </div>
        {{/if}}
        {{#if (contains skill.name "Parry")}}
        <div class="flex-group-center">
            <label class="resource-label">{{skill.name}}</label>
            <div class="resource-content flexrow flex-center flex-between">
                <span class="char-total rollable button" data-roll-type="evasion" data-target="{{skill.system.total.value}}" data-label="{{skill.name}}" data-char="{{skill.system.characteristic.value}}" >{{skill.system.total.value}}</span>
            </div>
        </div>
        {{/if}}
        {{/each}}
        <div class="flex-group-center">
            <label class="resource-label">Fear</label>
            <div class="resource-content flexrow flex-center flex-between">
                <span class="char-total rollable button" data-roll-type="fear" data-target="{{system.characteristics.wp.total}}" data-label="Fear" data-char="wp" >Test</span>
            </div>
        </div>
    </div>
    <div class="combat-weaponsarmor grid grid-2col">
        <div class="flexcol flex-group-center">
            {{#if (length favoritePowers)}}
            <span class="section-title">Powers</span>
            {{#each favoritePowers}}
            <div class="list-item flexcol">

                <div class="grid grid-3col">




                    <a class="list-item psy-name item-descr" data-name="{{this.name}}" data-item-descr="{{this.system.description.value}}">{{this.name}}</a>



                    <label class="list-item">Action: {{this.system.action.value}}</label>

                    {{#unless (contains ../system.psykana.psykerType.value "navigator")}}



                    <div class="list-item flexrow">
                        <label>PR: </label>
                        <input type="text" class="item-text-input" data-target="system.curPR.value" data-item-id="{{this._id}}" value="{{this.system.curPR.value}}" data-dtype="Number">
                    </div>


                    <label class="list-item">Sustain: {{this.system.sustain.value}}</label>
                    {{else}}



                    {{/unless}}








                    <label class="list-item">Range: {{this.system.range.value}}m</label>

                    {{#if (contains this.system.class.value "psychic")}}



                    <label class="list-item">Penetration: {{this.system.pen.value}}</label>

                    <div class="list-item">
                        <span>Special: 
                            {{#each this.flags.fortyk as |flag key|}}

                            {{#if this}}

                            {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                            <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                            {{/if}}{{/each}}

                        </span>

                    </div>

                    <label class="list-item">Damage Type: {{this.system.damageType.value}}</label>

                    {{/if}}

                    <div class="list-item flexcol">
                        <label>Test Target: </label>
                        <span data-item-id="{{this._id}}" class="rollable powerItem button{{#if (greaterThan this.system.curPR.value ../system.psykana.pr.effective)}} power-push{{else}} power-safe{{/if}}" data-roll-type="focuspower" data-target="{{this.system.target.value}}" data-PR="{{this.system.curPR.value}}" data-label="{{this.name}}" data-char="{{this.system.testChar.type}}">{{this.system.target.value}}</span>
                    </div>
                    {{#if (contains this.system.class.value "psychic")}}
                    {{#if this.flags.fortyk.spray}}
                    <label class="list-item">
                        <label>Attack: </label>
                        <span class="spray-attack rollable powerItem button" data-roll-type="sprayAttack" data-item-id="{{this.id}}" data-label="Spray Attack" >Spray</span></label>
                    {{/if}}
                    <label class="list-item">Damage: <a class="damage-roll button" data-label="{{this.name}}" data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this._id}}">{{this.system.damageFormula.value}}</a></label>
                    {{else if (contains this.system.class.value "Buff/Debuff")}}
                    {{#if power.flags.fortyk.sustained}}
                    <label class="list-item"><a class="cancel-buff button" data-label="{{power.name}}" data-power="{{power.uuid}}">Dispel Power</a></label>
                    {{else}}
                    <label class="list-item"><a class="buff-debuff button" data-label="{{power.name}}" data-power="{{power._id}}">Apply Buff/Debuff</a></label>
                    {{/if}}
                    {{else if (contains power.system.class.value "Macro")}}
                    {{#if power.flags.fortyk.sustained}}
                    <label class="list-item"><a class="cancel-buff button" data-label="{{power.name}}" data-power="{{power.uuid}}">Dispel Power</a></label>
                    {{else}}
                    <label class="list-item"><a class="psy-macro button" data-label="{{power.name}}" data-macro="{{power.system.macro.id}}" data-power="{{this._id}}">Macro</a></label>
                    {{/if}}
                    {{/if}}


                </div>



            </div>
            {{/each}}
            {{/if}}
            <span class="section-title" title="This represents your wielded weapons, you can add additional wielded weapons if you have sub weapons or mechadentrites etc.">Weapons</span>
            <div class="flexrow">
                <a class="worn-item-plus plus-button" title="Add extra weapon"></a>
                <a class="worn-item-minus minus-button" title="Delete extra weapon"></a>
            </div>
            <div class="flexrow">
                <div class="flexcol weapon-select">
                    <span class="resource-label">Left Hand</span>
                    <select class="hand-weapon" data-hand="left" id="left">


                        <option value="" {{#if system.secChar.wornGear.weapons.[1]}}selected{{/if}}>None</option>

                        {{#each actor.meleeWeapons}}
                        <option value="{{this._id}}" {{#if (contains this.system.isEquipped "left")}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                        {{#each actor.rangedWeapons}}

                        <option value="{{this._id}}" {{#if (contains this.system.isEquipped "left")}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="flexcol weapon-select">
                    <span class="resource-label">Right Hand</span>
                    <select class="hand-weapon" data-hand="right"  id="right">

                        <option value="" {{#if system.secChar.wornGear.weapons.[0]}}selected{{/if}}>None</option>

                        {{#each actor.meleeWeapons}}
                        <option value="{{this._id}}" {{#if (contains this.system.isEquipped "right")}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                        {{#each actor.rangedWeapons}}

                        <option value="{{this._id}}" {{#if (contains this.system.isEquipped "right")}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}


                    </select>
                </div>
                {{#each system.secChar.wornGear.extraWeapons}}

                <div class="flexcol weapon-select">
                    <label class="resource-label">Extra Weapon</label>
                    <select class="extra-weapon" data-index="{{@index}}">

                        <option value="" {{#if system.secChar.wornGear.extraWeapons.[@index]}}selected{{/if}}>None</option>
                        {{#each ../actor.meleeWeapons}}
                        <option value="{{this._id}}" {{#if (contains this.system.isEquipped @../index)}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                        {{#each ../actor.rangedWeapons}}
                        <option value="{{this._id}}" {{#if (contains this.system.isEquipped @../index)}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}

                    </select>
                </div>


                {{/each}}


            </div>
            {{#each wornGear.weapons}}
        
            {{#if (contains this.type "ranged")}}

            <div class="weapons grid grid-2col">
                <div class="weapon-name">
                    {{#if flags.fortyk.alternateprofiles}}

                    <select class="profile-select" data-id="{{this.id}}">
                        {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                    </select>
                    {{else}}

                    <span>{{this.name}}</span>

                    {{/if}}
                </div>

                <div class="list-item">
                    <span>Attack: </span> 
                    {{#if (greaterThan this.system.clip.value 0)}}
                    {{#if this.flags.fortyk.spray}}
                    <span class="spray-attack rollable button" data-roll-type="sprayAttack" data-item-id="{{this.id}}" data-label="Spray Attack" >Spray</span>
                    {{else if this.flags.fortyk.torrent}}
                    <span class="torrent-attack rollable button" data-roll-type="torrentAttack" data-item-id="{{this.id}}" data-label="Torrent Attack" >Torrent</span>
                    {{else}}

                    <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../system.characteristics.bs.total}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="bs">Roll</span>

                    {{/if}}
                    {{else}}
                    <span class="weapon-reload button" data-weapon="{{this.id}}" >Reload</span>
                    {{/if}}
                </div>
                <div class="list-item">
                    <span>Damage: </span> 
                    <a class="damage-roll button" data-label="{{this.name}}" data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>

                </div>
                {{#if this.flags.fortyk.force}}
                <div class="list-item">

                    <a class="force-roll button" data-label="Force"> Force</a>


                </div>
                {{/if}}
                {{#if this.flags.fortyk.maximal}}
                <div class="list-item">
                    <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.flags.fortyk.maximalMode}}></span>


                </div>
                {{/if}}
                {{#if this.flags.fortyk.lasModal}}
                <div class="list-item">
                    <span>Las Fire Mode: 
                        <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                            {{selectOptions this.FORTYK.lasModes selected=this.flags.fortyk.lasMode valueAttr="key" labelAttr="label"}}
                        </select>
                    </span>


                </div>
                {{/if}}

                {{#unless (contains this.system.class.value "thrown")}}
                <div class="list-item ammo-list">

                    <label>Current Ammo:</label>
                    <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.system.ammo._id}}">

                       
                        <option value="">None</option>
                        {{selectOptions this.validAmmos selected=this.system.ammo._id valueAttr="_id" labelAttr="label"}}
                        

                    </select>
                </div>
                {{else}}
                <div class="list-item">
                    <span>Amount: {{this.system.amount.value}}</span> 


                </div>
                {{/unless}}
                <div class="list-item flexrow">
                    <span>Current Clip: </span>

                    <input class="item-text-input" type="text" data-target="system.clip.value"  value="{{this.system.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                    <span> / </span>
                    <span>{{this.system.clip.max}}</span>


                </div>
                <div class="list-item">
                    <span>Range: {{this.system.range.value}}m</span>
                </div>
                <div class="list-item">
                    <span>Penetration: {{this.system.pen.value}}</span>

                </div>
                <div class="list-item">
                    <label>Rate of Fire: {{this.system.rof.[0].value}}/{{this.system.rof.[1].value}}/{{this.system.rof.[2].value}}</label>
                </div>
                <div class="list-item">
                    <span>Reload: {{this.system.reload.value}}</span>

                </div>
                <div class="list-item">
                    <span>Special: 

                        {{#each this.flags.fortyk as |flag key|}}


                        {{#if (checkSpecial this)}}

                        {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                        <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                            {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                        {{/if}}{{/each}}
                    </span>

                </div>
                <div class="list-item">
                    <span>Damage Type: {{this.system.damageType.value}}</span>

                </div>
                <div class="list-item">
                    <span>Weapon Class: {{this.system.class.value}}</span>


                </div>
                <div class="list-item">
                    <span>Weapon Type: {{this.system.type.value}}</span>


                </div>

            </div>
            {{else if (contains this.type "melee")}}
            <div class="weapons grid grid-2col">

                <div class="weapon-name">
                    {{#if flags.fortyk.alternateprofiles}}

                    <select class="profile-select" data-id="{{this.id}}">
                        {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                    </select>
                    {{else}}

                    <span>{{this.name}}</span>

                    {{/if}}
                </div>


                <div class="list-item">
                    <span>Attack: </span> 
                    <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../system.characteristics.ws.total}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                </div>
                <div class="list-item">
                    <span>Damage: </span>
                    <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>
                </div>
                {{#if this.flags.fortyk.force}}
                <div class="list-item">

                    <a class="force-roll button" data-label="Force"> Force</a>


                </div>
                {{/if}}
                <div class="list-item">
                    <span>Reach: {{this.system.range.value}}m</span>
                </div>
                <div class="list-item">
                    <span>Penetration: {{this.system.pen.value}}</span>

                </div>
                <div class="list-item">
                    <span>Special: 

                        {{#each this.flags.fortyk as |flag key|}}

                        {{#if (checkSpecial this)}}

                        {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                        <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                            {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                        {{/if}}{{/each}}
                    </span>

                </div>
                <div class="list-item">
                    <span>Damage Type: {{this.system.damageType.value}}</span>

                </div>
                <div class="list-item">
                    <span>Weapon Class: {{this.system.class.value}}</span>


                </div>
                <div class="list-item">
                    <span>Weapon Type: {{this.system.type.value}}</span>
                </div>

            </div>
            {{/if}}

            {{/each}}

        </div>
        <div class="flexcol flex-group-center">
            <span class="section-title">Cover</span>
            <select class="cover"  name="system.secChar.cover.value">
                {{selectOptions coverTypes selected=system.secChar.cover.value valueAttr="value" labelAttr="label"}}
            </select>
            <span class="section-title">Movement</span>
            <div class="flexrow">
                <div class="movementbox flex-group-center">
                    <div class="movementlabel"> <label for="system.fatigue.value" class="movementcontent resource-label">Half Move</label></div>

                    <div class="movementnumber">
                        <span>{{system.secChar.movement.half}}</span>
                    </div>
                </div>
                <div class="movementbox flex-group-center">
                    <div class="movementlabel"> <label for="system.fatigue.value" class="movementcontent resource-label">Full Move</label></div>

                    <div class="movementnumber">
                        <span>{{system.secChar.movement.full}}</span>
                    </div>
                </div>
                <div class="movementbox flex-group-center">
                    <div class="movementlabel"> <label for="system.fatigue.value" class="movementcontent resource-label">Charge</label></div>

                    <div class="movementnumber">
                        <span>{{system.secChar.movement.charge}}</span>
                    </div>
                </div>
                <div class="movementbox flex-group-center">
                    <div class="movementlabel"> <label for="system.fatigue.value" class="movementcontent resource-label">Run</label></div>

                    <div class="movementnumber">
                        <span>{{system.secChar.movement.run}}</span>
                    </div>
                </div>
            </div>
            <div class="forcefield flexcol">

                <span class="section-title">Force Field</span>

                <select class="force-field" >

                    <option value="" {{#if system.secChar.wornGear.forceField}}selected{{/if}}>None</option>
                    {{#each actor.forceFields}}
                    <option value="{{this._id}}" {{#if this.system.isEquipped}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
                {{#if system.secChar.wornGear.forceField._id}}

                <div class="forcefield flexrow flex-group-center">
                    {{#unless system.secChar.wornGear.forceField.system.broken.value}}
                    <label>Overload: {{system.secChar.wornGear.forceField.system.rating.overload}}</label>
                    <label>Rating: </label> 

                    <span class="forcefield rollable button" data-roll-type="forcefield" data-id="{{system.secChar.wornGear.forceField._id}}">{{system.secChar.wornGear.forceField.system.rating.value}}</span>
                    {{else}}
                    <span class="forcefield repairForcefield button" data-id="{{system.secChar.wornGear.forceField._id}}" >Repair</span>
                    {{/unless}}
                </div>

                {{/if}}

            </div>
            <div class="forcefield flexcol" >
                <span class="section-title">Armor & Absorbtion</span>
                <select class="armor-select" >

                    <option value="" {{#if system.secChar.wornGear.armor}}selected{{/if}}>None</option>
                    {{#each actor.armors}}

                    <option value="{{this._id}}" {{#if this.system.isEquipped}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
                <div class="flexcol">

                    <div class="flexrow flex-group-center">
                        <div class="armor flexcol flex-group-center">

                            <span>Head</span>
                            <span>(1-10)</span>
                            <span title="Armor">{{system.characterHitLocations.head.armor}}</span>
                            <span title="Total Soak">{{system.characterHitLocations.head.value}}</span>
                        </div>

                    </div>
                    <div class="flexrow flex-group-center">
                        <div class="armor flexcol flex-group-center">

                            <span>Left Arm</span>
                            <span>(21-30)</span>                       
                            <span title="Armor">{{system.characterHitLocations.lArm.armor}}</span>
                            <span title="Total Soak">{{system.characterHitLocations.lArm.value}}</span>
                        </div>
                        <div class="armor flexcol flex-group-center">

                            <span>Body</span>
                            <span>(31-70)</span>                         
                            <span title="Armor">{{system.characterHitLocations.body.armor}}</span>
                            <span title="Total Soak">{{system.characterHitLocations.body.value}}</span>
                        </div>
                        <div class="armor flexcol flex-group-center">

                            <span>Right Arm</span>
                            <span>(11-20)</span>                          
                            <span title="Armor">{{system.characterHitLocations.rArm.armor}}</span>
                            <span title="Total Soak">{{system.characterHitLocations.rArm.value}}</span>
                        </div>
                    </div>
                    <div class="flexrow flex-group-center">

                        <div class="armor flexcol flex-group-center">

                            <span>Left Leg</span>
                            <span>(71-85)</span>
                            <span title="Armor" >{{system.characterHitLocations.lLeg.armor}}</span>
                            <span title="Total Soak">{{system.characterHitLocations.lLeg.value}}</span>
                        </div>
                        <div class="armor flexcol flex-group-center">

                            <span>Right Leg</span>
                            <span>(86-100)</span>
                            <span title="Armor" >{{system.characterHitLocations.rLeg.armor}}</span>
                            <span title="Total Soak">{{system.characterHitLocations.rLeg.value}}</span>
                        </div>
                    </div>
                </div>
                <span class="section-title">Size</span>
                <select class="sizeSelect" name="system.secChar.size.value" data-dtype="Number">
                    {{selectOptions size selected=system.secChar.size.value valueAttr="index" labelAttr="name"}}
                </select>
            </div>
        </div>
    </div>
</div>