<div class="sheet-main flexcol">
    <div class="header-fields">
        <div class="descr grid grid-3col">
            <div class="descrRow flexcol">
                <span class="descrSpan">Name:</span>
                <input type="text" class="combat-resources" data-target="name" value="{{actor.name}}" data-dtype="String"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Age:</span>
                <input type="text" class="combat-resources" data-target="system.age.value" value="{{system.age.value}}" data-dtype="Number"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Race:</span>
                <select class="raceSelect" name="system.race.value" data-dtype="String">
                   {{selectOptions races selected=system.race.value valueAttr="value" labelAttr="value"}}
                </select>

            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Build:</span>
                <input type="text" class="combat-resources" data-target="system.build.value" value="{{system.build.value}}" data-dtype="String"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Hair:</span>
                <input type="text" class="combat-resources" data-target="system.hair.value" value="{{system.hair.value}}" data-dtype="String"/>
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Eye:</span>
                <input type="text" class="combat-resources" data-target="system.eye.value" value="{{system.eye.value}}" data-dtype="String"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Quirks:</span>
                <input type="text" class="combat-resources" data-target="system.quirks.value" value="{{system.quirks.value}}" data-dtype="String"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Superstitions:</span>
                <input type="text" class="combat-resources" data-target="system.superstitions.value" value="{{system.superstitions.value}}" data-dtype="String"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Momentos:</span>
                <input type="text" class="combat-resources" data-target="system.momentos.value" value="{{system.momentos.value}}" data-dtype="String"/>
            </div>

        </div>
        <div class="descr grid grid-3col">
            <div class="descrRow flexcol">
                <span class="descrSpan">Homeworld:</span>
                <input type="text" class="combat-resources" data-target="system.homeWorld.value" value="{{system.homeWorld.value}}" data-dtype="String"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Background:</span>
                <input type="text" class="combat-resources" data-target="system.background.value" value="{{system.background.value}}" data-dtype="String"/>
            </div>
            <div class="descrRow flexcol">
                <span class="descrSpan">Role:</span>
                <input type="text" class="combat-resources" data-target="system.role.value" value="{{system.role.value}}" data-dtype="String"/>
            </div>

        </div>
        <div class="eliteAdvances flexcol">
            <div>
                <span class="descrSpan">Elite Advances:</span>
                <input type="text" class="combat-resources" data-target="system.eliteAdvances.value" value="{{system.eliteAdvances.value}}" data-dtype="String"/>
                <div>
                    <span class="descrSpan">Divination:</span>
                    <input type="text" class="combat-resources" data-target="system.divination.value" value="{{system.divination.value}}" data-dtype="String"/>

                </div>
                <div>
                    <span class="descrSpan">Goal:</span>
                    <input type="text" class="combat-resources" data-target="system.goal.value" value="{{system.goal.value}}" data-dtype="String"/>

                </div>

            </div>
            <div class="resources flexrow">

                <div class="flex-group-center">
                    <label for="system.secChar.wounds.value" class="resource-label">Wounds</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.secChar.wounds.value" value="{{system.secChar.wounds.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" class="combat-resources" data-target="system.secChar.wounds.max" value="{{system.secChar.wounds.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Fatigue</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.secChar.fatigue.value" value="{{system.secChar.fatigue.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <span type="text">{{system.secChar.fatigue.max}}</span>
                    </div>
                </div>
                <div class="flex-group-center">
                    <label for="system.fatigue.value" class="resource-label">Influence</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.characteristics.inf.value" value="{{system.characteristics.inf.value}}" data-dtype="Number"/>
                        <span> -> </span>
                        <span class="char-total rollable button" data-roll-type="char" data-target="{{system.characteristics.inf.total}}" data-label="{{system.characteristics.inf.label}}" data-char="inf">{{system.characteristics.inf.total}}</span>
                    </div>
                </div>
                <div class="flex-group-center">
                    <label for="system.fatigue.value" class="resource-label">Global Modifier</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.globalMOD.value" value="{{system.globalMOD.value}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="flex-group-center">
                    <label for="system.fatigue.value" class="resource-label">Fate</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.secChar.fate.value" value="{{system.secChar.fate.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" class="combat-resources" data-target="system.secChar.fate.max" value="{{system.secChar.fate.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <div class="characteristics grid grid-10col">





                <span class="characteristicsSpan"></span>


                {{#each system.characteristics as |char key|}}
                {{#unless (compareString key "inf")}}
                <div class="charCross flexcol flex-group-center">
                    <label for="system.characteristics.{{key}}.value" class="resource-label">{{key}}</label>
                </div>
                {{/unless}}
                {{/each}}


                <div class="charCross flexcol flex-group-center">
                    <span class="characteristicsSpan">Base
                    </span>
                </div>
                {{#each system.characteristics as |char key|}}
                {{#unless (compareString key "inf")}}
                <div>
                    <input type="text" class="combat-resources" data-target="system.characteristics.{{key}}.value" value="{{char.value}}" data-dtype="Number"/>


                </div>
                {{/unless}}
                {{/each}}

                <div class="charCross flexcol flex-group-center">
                    <span class="characteristicsSpan">Unnat</span>
                </div>
                {{#each system.characteristics as |char key|}}
                {{#unless (compareString key "inf")}}
                <div>

                    <input type="text" class="combat-resources" data-target="system.characteristics.{{key}}.uB" value="{{char.uB}}" data-dtype="Number"/>
                </div>
                {{/unless}}
                {{/each}}
                <div class="charCross flexcol flex-group-center">  
                    <span class="characteristicsSpan">Adv</span>
                </div>
                {{#each system.characteristics as |char key|}}
                {{#unless (compareString key "inf")}}

                <select class="charSelect" name="system.characteristics.{{key}}.advance" data-dtype="Number">
                     {{selectOptions ../advances selected=char.advance valueAttr="value" labelAttr="label"}}
                </select>
                {{/unless}}
                {{/each}}


                <div class="charCross flexcol flex-group-center"> 
                    <span class="characteristicsSpan">Temp</span>
                </div>
                {{#each system.characteristics as |char key|}}
                {{#unless (compareString key "inf")}}
                <input type="text" class="combat-resources" data-target="system.characteristics.{{key}}.mod" value="{{char.mod}}" data-dtype="Number"/>

                {{/unless}}
                {{/each}}


                <div class="charCross flexcol flex-group-center">
                    <span class="characteristicsSpan">Total</span>
                </div>
                {{#each system.characteristics as |char key|}}
                {{#unless (compareString key "inf")}}
                <div class="charCross flexcol flex-group-center">
                    <span class="char-total rollable button" data-roll-type="char" data-target="{{char.total}}" data-label="{{char.label}}" data-char="{{key}}" title="Bonus: {{char.bonus}}">{{char.total}}</span>
                </div>
                {{/unless}}
                {{/each}}



            </div>
        </div>
    </div>
</div>