<form class="npc-sheet" autocomplete="off">


    {{#if isOwner}}
    <header class="flexcol npc-header">
        <div class="flexrow">
            <img class="npc-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div class="npcresources">
                <div class="npcheader">
                    <div class="descrRow flexcol npcdescr">
                        <span class="descrSpan">Name:</span>
                        <input type="text" class="combat-resources" data-target="name" value="{{name}}" data-dtype="String"/>
                    </div>
                    <div class="descrRow flexcol">
                        <span class="descrSpan">Race:</span>
                        <select class="raceSelect" name="system.race.value" data-dtype="String">
                            {{selectOptions races selected=system.race.value valueAttr="value" labelAttr="value"}}
                        </select>

                    </div>
                </div>
                <div class="grid grid-4col">
                    <div class="resource flex-group-center">
                        <label for="system.secChar.wounds.value" class="resource-label">Wounds</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" class="combat-resources" data-target="system.secChar.wounds.value" value="{{system.secChar.wounds.value}}" data-dtype="Number"/>

                            <span> / </span>
                            <input type="number" class="combat-resources" data-target="system.secChar.wounds.max" value="{{system.secChar.wounds.max}}" data-dtype="Number"/>

                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="system.secChar.fatigue.value" class="resource-label">Fatigue</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" class="combat-resources" data-target="system.secChar.fatigue.value" value="{{system.secChar.fatigue.value}}" data-dtype="Number"/>

                            <span> / </span>
                            <input type="number" class="combat-resources" data-target="system.secChar.fatigue.max" value="{{system.secChar.fatigue.max}}" data-dtype="Number" disabled/>

                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label class="resource-label">Global Modifier</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" class="combat-resources" data-target="system.globalMOD.value" value="{{system.globalMOD.value}}" data-dtype="Number"/>

                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label class="resource-label">Fate</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" class="combat-resources" data-target="system.secChar.fate.value" value="{{system.secChar.fate.value}}" data-dtype="Number"/>

                            <span> / </span>
                            <input type="number" class="combat-resources" data-target="system.secChar.fate.max" value="{{system.secChar.fate.max}}" data-dtype="Number"/>
                        </div>
                    </div>

                    <div class="resource flex-group-center">
                        <label  class="resource-label">Horde</label>
                        <div class="resource-content flex-group-center">
                            <input type="checkbox" name="system.horde.value" {{checked system.horde.value}}>
                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label  class="resource-label">Formation</label>
                        <div class="resource-content flex-group-center">
                            <input type="checkbox" name="system.formation.value" {{checked system.formation.value}}>
                        </div>
                    </div>

                    <div class="resource flex-group-center">
                        <label  class="resource-label">Sudden Death</label>
                        <div class="resource-content flex-group-center">
                            <input type="checkbox" name="system.suddenDeath.value" {{checked system.suddenDeath.value}}>
                        </div>
                    </div>
                    <div class="resource flexcol">
                        <span class="char-total rollable button" data-roll-type="evasion" data-target="{{system.parry.total}}" data-label="Parry" data-char="ws" >Parry</span>
                        <span class="char-total rollable button" data-roll-type="evasion" data-target="{{system.dodge.total}}" data-label="Dodge" data-char="agi" >Dodge</span>
                    </div>
                </div>
            </div>
        </div>
<div class="characteristics grid grid-10col">





        <span class="characteristicsSpan"></span>


        {{#each system.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div class="charCross flexcol flex-group-center">
            <label for="system.characteristics.{{key}}.value" class="resource-label">{{key}}</label>
        </div>
        {{/unless}}
        {{/each}}


        <div class="charCross flexcol flex-group-center">
            <span class="characteristicsSpan">Base
            </span>
        </div>
        {{#each system.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div>
            <input type="number" class="combat-resources" data-target="system.characteristics.{{key}}.value" value="{{char.value}}" data-dtype="Number"/>


        </div>
        {{/unless}}
        {{/each}}

        <div class="charCross flexcol flex-group-center">
            <span class="characteristicsSpan">Unnat</span>
        </div>
        {{#each system.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div>
            <input type="number" class="combat-resources" data-target="system.characteristics.{{key}}.uB" value="{{char.uB}}" data-dtype="Number"/>

        </div>
        {{/unless}}
        {{/each}}






        <div class="charCross flexcol flex-group-center">
            <span class="characteristicsSpan">Total</span>
        </div>
        {{#each system.characteristics as |char key|}}
        {{#unless (compareString key "inf")}}
        <div class="charCross flexcol flex-group-center">
            <span class="char-total rollable button" data-roll-type="char" data-target="{{char.total}}" data-label="{{char.label}}" data-char="{{key}}" title="Bonus: {{char.bonus}}">{{char.total}}</span>
        </div>
        {{/unless}}
        {{/each}}



    </div>

    {{>'templates/generic/tab-navigation.hbs'}}

    </header>











    {{else}}
    <img class="npc-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    {{{enrichedDescription}}}
    {{/if}}

</form>
