<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs grid grid-3col" data-group="primary">
            
            <a class="item" data-tab="main">MAIN</a>
            <a class="item skillTab" data-tab="skills">SKILLS</a>
            <a class="item" data-tab="tnt">TALENTS & TRAITS</a>
            <a class="item" data-tab="gear">GEAR & CYBERNETICS</a>
            <a class="item" data-tab="exp">EXP & MISSIONS</a>
            
            
            <a class="item" data-tab="psykana">PSYKANA</a>
            <a class="item" data-tab="combat">COMBAT</a>
            <a class="item" data-tab="corruption">CORRUPTION, INSANITY & INJURY</a>
             <a class="item" data-tab="background">BACKGROUND & NOTES</a>
            
        </nav>

    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-content">

        {{!-- Main Tab --}}
        <div class="tab main" data-group="primary" data-tab="main">
            {{> "systems/fortyk/templates/actor/actorOW-main.html"}}
        </div>

        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> "systems/fortyk/templates/actor/actor-skills.html"}}
        </div>
        <div class="tab tnt" data-group="primary" data-tab="tnt">
            {{> "systems/fortyk/templates/actor/actor-tnt.html"}}
        </div>
        <div class="tab exp" data-group="primary" data-tab="exp">
            {{> "systems/fortyk/templates/actor/actor-exp.html"}}
        </div>
        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> "systems/fortyk/templates/actor/actor-combat.html"}}
        </div>
        <div class="tab gear" data-group="primary" data-tab="gear">
            {{> "systems/fortyk/templates/actor/actor-gear.html"}}
        </div>
        <div class="tab psykana" data-group="primary" data-tab="psykana">
            {{> "systems/fortyk/templates/actor/actor-psykana.html"}}
        </div>
        <div class="tab corruption" data-group="primary" data-tab="corruption">
            {{> "systems/fortyk/templates/actor/actor-corruption.html"}}
        </div>
        <div class="tab background" data-group="primary" data-tab="background">
            {{> "systems/fortyk/templates/actor/actor-background.html"}}
        </div>
        
    </section>
</form>

