<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">

        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs grid grid-3col" data-group="primary">

            <a class="item" data-tab="main">MAIN</a>
            <a class="item" data-tab="repairbay">REPAIR BAY</a>
            <a class="item" data-tab="inventory">INVENTORY</a>


        </nav>

    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-content">

        {{!-- Main Tab --}}
        <div class="tab main" data-group="primary" data-tab="main">
            <div class="descr ">
                <div class="descrRow flex-group-left">
                    <span class="descrSpan">House Name:</span>
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                </div>
            </div>
            <div class="descr flexcol">
                <div class="descrRow flex-group-left">
                    <label class="underline">House & Alliances</label>
                    <div class=" flexcol">
                        <span class="descrSpan">High King:</span>
                        <input type="text" class="combat-resources" data-target="data.alliances.highKing" value="{{data.alliances.highKing}}"placeholder="High King" data-dtype="String"/>
                        <div class=" flexcol">
                            <span class="descrSpan">House Type:</span>
                            <input type="text" class="combat-resources" data-target="data.alliances.houseType" value="{{data.alliances.houseType}}"placeholder="Type" data-dtype="String"/>
                        </div>
                        <div class=" flexcol">
                            <span class="descrSpan">House Alliance:</span>
                            <input type="text" class="combat-resources" data-target="data.alliances.recentAlliance" value="{{data.alliances.recentAlliance}}"placeholder="Faction" data-dtype="String"/>
                        </div>
                        <div class=" flexcol">
                            <span class="descrSpan">House Navigator:</span>
                            <input type="text" class="combat-resources" data-target="data.alliances.navigatorAlliance" value="{{data.alliances.navigatorAlliance}}"placeholder="Navigator House" data-dtype="String"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="descr flexcol">
                <div class="descrRow flex-group-left">
                    <label class="underline">House Wealth</label>
                    <div class="flexrow">
                        <div class=" flexcol">
                            <span class="descrSpan">Rating:</span>
                            <input type="text" class="combat-resources" data-target="data.wealth.rating" value="{{data.wealth.rating}}"placeholder="0" data-dtype="Number"/>
                        </div>
                        <div class=" flexcol">
                            <span class="descrSpan">Income:</span>
                            <input type="text" class="combat-resources" data-target="data.wealth.income" value="{{data.wealth.income}}"placeholder="0" data-dtype="Number" disabled/>
                        </div>
                        <span class="button addIncome" >Add Income</span>
                    </div>

                    <div class=" flexcol">
                        <span class="descrSpan">Imperial Bonds:</span>
                        <input type="text" class="combat-resources" data-target="data.wealth.value" value="{{data.wealth.value}}"placeholder="0" data-dtype="Number"/>
                    </div>



                </div>
            </div>
            <div class="descr flexrow">

                <div class="descrRow flex-group-left">

                    <label class="underline">Cadet Houses</label>
                    <a class="item-create button" data-type="cadetHouse" title="Add a new Cadet House">Add Cadet House</a>
                    {{#each cadetHouses}}
                    <div class="desccrRow flex-group-left flexcol">
                        <div class="list-item">
                            <span class="underline">Name:</span>
                            <span>{{name}}</span>
                        </div>

                        <div class="list-item">
                            <span class="underline">House Head:</span>
                            <span>{{data.data.houseHead.value}}</span>
                        </div>

                        <div class="list-item flexrow">
                            <span class="underline">Location:</span>
                            <span>{{data.data.location.value}}</span>
                            <a class="list-button item-edit" title="Edit" data-item-id="{{this.id}}"></a>
                            <a class="list-button item-delete" title="Delete" data-item-id="{{this.id}}"></a>
                        </div>


                    </div>
                    {{/each}}

                </div>
                <div class="descrRow flex-group-left">

                    <label class="underline">House Holdings</label>
                    <a class="item-create button" data-type="outpost" title="Add a new Holding">Add Holding</a>
                    {{#each outposts}}
                    <div class="desccrRow flex-group-left flexcol">
                        <div class="list-item">
                            <span class="underline">Name:</span>
                            <span>{{name}}</span>
                        </div>

                        <div class="list-item">
                            <span class="underline">Type: </span>
                            <span>{{data.data.type.value}}</span>
                        </div>

                        <div class="list-item flexrow">
                            <span class="underline">Location: </span>
                            <span>{{data.data.location.value}}</span>
                            <a class="list-button item-edit" title="Edit" data-item-id="{{this.id}}"></a>
                            <a class="list-button item-delete" title="Delete" data-item-id="{{this.id}}"></a>
                        </div>


                    </div>
                    {{/each}}
                </div>
            </div>

        </div>



        <div class="tab repairbay" data-group="primary" data-tab="repairbay">
            <div class=" flexcol">
                <span class="descrSpan">Repair Bays:</span>
                <input type="text" class="combat-resources" data-target="data.repairBays.value" value="{{data.repairBays.value}}"placeholder="1" data-dtype="Number"/>
            </div>
            <span class="descrSpan">Days to pass:</span>
            <input type="text" id="daysToPass" placeholder="0"/>
            <a class="passTime button">Pass Time</a>
            <a class="item-create button" data-type="repairEntry" title="Add a new Repair Entry">Add Repair Entry</a>
            <div class="list grid grid-3col">
                <span class="list-item-header">Entry</span>
                <span class="list-item-header">Knight</span>
                <span class="list-item-header">Time Left</span>
                {{debug this}}
                {{#each repairEntries}}
                {{debug ../data}}
                <div class=" drag {{#if (greaterThan ../data.repairBays.value @index)}}list-emphasis{{else}}list-item{{/if}}"  data-id="{{this.id}}">

                    <span data-id="{{this.id}}">{{name}}</span>
                </div>

                <div class="{{#if (greaterThan ../data.repairBays.value @index)}}list-emphasis{{else}}list-item{{/if}}">

                    <span>{{data.data.knight.value}}</span>
                </div>

                <div class="flexrow {{#if (greaterThan ../data.repairBays.value @index)}}list-emphasis{{else}}list-item{{/if}}">

                    <span>{{data.data.time.value}} Days</span>
                    <a class="list-button item-edit" title="Edit" data-item-id="{{this.id}}"></a>
                    <a class="list-button item-delete" title="Delete" data-item-id="{{this.id}}"></a>
                </div>



                {{/each}}
            </div>
        </div>
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            <div class="descr flexcol">

                <div class="descrRow grid grid-3col">
                    <div class="flexcol">

                        <span class="descrSpan">Squad Logistics:</span>
                        <input type="text" value="{{data.characteristics.inf.value}}" name="data.characteristics.inf.value" placeholder="10"/>
                    </div>
                    <div class="flexcol">

                        <span class="descrSpan">Logistics Modifier:</span>
                        <input type="text" value="{{data.characteristics.inf.mod}}" name="data.characteristics.inf.mod" placeholder="0"/>
                    </div>
                    <div class="flexcol">
                        <span class="descrSpan">Total Logistics:</span>
                        <span class="char-total rollable button" data-roll-type="char" data-target="{{data.characteristics.inf.total}}" data-label="{{data.characteristics.inf.label}}" data-char="inf">{{data.characteristics.inf.total}}</span>

                    </div>

                </div>
            </div>
            <div class="descr flexcol">
                <div class="descrRow flex-group-left">
                    <label class="underline">WARFRONT CONDITIONS</label>
                    <div class="flexcol">

                        <span class="descrSpan">Number of Troops:</span>
                        <select class="charSelect" name="data.characteristics.inf.not" data-dtype="Number">
                            {{#select data.characteristics.inf.not}}
                            <option value="-10">Company or Less</option>
                            <option value="0">Single Regiment</option>
                            <option value="10">Multiple Regiments</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="flexcol">

                        <span class="descrSpan">Time Spent in Front:</span>
                        <select class="charSelect" name="data.characteristics.inf.time" data-dtype="Number">
                            {{#select data.characteristics.inf.time}}
                            <option value="-10">Less then 3 months</option>
                            <option value="0">3-6 months</option>
                            <option value="10">6-12 months</option>
                            <option value="20">1-5 years</option>
                            <option value="30">5+ years</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="flexcol">

                        <span class="descrSpan">Front Active:</span>
                        <select class="charSelect" name="data.characteristics.inf.frontActive" data-dtype="Number">
                            {{#select data.characteristics.inf.frontActive}}
                            <option value="-10">Less then 3 months</option>
                            <option value="0">3-6 months</option>
                            <option value="10">6-12 months</option>
                            <option value="20">1-5 years</option>
                            <option value="30">5+ years</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="flexcol">

                        <span class="descrSpan">War Conditions:</span>
                        <select class="charSelect" name="data.characteristics.inf.war" data-dtype="Number">
                            {{#select data.characteristics.inf.war}}
                            <option value="-30">Losing Badly</option>
                            <option value="-20">Faltering</option>
                            <option value="-10">Violent Impasse</option>
                            <option value="30">Ceasefire</option>
                            <option value="10">Near Victorious</option>
                            <option value="20">Dominant</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab personnel" data-group="primary" data-tab="personnel">
            <div class="descr flexcol">

                <div class="descrRow flex-group-left">
                    <label class="underline">Squad Details</label>
                    <div class="flexcol">

                        <span class="descrSpan">Squad Name:</span>
                        <input type="text" value="{{data.personnel.squadName}}" name="data.personnel.squadName" placeholder="Name"/>
                    </div>
                    <div class="flexcol">
                        <span class="descrSpan">Platoon Name:</span>
                        <input type="text" value="{{data.personnel.platoonName}}" name="data.personnel.platoonName" placeholder="Name"/>

                    </div>
                    <div class="flexcol">
                        <span class="descrSpan">Regiment Strength:</span>
                        <input type="text" value="{{data.personnel.strength}}" name="data.personnel.strength" placeholder="Culture"/>
                    </div>
                </div>
            </div>
            <span class="addguard button">Add Guardsman</span>
            <div class="list grid grid-3col">
                <div class="flex-group-center">
                    <label>Name</label>
                </div>
                <div class="flex-group-center">
                    <label>Status</label>
                </div>
                <div class="flex-group-center">
                    <label>Cause of Death</label>
                </div>
                {{#each data.personnel.squad}}
                <input type="text" value="{{this.name}}" name="data.personnel.squad.{{@index}}.name" placeholder="Name"/>
                <input type="text" value="{{this.status}}" name="data.personnel.squad.{{@index}}.status" placeholder="Status"/>
                <div class="flexrow">
                    <input class="cod"type="text" value="{{this.cod}}" name="data.personnel.squad.{{@index}}.cod" placeholder="C.O.D."/>
                    <a class="list-button item-delete deleteguard" title="Delete" data-index="{{@index}}"></a></div>
                {{/each}}
            </div>

        </div>


    </section>
</form>
