<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">

        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs grid grid-3col" data-group="primary">

            <a class="item" data-tab="main">MAIN</a>
            <a class="item" data-tab="repairbay">REPAIR BAY</a>
            <a class="item" data-tab="inventory">INVENTORY</a>


        </nav>

    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-content">

        {{!-- Main Tab --}}
        <div class="tab main" data-group="primary" data-tab="main">
            <div class="descr ">
                <div class="descrRow flex-group-left">
                    <span class="descrSpan">House Name:</span>
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                </div>
            </div>
            <div class="descr flexcol">
                <div class="descrRow flex-group-left">
                    <label class="underline">House & Alliances</label>
                    <div class=" flexcol">
                        <span class="descrSpan">High King:</span>
                        <input type="text" class="combat-resources" data-target="data.alliances.highKing" value="{{data.alliances.highKing}}"placeholder="High King" data-dtype="String"/>
                        <div class=" flexcol">
                            <span class="descrSpan">House Type:</span>
                            <input type="text" class="combat-resources" data-target="data.alliances.houseType" value="{{data.alliances.houseType}}"placeholder="Type" data-dtype="String"/>
                        </div>
                        <div class=" flexcol">
                            <span class="descrSpan">House Alliance:</span>
                            <input type="text" class="combat-resources" data-target="data.alliances.recentAlliance" value="{{data.alliances.recentAlliance}}"placeholder="Faction" data-dtype="String"/>
                        </div>
                        <div class=" flexcol">
                            <span class="descrSpan">House Navigator:</span>
                            <input type="text" class="combat-resources" data-target="data.alliances.navigatorAlliance" value="{{data.alliances.navigatorAlliance}}"placeholder="Navigator House" data-dtype="String"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="descr flexcol">
                <div class="descrRow flex-group-left">
                    <label class="underline">House Wealth</label>
                    <div class="flexrow">
                        <div class=" flexcol">
                            <span class="descrSpan">Rating:</span>
                            <input type="text" class="combat-resources" data-target="data.wealth.rating" value="{{data.wealth.rating}}"placeholder="0" data-dtype="Number"/>
                        </div>
                        <div class=" flexcol">
                            <span class="descrSpan">Income:</span>
                            <input type="text" class="combat-resources" data-target="data.wealth.income" value="{{data.wealth.income}}"placeholder="0" data-dtype="Number" disabled/>
                        </div>
                        <span class="button addIncome" >Add Income</span>
                    </div>

                    <div class=" flexcol">
                        <span class="descrSpan">Imperial Bonds:</span>
                        <input type="text" class="combat-resources" data-target="data.wealth.value" value="{{data.wealth.value}}"placeholder="0" data-dtype="Number"/>
                    </div>



                </div>
            </div>
            <div class="descr flexrow">

                <div class="descrRow flex-group-left">

                    <label class="underline">Cadet Houses</label>
                    <a class="item-create button" data-type="cadetHouse" title="Add a new Cadet House">Add Cadet House</a>
                    {{#each cadetHouses}}
                    <div class="desccrRow flex-group-left flexcol">
                        <div class="list-item">
                            <span class="underline">Name:</span>
                            <span>{{name}}</span>
                        </div>

                        <div class="list-item">
                            <span class="underline">House Head:</span>
                            <span>{{data.data.houseHead.value}}</span>
                        </div>

                        <div class="list-item flexrow">
                            <span class="underline">Location:</span>
                            <span>{{data.data.location.value}}</span>
                            <a class="list-button item-edit" title="Edit" data-item-id="{{this.id}}"></a>
                            <a class="list-button item-delete" title="Delete" data-item-id="{{this.id}}"></a>
                        </div>


                    </div>
                    {{/each}}

                </div>
                <div class="descrRow flex-group-left">

                    <label class="underline">House Holdings</label>
                    <a class="item-create button" data-type="outpost" title="Add a new Holding">Add Holding</a>
                    {{#each outposts}}
                    <div class="desccrRow flex-group-left flexcol">
                        <div class="list-item">
                            <span class="underline">Name:</span>
                            <span>{{name}}</span>
                        </div>

                        <div class="list-item">
                            <span class="underline">Type: </span>
                            <span>{{data.data.type.value}}</span>
                        </div>

                        <div class="list-item flexrow">
                            <span class="underline">Location: </span>
                            <span>{{data.data.location.value}}</span>
                            <a class="list-button item-edit" title="Edit" data-item-id="{{this.id}}"></a>
                            <a class="list-button item-delete" title="Delete" data-item-id="{{this.id}}"></a>
                        </div>


                    </div>
                    {{/each}}
                </div>
            </div>

        </div>



        <div class="tab repairbay" data-group="primary" data-tab="repairbay">
            <div class="flexrow">
                <div class=" flexcol">
                    <span class="descrSpan">Repair Bays:</span>
                    <input type="text" class="combat-resources" data-target="data.repairBays.value" value="{{data.repairBays.value}}"placeholder="1" data-dtype="Number"/>
                </div>
                <div class="flexcol">
                    <span class="descrSpan">Days to pass:</span>
                    <input type="text" id="daysToPass" placeholder="0"/>
                </div>
            </div>

            <div class="flexrow">
               
                <a class="item-create button" data-type="repairEntry" title="Add a new Repair Entry">Add Repair Entry</a>
                 <a class="passTime button">Pass Time</a>
            </div>

            <div class="list grid grid-3col">
                <span class="list-item-header">Entry</span>
                <span class="list-item-header">Knight</span>
                <span class="list-item-header">Time Left</span>
                {{debug this}}
                {{#each repairEntries}}
                {{debug ../data}}
                <div class=" drag {{#if (greaterThan ../data.repairBays.value @index)}}list-emphasis{{else}}list-item{{/if}}"  data-id="{{this.id}}">

                    <span data-id="{{this.id}}">{{name}}</span>
                </div>

                <div class="{{#if (greaterThan ../data.repairBays.value @index)}}list-emphasis{{else}}list-item{{/if}}">

                    <span>{{data.data.knight.value}}</span>
                </div>

                <div class="flexrow {{#if (greaterThan ../data.repairBays.value @index)}}list-emphasis{{else}}list-item{{/if}}">

                    <span>{{data.data.time.value}} Days</span>
                    <a class="list-button item-edit" title="Edit" data-item-id="{{this.id}}"></a>
                    <a class="list-button item-delete" title="Delete" data-item-id="{{this.id}}"></a>
                </div>



                {{/each}}
            </div>
        </div>
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            <div class="flexrow">
                <a class="knightComponent-create button" title="Add a new Component">Add Component</a>
                <div class="flexcol ">
                    <label>Show:</label>
                    <select class="component-select"  data-dtype="String">


                        <option value="All">All</option>
                        {{#each knightComponentTypes}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}

                    </select>
                </div>
            </div>

            <div class="list grid list4col" id="componentList">
                <span class="list-item-header">Component</span>
                <span class="list-item-header">Number Owned</span>
                <span class="list-item-header">Edit</span>
                <span class="list-item-header">Del.</span>

                {{#each components}}

                <div class="list-item " name="component" type="{{data.data.knightComponentType}}">

                    <span >{{name}}</span>
                </div>

                <div class="list-item" name="component" type="{{data.data.knightComponentType}}">

                    <input type="text" class="item-text-input list-item" data-target="data.amount.value" value="{{data.data.amount.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                </div>



                <div class="list-item" name="component" type="{{data.data.knightComponentType}}">
                    <a class="list-button item-edit" title="Edit" data-item-id="{{this.id}}"></a>
                </div>
                <div class="list-item" name="component" type="{{data.data.knightComponentType}}">
                    <a class="list-button item-delete" title="Delete" data-item-id="{{this.id}}"></a>

                </div>


                {{/each}}
            </div>
        </div>


    </section>
</form>
