<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        
       
        <nav class="sheet-tabs tabs grid grid-2col" data-group="primary">
            
            <a class="item bat" data-tab="mechbay">Enginarium</a>
            <a class="item bat" data-tab="combat">Combat</a>
            
            
            
            
        </nav>

    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-content">

        {{!-- Main Tab --}}
        <div class="tab mechbay" data-group="primary" data-tab="mechbay">
            
            {{> "systems/fortyk/templates/actor/knightParts/mech-bay.html"}}
        </div>

        <div class="tab combat"  data-group="primary" data-tab="combat">
            {{> "systems/fortyk/templates/actor/knightParts/combat.html"}}
        </div>
        
      
    </section>
</form>

