<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        
       
        <nav class="sheet-tabs tabs grid grid-4col" data-group="primary">
            
            <a class="item bat" data-tab="mechbay">Enginarium</a>
            <a class="item bat" data-tab="combat2">Combat</a>
            <a class="item bat" data-tab="traits">Traits</a>
            <a class="item bat" data-tab="damage">Damage Report</a>
            
            
        </nav>

    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-content">

        {{!-- Main Tab --}}
        <div class="tab mechbay" data-group="primary" data-tab="mechbay">
            
            {{> "systems/fortyk/templates/actor/knightParts/mech-bay.html"}}
        </div>

        <div class="tab combat2"  data-group="primary" data-tab="combat2">
            {{> "systems/fortyk/templates/actor/knightParts/combat.html"}}
        </div>
        <div class="tab traits"  data-group="primary" data-tab="traits">
            {{> "systems/fortyk/templates/actor/knightParts/traits.html"}}
        </div>
        <div class="tab damage"  data-group="primary" data-tab="damage">
            {{> "systems/fortyk/templates/actor/knightParts/damage-report.html"}}
        </div>
        
      
    </section>
</form>

