<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class=" flexcol">

        <div class="flexcol">
            <div class="flexrow sheet-header">

                <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
                <div class="header-fields">
                    <div class="flexcol">
                        <div class="descr grid grid-3col">

                            <div class="descrRow flexcol">
                                <span class="descrSpan">Name:</span>
                                <input type="text" class="combat-resources" data-target="name" value="{{name}}" data-dtype="String"/>
                            </div>

                            <div class="descrRow flexcol">
                                <span class="descrSpan">Class:</span>
                                <input type="text" class="combat-resources" data-target="system.class.value" value="{{system.class.value}}" data-dtype="String"/>
                            </div>
                            <div class="descrRow flexcol">
                                <span class="descrSpan">Hull:</span>
                                <input type="text" class="combat-resources" data-target="system.hull.value" value="{{system.hull.value}}" data-dtype="String"/>
                            </div>

                        </div>
                        <div class="descrRow flexcol">
                            <div><span class="descrSpan">Complications/Past History:</span>
                                <input type="text" class="combat-resources" data-target="system.complications.0" value="{{system.complications.[0]}}" data-dtype="String"/>
                                <input type="text" class="combat-resources" data-target="system.complications.1" value="{{system.complications.[1]}}" data-dtype="String"/>
                            </div>


                        </div>


                    </div>
                </div>
            </div>


            <div class="descr grid grid-5col">
                <div class="descrRow flexcol">
                    <span class="descrSpan">Speed:</span>
                    <input type="text" class="combat-resources" data-target="system.speed.value" value="{{system.speed.value}}" data-dtype="Number"/>
                </div>
                <div class="descrRow flexcol">
                    <span class="descrSpan">Manoeuver:</span>
                    <input type="text" class="combat-resources" data-target="system.manoeuvrability.value" value="{{system.manoeuvrability.value}}" data-dtype="Number"/>

                </div>

                <div class="descrRow flexcol">
                    <span class="descrSpan">Detection:</span>
                    <input type="text" class="combat-resources" data-target="system.detection.value" value="{{system.detection.value}}" data-dtype="Number"/>

                </div>

                <!--<div class="descrRow flexcol">
                    <span class="descrSpan">Turret Rating:</span>
                    <input type="text" class="combat-resources" data-target="system.turret.value" value="{{system.turret.value}}" data-dtype="Number"/>

                </div>-->
                <div class="descrRow flexcol">
                    <span class="descrSpan">Void Shields:</span>
                    <input type="text" class="combat-resources" data-target="system.shields.value" value="{{system.shields.value}}" data-dtype="Number"/>

                </div>
                <div class=" flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Supplies</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.cargo.supplies" value="{{system.cargo.supplies}}" data-dtype="Number"/>
                        /
                        <input type="text" class="combat-resources" data-target="system.cargo.suppliesMax" value="{{system.cargo.suppliesMax}}" data-dtype="Number"/>

                    </div>
                </div>
                <div class="descrRow flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Warp Fuel</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.cargo.fuel" value="{{system.cargo.fuel}}" data-dtype="Number"/>
                        /
                        <input type="text" class="combat-resources" data-target="system.cargo.fuelMax" value="{{system.cargo.fuelMax}}" data-dtype="Number"/>

                    </div>
                </div>
                <!--<div class="descrRow flexcol">
                    <span class="descrSpan">Armor:</span>
                    <input type="text" class="combat-resources" data-target="system.armor.value" value="{{system.armor.value}}" data-dtype="Number"/>

                </div>-->
                <div class="descrRow flexcol">
                    <span class="char-total rollable button" data-roll-type="char" data-target="{{system.crew.rating}}" data-label="Crew Rating" data-char="">Crew Rating:</span>
                    <span class="descrSpan"></span>
                    <input type="text" class="combat-resources" data-target="system.crew.rating" value="{{system.crew.rating}}" data-dtype="Number"/>

                </div>
                <div class="resource flex-group-center">
                    <label for="system.secChar.wounds.value" class="resource-label">Hull Integrity</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.hullIntegrity.value" value="{{system.hullIntegrity.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" class="combat-resources" data-target="system.hullIntegrity.max" value="{{system.hullIntegrity.max}}" data-dtype="Number"/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Crew</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.crew.value" value="{{system.crew.value}}" data-dtype="String"/>
                        <span> / </span>
                        <input type="text" class="combat-resources" data-target="system.crew.max" value="{{system.crew.max}}" data-dtype="String"/>

                    </div>
                    <input type="text" class="combat-resources" data-target="system.crew.capacity" value="{{system.crew.capacity}}" placeholder="Crew capacity" data-dtype="String"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Morale</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" data-target="system.morale.value" value="{{system.morale.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" class="combat-resources" data-target="system.morale.max" value="{{system.morale.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

              {{>'templates/generic/tab-navigation.hbs'}}



        </div>


    </header>




</form>
