<form class="manage-req-sheet">
    <header class="sheet-header">
        <nav class="sheet-tabs tabs grid grid-5col" data-group="primary">

            <a class="item" data-tab="characteristic">CHARACTERISTICS</a>
            <a class="item" data-tab="skills">SKILLS</a>
            <a class="item" data-tab="flags">TALENT/ELITE ADVANCE/TRAIT</a>
            <a class="item" data-tab="cyber">CYBERNETICS</a>
            <a class="item" data-tab="psy">PSYCHIC POWER</a>

        </nav>
    </header>
    <section class="req-content item">
        <div class="tab characteristic" data-group="primary" data-tab="characteristic">

            <div class="grid grid-4col">
                <div class="flexcol">
                    <label>{{flag.characteristics.ws.label}}</label>
                    <input type="number" class="char-input" id="ws" value="{{flag.characteristics.ws.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.bs.label}}</label>
                    <input type="number" class="char-input" id="bs" value="{{flag.characteristics.bs.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.s.label}}</label>
                    <input type="number" class="char-input" id="s" value="{{flag.characteristics.s.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.t.label}}</label>
                    <input type="number" class="char-input" id="t" value="{{flag.characteristics.t.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.agi.label}}</label>
                    <input type="number" class="char-input" id="agi" value="{{flag.characteristics.agi.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.per.label}}</label>
                    <input type="number" class="char-input" id="per" value="{{flag.characteristics.per.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.int.label}}</label>
                    <input type="number" class="char-input" id="int" value="{{flag.characteristics.int.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.wp.label}}</label>
                    <input type="number" class="char-input" id="wp" value="{{flag.characteristics.wp.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.fel.label}}</label>
                    <input type="number" class="char-input" id="fel" value="{{flag.characteristics.fel.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.inf.label}}</label>
                    <input type="number" class="char-input" id="inf" value="{{flag.characteristics.inf.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.exp.label}}</label>
                    <input type="number" class="char-input" id="exp" value="{{flag.characteristics.exp.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.pr.label}}</label>
                    <input type="number" class="char-input" id="pr" value="{{flag.characteristics.pr.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.ins.label}}</label>
                    <input type="number" class="char-input" id="ins" value="{{flag.characteristics.ins.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.cor.label}}</label>
                    <input type="number" class="char-input" id="cor" value="{{flag.characteristics.cor.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.mut.label}}</label>
                    <input type="number" class="char-input" id="mut" value="{{flag.characteristics.mut.value}}">
                </div>
                <div class="flexcol">
                    <label>{{flag.characteristics.mastpow.label}}</label>
                    <input type="number" class="char-input" id="mastpow" value="{{flag.characteristics.mastpow.value}}">
                </div>
                <div class="flexcol">
                    <label>Character Creation</label>
                    <input type="checkbox" class="char-creation-checkbox" {{#if flag.characterCreation}}checked{{/if}}>
                </div>

            </div>


        </div>
        <div class="tab skills" data-group="primary" data-tab="skills">
            <label>Skill Name</label>
            <input type="text" id="skillname">
            <label>Parent Skill Name</label>
            <input type="text" id="parentskillname">
            <label>Skill Rank</label>
            <select id="skillrank-select">
                {{#each item.FORTYK.skillTraining as |training key|}}
                <option value="{{key}}">{{training.name}}</option>
                {{/each}}
            </select>
            <div class="flexcol">
                <a  class="add-skill button">Add Skill Requirement</a>
            </div>
            <div>
                <label>Skill Requirements:</label>
                {{#each flag.skills as |flag key|}}
                {{#if flag}}
                <label>{{flag.name}}: {{flag.rank}}</label>
                <a class="delete-skill" data-id="{{key}}">Delete</a>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="tab flags" data-group="primary" data-tab="flags">

            <div class="flexcol">
                <select class="compendium-select">
                    <option value="">Choose a Compendium</option>
                    {{#each compendiums}}
                    <option value="{{this.metadata.id}}" {{#if (equals this.metadata.id ../chosenCompendium)}}selected{{/if}}>{{this.title}}</option>
                    {{/each}}
                </select> 
                {{#if compendiumContents}}
                <div class="flexrow">
                    <select class="req-select">
                        <option value="">Choose a Requirement</option>
                        {{#each compendiumContents}}
                        <option value="{{this.system.flagId.value}}" data-type="{{this.type}}" data-spec="{{this.system.specialisation.value}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <label>Negative flag</label><input type="checkbox" id="notflagcheckbox">

                </div>
                <div class="flexcol">
                    <a  class="add-flag button">Add AND Requirement</a>
                </div>
                <div class="flexcol">
                    <a  class="add-OR-flag button">Add OR Requirement</a>
                </div>

                {{/if}}
            </div>
            <div>
                <span class="section-title">AND Flags</span>
                {{#each flag.flags as |flag key|}}
                {{#if flag}}
                {{#if flag.negative}}
                Not 
                {{/if}}
                {{#if flag.spec}}
                <label>{{flag.label}}:{{flag.spec}}</label>
                {{else}}
                <label>{{flag.label}}</label>
                {{/if}}
                <a class="delete-flag" data-id="{{key}}">Delete</a>
                {{/if}}
                {{/each}}

            </div>


            <div>
                <span class="section-title">OR Flags</span>
                {{#each flag.ORflags as |flag key|}}
                {{#if flag}}
                {{#if flag.negative}}
                Not 
                {{/if}}
                {{#if flag.spec}}
                <label>{{flag.label}}:{{flag.spec}}</label>
                {{else}}
                <label>{{flag.label}}</label>
                {{/if}}
                <a class="delete-OR-flag" data-id="{{key}}">Delete</a>
                {{/if}}
                {{/each}}

            </div>
        </div>
        <div class="tab cyber" data-group="primary" data-tab="cyber">
            <div class="flexcol">
                <label>Total Number</label><input type="number" id="cybernumber" class="cyber-input" value="{{flag.cybernetics.number}}">
            </div>
            <div class="flexcol">
                <label>Limb Number</label><input type="number" id="limbnumber" class="cyber-input" value="{{flag.cybernetics.limbs}}">
            </div>
            <div class="flexcol">
                <label>Specific</label><input type="text" id="cybername" class="cyber-input" value="{{flag.cybernetics.name}}">
            </div>




        </div>
        <div class="tab psy" data-group="primary" data-tab="psy">
            <div class="fexrow">
                <div class="flexcol">
                    <select class="psy-select">
                        <option value="">Choose a Psychic Power Requirement</option>
                        {{#each psyPowers}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="flexcol">
                    <label>Negative flag</label><input type="checkbox" id="notpsycheckbox">
                </div>
            </div>

            <div class="flexcol">
                <a  class="add-psy button">Add Psychic Power Requirement</a>
            </div>
            <div class="flexcol">
                <label>Psychic Power Requirements:</label>
                {{#each flag.psychicPowers as |flag key|}}
                {{#if flag}}
                <div>
                    <label>{{flag}}</label>
                    <a class="delete-psy" data-id="{{key}}">Delete</a>
                </div>

                {{/if}}
                {{/each}}
                <label>Negative Psychic Power Requirements:</label>
                {{#each flag.negativePsyPowers as |flag key|}}
                {{#if flag}}
                <div>
                    <label>{{flag}}</label>
                    <a class="delete-neg-psy" data-id="{{key}}">Delete</a>
                </div>

                {{/if}}
                {{/each}}
            </div>

        </div>

    </section>
    <div class="button manage-req-button save-reqs">Save Requirements</div>
</form>