<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="header-knight no-flex">



        <div class="descr grid grid-9col">


            <div class="descrRow flexcol">
                <span class="descrSpan">Tactical Speed: {{data.secChar.speed.tactical}}m</span>
                <span class="descrSpan">Cruising Speed: {{data.secChar.speed.cruising}}kph</span>

            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Manoeuvrability:</span>
                <input type="text" class="combat-resources" data-target="data.secChar.manoeuvrability.value" value="{{data.secChar.manoeuvrability.value}}" data-dtype="Number"/>
            </div>

            <div class="descrRow flexcol">

                <span>Cover:</span>

                <select class="cover"  name="data.secChar.cover.value">
                    {{#select data.secChar.cover.value}}
                    {{#each coverTypes}}
                    <option value="{{value}}">{{label}}</option>
                    {{/each}}
                    {{/select}}
                </select>

            </div>



            <div class="descrRow flexcol">
                <label for="data.secChar.wounds.value" class="resource-label">Structural Integrity</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" class="combat-resources" data-target="data.secChar.wounds.value" value="{{data.secChar.wounds.value}}" data-dtype="Number"/>
                    <span>/</span>
                    <input type="text" class="combat-resources" data-target="data.secChar.wounds.max" value="{{data.secChar.wounds.max}}" data-dtype="Number" disabled/>
                </div>
            </div>
            <div class="descrRow flexcol">
                <label for="data.secChar.wounds.value" class="resource-label">Thresholds</label>
                <span class="descrSpan">{{data.secChar.wounds.thresholds.[1]}}/{{data.secChar.wounds.thresholds.[2]}}/{{data.secChar.wounds.thresholds.[3]}}/{{data.secChar.wounds.thresholds.[4]}}</span>
                <label for="data.secChar.wounds.value" class="resource-label">Current Threshold: {{threshold}}</label>

            </div>
            <div class="descrRow flexcol">
                <select class="cover"  name="data.knight.operate">
                    {{#select data.knight.operate}}

                    <option value="operate:titanicwalker">Operate</option>
                    <option value="melding">Melding</option>
                    {{/select}}
                </select>
                <span class="char-total rollable button" data-roll-type="char" data-target="{{data.crew.ratingTotal}}" data-label="Operate" data-char="">{{data.crew.rating}}</span>

            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Jink:</span>
                <span class="char-total rollable button" data-roll-type="dodge" data-target="{{data.crew.rating}}" data-label="Jink" data-char="">{{data.crew.rating}}</span>


            </div>

            <div class="flexcol descrRow">

                <span >Force Field:</span>

                {{#if data.knight.forceField}}
                {{#unless data.knight.forceField.data.data.broken.value}}


                <span class="forcefield rollable button" data-roll-type="forcefield" data-id="{{data.knight.forceField.id}}">{{data.knight.forceField.data.data.rating.value}}</span>
                {{else}}
                <span class="forcefield repairForcefield button" data-id="{{data.knight.forceField.id}}" >Repair</span>
                {{/unless}}


                {{else}}
                <span class=" button" >Install Forcefield</span>

                {{/if}}
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Titanic Feet:</span>
                <span class="stomp button" data-formula="1d10+{{stomp}}" >1d10+{{stomp}}</span>


            </div>






        </div>













    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-content-knight">

        <div class="sub-sheet grid grid-3col">
            <div class="flexcol vehicle-categories no-flex">
                <span class="section-title">Left Side Weapons</span>
                <div class="flexcol">
                    {{#each leftArmHardPoints}}

                    {{#each this}}
                    {{#if (compareString this.type "meleeWeapon")}}
                    <div>
                        <div class="weapons grid grid-2col">
                            <div class="weapon-name">
                                <span>Name: {{this.name}}</span>
                            </div>


                            <div class="list-item">
                                <span>Attack: </span>
                                <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../data.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                            </div>
                            <div class="list-item">
                                <span>Damage: </span>
                                <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>
                            </div>
                            {{#if this.data.flags.fortyk.force}}
                            <div class="list-item">

                                <a class="force-roll button" data-label="Force"> Force</a>


                            </div>
                            {{/if}}
                            <div class="list-item">
                                <span>Reach: {{this.data.data.range.value}}m</span>
                            </div>
                            <div class="list-item">
                                <span>Penetration: {{this.data.data.pen.value}}</span>

                            </div>
                            <div class="list-item">
                                <span>Special: 


                                    {{#each this.data.flags.fortyk as |flag key|}}


                                    {{#if (checkSpecial this)}}

                                    {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                    <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                        {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                    {{/if}}
                                    {{/each}}
                                </span>

                            </div>
                            <div class="list-item">
                                <span>Damage Type: {{this.data.data.damageType.value}}</span>

                            </div>



                        </div>
                    </div>
                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col">
                        <div class="weapon-name">
                            <span>Name: {{this.name}}</span>
                        </div>

                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.data.data.clip.value 0)}}
                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../data.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{else}}
                            {{#if this.data.data.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>

                        </div>
                        {{#if this.data.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.data.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{#select this.data.flags.fortyk.lasMode}}

                                    {{#each this.data.FORTYK.lasModes}}

                                    <option value="{{@index}}">{{this}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.data.data.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.data.data.ammo._id}}">

                                {{#select this.data.data.ammo._id}}
                                <option value="">None</option>

                                {{#each this.validAmmo}}

                                <option value="{{this.id}}">{{this.name}}</option>

                                {{/each}}

                                {{/select}}
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.data.data.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="data.clip.value"  value="{{this.data.data.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.data.data.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.data.data.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.data.data.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.data.data.rof.[0].value}}/{{this.data.data.rof.[1].value}}/{{this.data.data.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.data.data.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.data.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.data.data.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.data.data.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.data.data.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/each}}
                    {{/each}}

                </div>
            </div>
            <div class="flexcol vehicle-categories no-flex">
                <span class="section-title">Front Weapons</span>
                <div class="flexcol">
                    {{#each carapaceHardPoints}}

                    {{#each this}}
                    {{#if (compareString this.type "meleeWeapon")}}
                    <div>
                        <div class="weapons grid grid-2col">
                            <div class="weapon-name">
                                <span>Name: {{this.name}}</span>
                            </div>


                            <div class="list-item">
                                <span>Attack: </span>
                                <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../data.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                            </div>
                            <div class="list-item">
                                <span>Damage: </span>
                                <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>
                            </div>
                            {{#if this.data.flags.fortyk.force}}
                            <div class="list-item">

                                <a class="force-roll button" data-label="Force"> Force</a>


                            </div>
                            {{/if}}
                            <div class="list-item">
                                <span>Reach: {{this.data.data.range.value}}m</span>
                            </div>
                            <div class="list-item">
                                <span>Penetration: {{this.data.data.pen.value}}</span>

                            </div>
                            <div class="list-item">
                                <span>Special: 


                                    {{#each this.data.flags.fortyk as |flag key|}}


                                    {{#if (checkSpecial this)}}

                                    {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                    <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                        {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                    {{/if}}
                                    {{/each}}
                                </span>

                            </div>
                            <div class="list-item">
                                <span>Damage Type: {{this.data.data.damageType.value}}</span>

                            </div>



                        </div>
                    </div>
                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col">
                        <div class="weapon-name">
                            <span>Name: {{this.name}}</span>
                        </div>

                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.data.data.clip.value 0)}}
                           
                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../data.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{else}}
                            {{#if this.data.data.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>

                        </div>
                        {{#if this.data.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.data.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{#select this.data.flags.fortyk.lasMode}}

                                    {{#each this.data.FORTYK.lasModes}}

                                    <option value="{{@index}}">{{this}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.data.data.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.data.data.ammo._id}}">

                                {{#select this.data.data.ammo._id}}
                                <option value="">None</option>

                                {{#each this.validAmmo}}

                                <option value="{{this.id}}">{{this.name}}</option>

                                {{/each}}

                                {{/select}}
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.data.data.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="data.clip.value"  value="{{this.data.data.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.data.data.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.data.data.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.data.data.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.data.data.rof.[0].value}}/{{this.data.data.rof.[1].value}}/{{this.data.data.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.data.data.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.data.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.data.data.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.data.data.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.data.data.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/each}}
                    {{/each}}
                    {{#each torsoHardPoints}}

                    {{#each this}}
                    {{#if (compareString this.type "meleeWeapon")}}
                    <div>
                        <div class="weapons grid grid-2col">
                            <div class="weapon-name">
                                <span>Name: {{this.name}}</span>
                            </div>


                            <div class="list-item">
                                <span>Attack: </span>
                                <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../data.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                            </div>
                            <div class="list-item">
                                <span>Damage: </span>
                                <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>
                            </div>
                            {{#if this.data.flags.fortyk.force}}
                            <div class="list-item">

                                <a class="force-roll button" data-label="Force"> Force</a>


                            </div>
                            {{/if}}
                            <div class="list-item">
                                <span>Reach: {{this.data.data.range.value}}m</span>
                            </div>
                            <div class="list-item">
                                <span>Penetration: {{this.data.data.pen.value}}</span>

                            </div>
                            <div class="list-item">
                                <span>Special: 


                                    {{#each this.data.flags.fortyk as |flag key|}}


                                    {{#if (checkSpecial this)}}

                                    {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                    <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                        {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                    {{/if}}
                                    {{/each}}
                                </span>

                            </div>
                            <div class="list-item">
                                <span>Damage Type: {{this.data.data.damageType.value}}</span>

                            </div>



                        </div>
                    </div>
                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col">
                        <div class="weapon-name">
                            <span>Name: {{this.name}}</span>
                        </div>

                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.data.data.clip.value 0)}}
                            
                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../data.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{else}}
                            {{#if this.data.data.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>

                        </div>
                        {{#if this.data.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.data.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{#select this.data.flags.fortyk.lasMode}}

                                    {{#each this.data.FORTYK.lasModes}}

                                    <option value="{{@index}}">{{this}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.data.data.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.data.data.ammo._id}}">

                                {{#select this.data.data.ammo._id}}
                                <option value="">None</option>

                                {{#each this.validAmmo}}

                                <option value="{{this.id}}">{{this.name}}</option>

                                {{/each}}

                                {{/select}}
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.data.data.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="data.clip.value"  value="{{this.data.data.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.data.data.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.data.data.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.data.data.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.data.data.rof.[0].value}}/{{this.data.data.rof.[1].value}}/{{this.data.data.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.data.data.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.data.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.data.data.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.data.data.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.data.data.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/each}}
                    {{/each}}

                </div>
            </div>
            <div class="flexcol vehicle-categories no-flex">
                <span class="section-title">Right Side Weapons</span>
                <div class="flexcol">
                    {{#each rightArmHardPoints}}

                    {{#each this}}
                    {{#if (compareString this.type "meleeWeapon")}}
                    <div>
                        <div class="weapons grid grid-2col">
                            <div class="weapon-name">
                                <span>Name: {{this.name}}</span>
                            </div>


                            <div class="list-item">
                                <span>Attack: </span>
                                <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../data.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                            </div>
                            <div class="list-item">
                                <span>Damage: </span>
                                <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>
                            </div>
                            {{#if this.data.flags.fortyk.force}}
                            <div class="list-item">

                                <a class="force-roll button" data-label="Force"> Force</a>


                            </div>
                            {{/if}}
                            <div class="list-item">
                                <span>Reach: {{this.data.data.range.value}}m</span>
                            </div>
                            <div class="list-item">
                                <span>Penetration: {{this.data.data.pen.value}}</span>

                            </div>
                            <div class="list-item">
                                <span>Special: 


                                    {{#each this.data.flags.fortyk as |flag key|}}


                                    {{#if (checkSpecial this)}}

                                    {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                    <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                        {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                    {{/if}}
                                    {{/each}}
                                </span>

                            </div>
                            <div class="list-item">
                                <span>Damage Type: {{this.data.data.damageType.value}}</span>

                            </div>



                        </div>
                    </div>
                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col">
                        <div class="weapon-name">
                            <span>Name: {{this.name}}</span>
                        </div>

                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.data.data.clip.value 0)}}
                           
                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../data.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{else}}
                            {{#if this.data.data.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>

                        </div>
                        {{#if this.data.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.data.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.data.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{#select this.data.flags.fortyk.lasMode}}

                                    {{#each this.data.FORTYK.lasModes}}

                                    <option value="{{@index}}">{{this}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.data.data.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.data.data.ammo._id}}">

                                {{#select this.data.data.ammo._id}}
                                <option value="">None</option>

                                {{#each this.validAmmo}}

                                <option value="{{this.id}}">{{this.name}}</option>

                                {{/each}}

                                {{/select}}
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.data.data.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="data.clip.value"  value="{{this.data.data.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.data.data.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.data.data.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.data.data.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.data.data.rof.[0].value}}/{{this.data.data.rof.[1].value}}/{{this.data.data.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.data.data.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.data.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.data.data.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.data.data.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.data.data.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/each}}
                    {{/each}}

                </div>
            </div>
        </div>












    </section>
</form>
