<form class="{{cssClass}} charSheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="header-knight flexcol">

        <div class="flexcol">
            <span class="section-title">Pilot</span>


            <div class="descr flexrow">

                <div class="descrRow flexcol">
                    <span class="char-total" data-roll-type="char" data-target="{{system.crew.ratingTotal}}" data-label="Crew Rating" data-char="">Pilot Rating:</span>
                    <span class="descrSpan"></span>
                    <input type="text" class="combat-resources" data-target="system.crew.rating" value="{{system.crew.rating}}" data-dtype="Number" {{#if system.crew.pilotID}}disabled{{/if}}/>
                </div>

                <div class="descrRow flexcol">
                    <span class="char-total" data-roll-type="char" data-target="{{system.crew.ws}}" data-label="Crew WS" data-char="">Pilot WS:</span>
                    <span class="descrSpan"></span>
                    <input type="text" class="combat-resources" data-target="system.crew.ws" value="{{system.crew.ws}}" data-dtype="Number" {{#if system.crew.pilotID}}disabled{{/if}}/>
                </div>

                <div class="descrRow flexcol">
                    <span class="char-total" data-roll-type="char" data-target="{{system.crew.bs}}" data-label="Crew BS" data-char="">Pilot BS:</span>
                    <span class="descrSpan"></span>
                    <input type="text" class="combat-resources" data-target="system.crew.bs" value="{{system.crew.bs}}" data-dtype="Number" {{#if system.crew.pilotID}}disabled{{/if}}/>
                </div>
                {{#if system.crew.pilotID}}
                {{#if flags.fortyk.melded}}
                <span class="unmeld button">Unmeld</span>
                {{else}}
                <span class="meld button">Meld</span>
                {{/if}}
                {{/if}}

            </div>




        </div>

        <div class="descr grid grid-5col">


            <div class="descrRow flexcol">
                <span class="descrSpan">Tactical Speed: {{system.secChar.speed.tactical}}m</span>
                <span class="descrSpan">Cruising Speed: {{system.secChar.speed.cruising}}kph</span>

            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Manoeuvrability:</span>
                <input type="text" class="combat-resources" data-target="system.secChar.manoeuvrability.value" value="{{system.secChar.manoeuvrability.value}}" data-dtype="Number" disabled/>
            </div>

            <div class="descrRow flexcol">

                <span>Cover:</span>

                <select class="cover"  name="system.secChar.cover.value">
                    {{selectOptions coverTypes selected=system.secChar.cover.value valueAttr="value" labelAttr="label"}}
                    
                </select>

            </div>



            <div class="descrRow flexcol">
                <label for="system.secChar.wounds.value" class="resource-label">Structural Integrity</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" class="combat-resources" data-target="system.secChar.wounds.value" value="{{system.secChar.wounds.value}}" data-dtype="Number"/>
                    <span>/</span>
                    <input type="text" class="combat-resources" data-target="system.secChar.wounds.max" value="{{system.secChar.wounds.max}}" data-dtype="Number" disabled/>
                </div>
            </div>
            <div class="descrRow flexcol">
                {{#if (greaterThan system.knight.heat.value system.knight.heat.cap)}}
                <span class="knight-overheat button">Overheat</span>
                {{else}}

                <label for="system.secChar.wounds.value" class="resource-label">Heat</label>

                {{/if}}
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" class="combat-resources" data-target="system.knight.heat.value" value="{{system.knight.heat.value}}" data-dtype="Number"/>
                    <span>/</span>
                    <input type="text" class="combat-resources" data-target="system.knight.heat.max" value="{{system.knight.heat.max}}" data-dtype="Number" disabled/>

                </div>

            </div>
            <div class="descrRow flexcol flex-group-center">
                <label for="system.secChar.wounds.value" class="resource-label">Thresholds</label>
                <span class="descrSpan">{{system.secChar.wounds.thresholds.[1]}}/{{system.secChar.wounds.thresholds.[2]}}/{{system.secChar.wounds.thresholds.[3]}}/{{system.secChar.wounds.thresholds.[4]}}</span>
                
                <label for="system.secChar.wounds.value" class="resource-label">Current Threshold: {{this.threshold}}</label>

            </div>
            <div class="descrRow flexcol">
                <select class="cover"  name="system.knight.operate">
                    {{#select system.knight.operate}}

                    <option value="operate:titanicwalker">Operate</option>
                    <option value="melding">Melding</option>
                    {{/select}}
                </select>
                <span class="char-total rollable button" data-roll-type="char" data-target="{{system.crew.ratingTotal}}" data-label="Operate" data-char="">{{system.crew.ratingTotal}}</span>

            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Jink:</span>
                <span class="char-total rollable button" data-roll-type="evasion" data-target="{{system.crew.jink}}" data-label="Jink" data-char="">{{system.crew.jink}}</span>


            </div>

            <div class="flexcol descrRow">

                <span >Force Field:</span>

                {{#if system.knight.forceField}}
                {{#unless system.knight.forceField.system.broken.value}}


                <span class="forcefield rollable button" data-roll-type="forcefield" data-id="{{system.knight.forceField.id}}">{{system.knight.forceField.system.rating.value}}</span>
                {{else}}
                <span class="forcefield repairForcefield button" data-id="{{system.knight.forceField.id}}" >Repair</span>
                {{/unless}}


                {{else}}
                <span class=" button" >Install Forcefield</span>

                {{/if}}
            </div>

            <div class="descrRow flexcol">
                <span class="descrSpan">Titanic Feet:</span>
                <span class="stomp button" data-formula="1d10+{{stomp}}" >1d10+{{stomp}}</span>

            </div>
        </div>
    </header>



    {{!-- Sheet Body --}}
    <section class="sheet-content-knight">

        <div class="sub-sheet grid grid-3col">
            <div class="flexcol vehicle-categories no-flex">
                <span class="section-title">Left Side Weapons</span>
                <div class="flexcol">
                    {{#each leftArmHardPoints}}

                    {{#each this}}
                    {{#unless this.flags.fortyk.hidden}}
                    {{#if (compareString this.type "meleeWeapon")}}



                    <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">
                        <div class="weapon-name">
                            {{#if flags.fortyk.alternateprofiles}}

                            <select class="profile-select" data-id="{{this.id}}">
                                {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                            </select>
                            {{else}}

                            <span>{{this.name}}</span>

                            {{/if}}
                        </div>


                        <div class="list-item">
                            <span>Attack: </span>
                            <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../system.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                        </div>
                        <div class="list-item">
                            <span>Damage: </span>
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>
                        </div>
                        {{#if this.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        <div class="list-item">
                            <span>Reach: {{this.system.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.system.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}
                                {{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.system.damageType.value}}</span>

                        </div>



                    </div>

                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">
                        <div class="weapon-name">

                            {{#if flags.fortyk.alternateprofiles}}

                            <select class="profile-select" data-id="{{this.id}}">
                                {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                            </select>
                            {{else}}

                            <span>{{this.name}}</span>

                            {{/if}}
                        </div>

                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.system.clip.value 0)}}
                            {{#if this.flags.fortyk.spray}}
                            <span class="spray-attack rollable button" data-roll-type="sprayAttack" data-item-id="{{this.id}}" data-label="Spray Attack" >Spray</span>
                            {{else if this.flags.fortyk.torrent}}
                            <span class="torrent-attack rollable button" data-roll-type="torrentAttack" data-item-id="{{this.id}}" data-label="Torrent Attack" >Torrent</span>
                            {{else}}
                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../system.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{/if}}
                            {{else}}
                            {{#if this.system.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>

                        </div>
                        {{#if this.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{selectOptions this.FORTYK.lasModes selected=this.flags.fortyk.lasMode valueAttr="key" labelAttr="label"}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.system.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.system.ammo._id}}">
                                <option value="">None</option>
                                {{selectOptions this.validAmmo selected=this.system.ammo._id valueAttr="id" labelAttr="name"}}
                                
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.system.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="system.clip.value"  value="{{this.system.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.system.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.system.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.system.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.system.rof.[0].value}}/{{this.system.rof.[1].value}}/{{this.system.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.system.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 


                                {{#each this.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.system.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.system.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.system.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/unless}}
                    {{/each}}
                    {{/each}}

                </div>
            </div>
            <div class="flexcol vehicle-categories no-flex">
                <span class="section-title">Front Weapons</span>
                <div class="flexcol">
                    {{#each carapaceHardPoints}}

                    {{#each this}}

                    {{#unless this.flags.fortyk.hidden}}
                    {{#if (compareString this.type "meleeWeapon")}}
                    <div>
                        <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">
                            <div class="weapon-name">
                                {{#if flags.fortyk.alternateprofiles}}

                                <select class="profile-select" data-id="{{this.id}}">
                                    {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                                </select>
                                {{else}}

                                <span>{{this.name}}</span>

                                {{/if}}
                            </div>


                            <div class="list-item">
                                <span>Attack: </span>
                                <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../system.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                            </div>
                            <div class="list-item">
                                <span>Damage: </span>
                                <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>
                            </div>
                            {{#if this.flags.fortyk.force}}
                            <div class="list-item">

                                <a class="force-roll button" data-label="Force"> Force</a>


                            </div>
                            {{/if}}
                            <div class="list-item">
                                <span>Reach: {{this.system.range.value}}m</span>
                            </div>
                            <div class="list-item">
                                <span>Penetration: {{this.system.pen.value}}</span>

                            </div>
                            <div class="list-item">
                                <span>Special: 


                                    {{#each this.flags.fortyk as |flag key|}}


                                    {{#if (checkSpecial this)}}

                                    {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                    <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                        {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                    {{/if}}
                                    {{/each}}
                                </span>

                            </div>
                            <div class="list-item">
                                <span>Damage Type: {{this.system.damageType.value}}</span>

                            </div>



                        </div>
                    </div>
                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">
                        <div class="weapon-name">
                            {{#if flags.fortyk.alternateprofiles}}

                            <select class="profile-select" data-id="{{this.id}}">
                                {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                            </select>
                            {{else}}

                            <span>{{this.name}}</span>

                            {{/if}}
                        </div>


                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.system.clip.value 0)}}

                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../system.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{else}}
                            {{#if this.system.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>

                        </div>
                        {{#if this.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{selectOptions this.FORTYK.lasModes selected=this.flags.fortyk.lasMode valueAttr="key" labelAttr="label"}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.system.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.system.ammo._id}}">

                                <option value="">None</option>                                 
                                {{selectOptions this.validAmmo selected=this.system.ammo._id valueAttr="id" labelAttr="name"}}
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.system.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="system.clip.value"  value="{{this.system.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.system.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.system.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.system.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.system.rof.[0].value}}/{{this.system.rof.[1].value}}/{{this.system.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.system.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.system.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.system.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.system.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/unless}}
                    {{/each}}
                    {{/each}}
                    {{#each torsoHardPoints}}

                    {{#each this}}
                    {{#unless this.flags.fortyk.hidden}}
                    {{#if (compareString this.type "meleeWeapon")}}
                    <div>
                        <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">
                            <div class="weapon-name">
                                {{#if flags.fortyk.alternateprofiles}}

                                <select class="profile-select" data-id="{{this.id}}">
                                    {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                                </select>
                                {{else}}

                                <span>{{this.name}}</span>

                                {{/if}}
                            </div>


                            <div class="list-item">
                                <span>Attack: </span>
                                <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../system.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                            </div>
                            <div class="list-item">
                                <span>Damage: </span>
                                <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>
                            </div>
                            {{#if this.flags.fortyk.force}}
                            <div class="list-item">

                                <a class="force-roll button" data-label="Force"> Force</a>


                            </div>
                            {{/if}}
                            <div class="list-item">
                                <span>Reach: {{this.system.range.value}}m</span>
                            </div>
                            <div class="list-item">
                                <span>Penetration: {{this.system.pen.value}}</span>

                            </div>
                            <div class="list-item">
                                <span>Special: 


                                    {{#each this.flags.fortyk as |flag key|}}


                                    {{#if (checkSpecial this)}}

                                    {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                    <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                        {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                    {{/if}}
                                    {{/each}}
                                </span>

                            </div>
                            <div class="list-item">
                                <span>Damage Type: {{this.system.damageType.value}}</span>

                            </div>



                        </div>
                    </div>
                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">
                        <div class="weapon-name">
                            {{#if flags.fortyk.alternateprofiles}}

                            <select class="profile-select" data-id="{{this.id}}">
                                {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                            </select>
                            {{else}}

                            <span>{{this.name}}</span>

                            {{/if}}
                        </div>


                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.system.clip.value 0)}}
                            {{#if this.flags.fortyk.spray}}
                            <span class="spray-attack rollable button" data-roll-type="sprayAttack" data-item-id="{{this.id}}" data-label="Spray Attack" >Spray</span>
                            {{else if this.flags.fortyk.torrent}}
                            <span class="torrent-attack rollable button" data-roll-type="torrentAttack" data-item-id="{{this.id}}" data-label="Torrent Attack" >Torrent</span>
                            {{else}}
                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../system.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{/if}}
                            {{else}}
                            {{#if this.system.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>

                        </div>
                        {{#if this.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{selectOptions this.FORTYK.lasModes selected=this.flags.fortyk.lasMode valueAttr="key" labelAttr="label"}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.system.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.system.ammo._id}}">

                                <option value="">None</option>                                 
                                {{selectOptions this.validAmmo selected=this.system.ammo._id valueAttr="id" labelAttr="name"}}
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.system.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="system.clip.value"  value="{{this.system.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.system.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.system.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.system.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.system.rof.[0].value}}/{{this.system.rof.[1].value}}/{{this.system.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.system.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.system.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.system.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.system.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/unless}}
                    {{/each}}
                    {{/each}}

                </div>
            </div>
            <div class="flexcol vehicle-categories no-flex">
                <span class="section-title">Right Side Weapons</span>
                <div class="flexcol">
                    {{#each rightArmHardPoints}}

                    {{#each this}}
                    {{#unless this.flags.fortyk.hidden}}
                    {{#if (compareString this.type "meleeWeapon")}}

                    <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">
                        <div class="weapon-name">
                            {{#if flags.fortyk.alternateprofiles}}

                            <select class="profile-select" data-id="{{this.id}}">
                                {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                            </select>
                            {{else}}

                            <span>{{this.name}}</span>

                            {{/if}}
                        </div>


                        <div class="list-item">
                            <span>Attack: </span>
                            <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../system.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
                        </div>
                        <div class="list-item">
                            <span>Damage: </span>
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>
                        </div>
                        {{#if this.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        <div class="list-item">
                            <span>Reach: {{this.system.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.system.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 


                                {{#each this.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}
                                {{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.system.damageType.value}}</span>

                        </div>



                    </div>

                    {{else if (compareString this.type "rangedWeapon")}}
                    <div class="weapons grid grid-2col {{#if flags.fortyk.disabled}}disableddiv{{/if}}">

                        <div class="weapon-name">
                            {{#if flags.fortyk.alternateprofiles}}

                            <select class="profile-select" data-id="{{this.id}}">
                                {{selectOptions flags.fortyk.instancedProfiles selected=flags.fortyk.currentprofile valueAttr="uuid" labelAttr="name"}}
                            </select>
                            {{else}}

                            <span>{{this.name}}</span>

                            {{/if}}
                        </div>


                        <div class="list-item">
                            <span>Attack: </span> 
                            {{#if (greaterThan this.system.clip.value 0)}}

                            {{#if this.flags.fortyk.spray}}
                            <span class="spray-attack rollable button" data-roll-type="sprayAttack" data-item-id="{{this.id}}" data-label="Spray Attack" >Spray</span>
                            {{else if this.flags.fortyk.torrent}}
                            <span class="torrent-attack rollable button" data-roll-type="torrentAttack" data-item-id="{{this.id}}" data-label="Torrent Attack" >Torrent</span>
                            {{else}}
                            <span class="ranged-attack rollable button" data-roll-type="rangedAttack" data-target="{{../../system.crew.bs}}" data-item-id="{{this.id}}" data-label="Ranged Attack" data-char="">Roll</span>
                            {{/if}}
                            {{else}}
                            {{#if this.system.ammo._id}}
                            <span class="weapon-reload button" data-weapon="{{this.id}}" >Discard</span>
                            {{else}}
                            <span class=" button"  >Load new Ammo</span>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="list-item">
                            <span>Damage: </span> 
                            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.system.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.system.damageFormula.value}}</a>

                        </div>
                        {{#if this.flags.fortyk.force}}
                        <div class="list-item">

                            <a class="force-roll button" data-label="Force"> Force</a>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.maximal}}
                        <div class="list-item">
                            <span>Maximal: <input type="checkbox" class="maximal" data-item-id="{{this.id}}"  {{checked this.flags.fortyk.maximalMode}}></span>


                        </div>
                        {{/if}}
                        {{#if this.flags.fortyk.lasModal}}
                        <div class="list-item">
                            <span>Las Fire Mode: 
                                <select class="lasMode"  data-item-id="{{this.id}}" data-dtype="Number">
                                    {{selectOptions this.FORTYK.lasModes selected=this.flags.fortyk.lasMode valueAttr="key" labelAttr="label"}}
                                </select>
                            </span>


                        </div>
                        {{/if}}

                        {{#unless (contains this.system.class.value "thrown")}}
                        <div class="list-item ammo-list">

                            <label>Current Ammo:</label>
                            <select class="weapon-ammo" data-weapon="{{this.id}}" data-previous="{{this.system.ammo._id}}">

                                <option value="">None</option>                                 
                                {{selectOptions this.validAmmo selected=this.system.ammo._id valueAttr="id" labelAttr="name"}}
                            </select>
                        </div>
                        {{else}}
                        <div class="list-item">
                            <span>Amount: {{this.system.amount.value}}</span> 


                        </div>
                        {{/unless}}
                        <div class="list-item flexrow">
                            <span>Current Clip: </span>

                            <input class="item-text-input" type="text" data-target="system.clip.value"  value="{{this.system.clip.value}}" data-item-id="{{this.id}}" data-dtype="Number">
                            <span> / </span>
                            <span>{{this.system.clip.max}}</span>


                        </div>
                        <div class="list-item">
                            <span>Range: {{this.system.range.value}}m</span>
                        </div>
                        <div class="list-item">
                            <span>Penetration: {{this.system.pen.value}}</span>

                        </div>
                        <div class="list-item">
                            <label>Rate of Fire: {{this.system.rof.[0].value}}/{{this.system.rof.[1].value}}/{{this.system.rof.[2].value}}</label>
                        </div>
                        <div class="list-item">
                            <span>Reload: {{this.system.reload.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Special: 

                                {{#each this.flags.fortyk as |flag key|}}


                                {{#if (checkSpecial this)}}

                                {{#with (lookup ../FORTYK.weaponFlags [key])~}}
                                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                                {{/if}}{{/each}}
                            </span>

                        </div>
                        <div class="list-item">
                            <span>Damage Type: {{this.system.damageType.value}}</span>

                        </div>
                        <div class="list-item">
                            <span>Weapon Class: {{this.system.class.value}}</span>


                        </div>
                        <div class="list-item">
                            <span>Weapon Type: {{this.system.type.value}}</span>


                        </div>

                    </div>
                    {{/if}}
                    {{/unless}}
                    {{/each}}
                    {{/each}}

                </div>
            </div>
        </div>












    </section>
</form>
