<div class="flexrow mechlab-wrapper">
    <div class="left-mechbay">
        <div>
            <img class="knight-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div class="flexcol">
                <span class="descrSpan">Name:</span>
                <input type="text" class="combat-resources" data-target="name" value="{{actor.name}}" data-dtype="String"/>

            </div>
            <div class="flexcol">
                <span class="descrSpan">Chassis:</span>

                {{#if data.knight.chassis}}
                <div class="flexrow">

                    <span class="descrSpan">{{data.chassis.name}}</span>
                    <a class="list-button item-edit" title="Edit" data-item-id="{{data.knight.chassis}}"></a>
                    <a class="list-button delete-chassis" title="Delete" data-item-id="{{data.knight.chassis}}"></a>
                </div>
                {{else}}
                <a class="pick-chassis button" title="Pick Chassis">Select a Chassis</a>
                {{/if}}


            </div>
            <div class="flexcol">
                <span class="descrSpan">House:</span>

                <select class="typeSelect" name="data.knight.house" data-dtype="String">
                    <option value="">Select a House</option>
                    {{#select data.knight.house}}

                    {{#each houses}}

                    <option value="{{this.id}}">{{this.name}}</option>

                    {{/each}}
                    {{/select}}
                </select>

            </div>
            <div class="flexcol">
                <span class="descrSpan">Pilot:</span>

                <select class="typeSelect" name="data.crew.pilotID" data-dtype="String">
                    <option value="">Select a Pilot</option>
                    {{#select data.crew.pilotID}}

                    {{#each pilots}}

                    <option value="{{this.id}}">{{this}}</option>

                    {{/each}}
                    {{/select}}
                </select>

            </div>
        </div>
        <div class="flexcol">
            <nav class="mechTabs tabs grid grid-3col" data-group="secondary">

                <a class="item mechBat active2" data-tab="all">All</a>
                <a class="item mechBat" data-tab="weapons">Weapons</a>
                <a class="item mechBat" data-tab="components">Components</a>
                <a class="item mechBat" data-tab="cores">Cores</a>

                <a class="item mechBat" data-tab="structures">Structures</a>
                <a class="item mechBat" data-tab="armors">Armors</a>




            </nav>
            <div id="mechInventory">
                <div class="mechTab all" name="mechInventoryTab" data-group="secondary" data-tab="all">
                    <div class="grid list4col2">
                        <span class="list-item-header">Name</span>
                        <span class="list-item-header">A</span>
                        <span class="list-item-header">T</span>
                        <span class="list-item-header">S</span>
                        <a class="mechbay-grid-section list-item-header4" name="rangedWeapons">Ranged Weapons</a>
                        {{#each rangedWeapons}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="ranged-slot">{{this.name}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="artilleryWeapons">Artillery Weapons</a>
                        {{#each artilleryWeapons}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="artillery-slot">{{this.name}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="ammunition">Ammunition</a>
                        {{#each ammunition}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="component-slot">{{this.name}}</span>
                        <span class="list-item " name="ammunition">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="ammunition">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="ammunition">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="meleeWeapons">Melee Weapons</a>
                        {{#each meleeWeapons}}

                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="melee-slot">{{this.name}}</span>
                        <span class="list-item " name="meleeWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="meleeWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="meleeWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="auxiliaryWeapons">Auxiliary Weapons</a>
                        {{#each auxiliaryWeapons}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="auxiliary-slot">{{this.name}}</span>
                        <span class="list-item " name="auxiliaryWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="auxiliaryWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="auxiliaryWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="components">Components</a>
                        {{#each components}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="component-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="cores">Cores</a>
                        {{#each cores}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="core-slot">{{this.name}}</span>
                        <span class="list-item " name="cores">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="cores">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="cores">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="armors">Armors</a>
                        {{#each cores}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="armor-slot">{{this.name}}</span>
                        <span class="list-item " name="armors">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="armors">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="armors">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="structures">Structures</a>
                        {{#each structures}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="structure-slot">{{this.name}}</span>
                        <span class="list-item " name="structures">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="structures">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="structures">{{this.data.data.space.value}}</span>
                        {{/each}}
                    </div>

                </div>
                <div class="mechTab weapons" name="mechInventoryTab" style="display: none" data-group="secondary" data-tab="weapons">
                    <div class="grid list4col2">
                        <span class="list-item-header">Name</span>
                        <span class="list-item-header">A</span>
                        <span class="list-item-header">T</span>
                        <span class="list-item-header">S</span>
                        <a class="mechbay-grid-section list-item-header4" name="rangedWeapons">Ranged Weapons</a>
                        {{#each rangedWeapons}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="ranged-slot">{{this.name}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="artilleryWeapons">Artillery Weapons</a>
                        {{#each artilleryWeapons}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="artillery-slot">{{this.name}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="rangedWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="ammunition">Ammunition</a>
                        {{#each ammunition}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="component-slot">{{this.name}}</span>
                        <span class="list-item " name="ammunition">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="ammunition">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="ammunition">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="meleeWeapons">Melee Weapons</a>
                        {{#each meleeWeapons}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="melee-slot">{{this.name}}</span>
                        <span class="list-item " name="meleeWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="meleeWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="meleeWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="auxiliaryWeapons">Auxiliary Weapons</a>
                        {{#each auxiliaryWeapons}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="auxiliary-slot">{{this.name}}</span>
                        <span class="list-item " name="auxiliaryWeapons">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="auxiliaryWeapons">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="auxiliaryWeapons">{{this.data.data.space.value}}</span>
                        {{/each}}
                    </div>
                </div>
                <div class="mechTab components" name="mechInventoryTab" style="display: none" data-group="secondary" data-tab="components">
                    <div class="grid list4col2">
                        <span class="list-item-header">Name</span>
                        <span class="list-item-header">A</span>
                        <span class="list-item-header">T</span>
                        <span class="list-item-header">S</span>
                        <a class="mechbay-grid-section list-item-header4" name="sensors">Sensors</a>
                        {{#each sensors}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="sensor-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="platings">Platings</a>
                        {{#each platings}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="plating-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="coremods">Core Mods</a>
                        {{#each coreMods}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="core-mod-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="thronemods">Throne Mods</a>
                        {{#each throneMods}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="throne-mod-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="sensors">Arm Actuators</a>
                        {{#each armActuators}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="arm-actuator-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="legActuators">Leg Actuators</a>
                        {{#each legActuators}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="leg-actuator-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                        <a class="mechbay-grid-section list-item-header4" name="others">Other Components</a>
                        {{#each others}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="other-slot">{{this.name}}</span>
                        <span class="list-item " name="components">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="components">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="components">{{this.data.data.space.value}}</span>
                        {{/each}}
                    </div>

                </div>
                <div class="mechTab cores" name="mechInventoryTab" style="display: none" data-group="secondary" data-tab="cores">
                    <div class="grid list4col2">
                        <span class="list-item-header">Name</span>
                        <span class="list-item-header">A</span>
                        <span class="list-item-header">T</span>
                        <span class="list-item-header">S</span>
                        <a class="mechbay-grid-section list-item-header4" name="cores">Cores</a>
                        {{#each cores}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="core-slot">{{this.name}}</span>
                        <span class="list-item " name="cores">{{this.data.data.amount.left}}</span>
                        <span class="list-item " name="cores">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="cores">{{this.data.data.space.value}}</span>
                        {{/each}}
                    </div>
                </div>
                <div class="mechTab armors" name="mechInventoryTab" style="display: none" data-group="secondary" data-tab="armors">
                    <div class="grid list4col2">
                        <span class="list-item-header">Name</span>
                        <span class="list-item-header">A</span>
                        <span class="list-item-header">T</span>
                        <span class="list-item-header">S</span>
                        <a class="mechbay-grid-section list-item-header4" name="armors">Armors</a>
                        {{#each armors}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="armor-slot">{{this.name}}</span>
                        <span class="list-item" name="armors">{{this.data.data.amount.left}}</span>
                        <span class="list-item" name="armors">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="armors">{{this.data.data.space.value}}</span>
                        {{/each}}
                    </div>

                </div>
                <div class="mechTab structures" name="mechInventoryTab" style="display: none" data-group="secondary" data-tab="structures">
                    <div class="grid list4col2">
                        <span class="list-item-header">Name</span>
                        <span class="list-item-header">A</span>
                        <span class="list-item-header">T</span>
                        <span class="list-item-header">S</span>
                        <a class="mechbay-grid-section list-item-header4" name="structures">Structures</a>
                        {{#each structures}}
                        <span class="list-item mechbay-component" data-id="{{this.id}}" name="structure-slot">{{this.name}}</span>
                        <span class="list-item " name="structures">{{this.data.data.amount.left}}</span>
                        <span class="list-item" name="structures">{{this.data.data.weight.value}}</span>
                        <span class="list-item " name="structures">{{this.data.data.space.value}}</span>
                        {{/each}}
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="right-mechbay flexcol">
        <div class="mechgrid ">
            <div class="info1 mechgrid-child flexcol flex-group-center">

                <div class="flexrow">
                    <span>Tactical Speed: {{data.secChar.speed.tactical}}m</span>
                </div>

                <div class="flexrow">
                    <span>Stuctural integrity: </span> <input type="text" class="combat-resources" data-target="data.secChar.wounds.value" value="{{data.secChar.wounds.value}}" data-dtype="Number"/>/{{data.secChar.wounds.max}}
                </div>
                <span>Armor: {{data.knight.armorValues.value}}/{{data.knight.armorValues.max}}</span>

            </div>
            <div class="carapace mechgrid-child flex-group-center">
                {{#each carapaceHardPoints.titanicArtillery}}
                {{#if this}}

                <div class="artillery-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.carapace.titanicArtillery" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="artillery-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.carapace.titanicArtillery">
                    Titanic Artillery Slot
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="info2 mechgrid-child flexcol flex-group-center">
                <span>Tonnage: {{data.knight.tonnage.value}}/{{data.knight.tonnage.max}}</span>
                <span>Space: {{data.knight.space.value}}/{{data.knight.space.max}}</span>
                <span>Overload: {{data.knight.overload}}%</span>
            </div>
            <div class="left-weapon mechgrid-child flex-group-center">
                {{#each leftArmHardPoints.titanicRanged}}
                {{#if this}}

                <div class="ranged-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.leftArm.titanicRanged" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="ranged-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.leftArm.titanicRanged">
                    Titanic Ranged Slot
                </div>
                {{/if}}
                {{/each}}
                {{#each leftArmHardPoints.titanicMelee}}
                {{#if this}}

                <div class="melee-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.leftArm.titanicMelee" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="melee-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.leftArm.titanicMelee">
                    Titanic Melee Slot
                </div>
                {{/if}}
                {{/each}}
                {{#each leftArmHardPoints.auxiliary}}
                {{#if this}}

                <div class="auxiliary-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.leftArm.auxiliary" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="auxiliary-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.leftArm.auxiliary">
                    Auxiliary Slot
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="torso mechgrid-child flexcol flex-group-center">
                {{#if data.knight.core}}

                <div class="core">
                    <span>{{data.knight.core.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.core"></a>
                </div>
                {{else}}
                <div class="core-slot component-slot" data-index="{{@index}}" data-path="data.knight.core">
                    Core Slot
                </div>
                {{/if}}
                {{#if data.knight.structure}}

                <div class="structure">
                    <span>{{data.knight.structure.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.structure"></a>
                </div>
                {{else}}
                <div class="structure-slot component-slot" data-index="{{@index}}" data-path="data.knight.structure">
                    Structure Slot
                </div>
                {{/if}}
                {{#if data.knight.armor}}

                <div class="armor">
                    <span>{{data.knight.armor.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.armor" ></a>
                </div>
                {{else}}
                <div class="armor-slot component-slot" data-index="{{@index}}" data-path="data.knight.armor">
                    Armor Slot
                </div>
                {{/if}}
                
                {{#each torsoHardPoints.auxiliary}}
                {{#if this}}

                <div class="auxiliary-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.torso.auxiliary"  data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="auxiliary-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.torso.auxiliary">
                    Auxiliary Slot
                </div>
                {{/if}}
                {{/each}}
                {{#if data.knight.throneMod}}

                <div class="throne-mod">
                    <span>{{data.knight.throneMod.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.throneMod" ></a>
                </div>
                {{else}}
                <div class="throne-mod-slot component-slot" data-index="{{@index}}" data-path="data.knight.throneMod">
                    Throne Mod Slot
                </div>
                {{/if}}
                {{#if data.knight.sensor}}

                <div class="sensor">
                    <span>{{data.knight.sensor.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.sensor" ></a>
                </div>
                {{else}}
                <div class="sensor-slot component-slot" data-index="{{@index}}" data-path="data.knight.sensor">
                    Sensor Slot
                </div>
                {{/if}}
                {{#if data.knight.plating}}

                <div class="plating">
                    <span>{{data.knight.plating.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.plating" ></a>
                </div>
                {{else}}
                <div class="plating-slot component-slot" data-index="{{@index}}" data-path="data.knight.plating">
                    Plating Slot
                </div>
                {{/if}}
                {{#if data.knight.coreMod}}

                <div class="core-mod">
                    <span>{{data.knight.coreMod.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.coreMod" ></a>
                </div>
                {{else}}
                <div class="core-mod-slot component-slot" data-index="{{@index}}" data-path="data.knight.coreMod">
                    Sensor Slot
                </div>
                {{/if}}
               {{#if data.knight.armActuator}}

                <div class="arm-actuator">
                    <span>{{data.knight.armActuator.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.armActuator" ></a>
                </div>
                {{else}}
                <div class="arm-actuator-slot component-slot" data-index="{{@index}}" data-path="data.knight.armActuator">
                    Arm Actuator Slot
                </div>
                {{/if}}
                {{#if data.knight.legActuator}}

                <div class="leg-actuator">
                    <span>{{data.knight.legActuator.name}}</span>
                    <a class="list-button delete-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.legActuator" ></a>
                </div>
                {{else}}
                <div class="leg-actuator-slot component-slot" data-index="{{@index}}" data-path="data.knight.legActuator">
                    Leg Actuator Slot
                </div>
                {{/if}}
                {{#each data.knight.components}}
                {{#if this}}

                <div class="other-component">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-other-component" title="Delete" data-item-id="{{this.id}}" data-path="data.knight.components" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="other-slot component-slot" data-index="{{@index}}" data-path="data.knight.components">
                    Component Slot
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="right-weapon mechgrid-child flex-group-center">
               {{#each rightArmHardPoints.titanicRanged}}
                {{#if this}}

                <div class="ranged-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.rightArm.titanicRanged" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="ranged-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.rightArm.titanicRanged">
                    Titanic Ranged Slot
                </div>
                {{/if}}
                {{/each}}
                {{#each rightArmHardPoints.titanicMelee}}
                {{#if this}}

                <div class="melee-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.rightArm.titanicMelee" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="melee-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.rightArm.titanicMelee">
                    Titanic Melee Slot
                </div>
                {{/if}}
                {{/each}}
                {{#each rightArmHardPoints.auxiliary}}
                {{#if this}}

                <div class="auxiliary-weapon">
                    <span>{{this.name}}</span>
                    <a class="list-button delete-weapon" title="Delete" data-item-id="{{this.id}}" data-path="data.hardPoints.rightArm.auxiliary" data-index="{{@index}}"></a>
                </div>
                {{else}}
                <div class="auxiliary-slot component-slot" data-index="{{@index}}" data-path="data.hardPoints.rightArm.auxiliary">
                    Auxiliary Slot
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="info3 mechgrid-child flexcol">
                <div class="flexrow flex-group-center">
                    <span>Front Armor: </span><input type="text" class="combat-resources" data-target="data.facings.front.armor" value="{{data.facings.front.armor}}" data-dtype="Number"/><span>/50</span>
                </div>

                <div class="flexrow flex-group-center">
                    <span>Left Side Armor: </span><input type="text" class="combat-resources" data-target="data.facings.lSide.armor" value="{{data.facings.lSide.armor}}" data-dtype="Number"/><span>/50</span>
                </div>

                <div class="flexrow flex-group-center">
                    <span>Right Side Armor: </span> <input type="text" class="combat-resources" data-target="data.facings.rSide.armor" value="{{data.facings.rSide.armor}}" data-dtype="Number"/><span>/50</span>
                </div>

                <div class="flexrow flex-group-center">
                    <span>Rear Armor: </span><input type="text" class="combat-resources" data-target="data.facings.rear.armor" value="{{data.facings.rear.armor}}" data-dtype="Number"/><span>/50</span>
                </div>
                <div class="flexrow flex-group-center">
                    <span>Armor Weight: 0</span>
                </div>
            </div>
            <div class="info4 mechgrid-child"></div>
        </div>
    </div>

</div>
