<div>
    <div class="weapons grid grid-2col">
        <div class="weapon-name">
            <span>Name: {{this.name}}</span>
        </div>


        <div class="list-item">
            <span>Attack: </span>
            <span class="melee-attack rollable button" data-roll-type="meleeAttack" data-target="{{../../data.crew.ws}}" data-item-id="{{this.id}}" data-label="Melee Attack" data-char="ws">Roll</span>
        </div>
        <div class="list-item">
            <span>Damage: </span>
            <a class="damage-roll button" data-label="{{this.name}}"data-formula="{{this.data.data.damageFormula.value}}" data-weapon="{{this.id}}"> {{this.data.data.damageFormula.value}}</a>
        </div>
        {{#if this.data.flags.fortyk.force}}
        <div class="list-item">

            <a class="force-roll button" data-label="Force"> Force</a>


        </div>
        {{/if}}
        <div class="list-item">
            <span>Reach: {{this.data.data.range.value}}m</span>
        </div>
        <div class="list-item">
            <span>Penetration: {{this.data.data.pen.value}}</span>

        </div>
        <div class="list-item">
            <span>Special: 


                {{#each this.data.flags.fortyk as |flag key|}}
                {{debug this}}

                {{#if (checkSpecial this)}}

                {{#with (lookup ../data.FORTYK.weaponFlags [key])~}}
                <a class="item-descr" data-name="{{label}}" data-item-descr="{{description}}" >

                    {{label}}{{/with}}{{#if (isnumber this)}}({{this}}){{/if}}</a>
                {{/if}}
                {{/each}}
            </span>

        </div>
        <div class="list-item">
            <span>Damage Type: {{this.data.data.damageType.value}}</span>

        </div>



    </div>
</div>