<label class="popup  {{#if success}}test-success{{else}}test-failure{{/if}}" data-id="{{id}}">{{label}} {{#unless reroll}}test{{else}}reroll{{/unless}}
    <span class="fortyk popuptext chat-background flexcol" id="{{id}}">


        <span class="chat-target">{{title}}</span>
        
        <div class="flexrow">
            <span class="chat-target">{{rollResult}}</span>
            <span class="chat-target">{{target}}</span>   
        </div>
        <div class="flexcol chat-target">
            <span class=" {{#if success}}test-success{{else}}test-failure{{/if}}">{{pass}}</span>
            <span class="roll-result">{{dos}}</span>
            {{#if numberHits}}
            <span class="">{{numberHits}}</span>
            {{/if}}
        </div>
        {{#if opposed}}
        <span class="chat-target">Opposed test</span>
        <div class="flexrow">
            <span class="chat-target">{{opposed.dos}} DoS</span>
            <span class="chat-target">{{opposed.target}} Target</span>   
        </div>
        {{/if}}
        {{#unless reroll}}
        <span class="button reroll-popup" data-actor="{{actor}}" data-char="{{char}}" data-roll-type="{{type}}" data-target="{{targetNumber}}" data-label="{{label}}" data-weapon="{{weapon}}" data-fire="{{fireRate}}" data-opposeddos="{{opposed.dos}}" data-opposedtarget="{{opposed.target}}">Reroll</span>
        {{else}}
        <span class="rerolled-button">Rerolled</span>
        {{/unless}}
    </span>

</label>