<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
            <label>Name:</label>
            <input type="text" class="weapon-mod" value="{{name}}" data-target="name" data-dtype="String">
        </div>
    <div class="flexcol">
        <label>Power:</label>
        <input type="text" class="weapon-mod" value="{{system.power.value}}" data-target="system.power.value">
    </div>
    <div class="flexcol">
        <label>Space:</label>
        <input type="text" class="weapon-mod" value="{{system.space.value}}" data-target="system.space.value">
    </div>
    <div class="flexcol">
        <label>Ship Points:</label>
        <input type="text" class="weapon-mod" value="{{system.sp.value}}" data-target="system.sp.value">
    </div>
    <div class="flexcol">
        <label>Type:</label>
        <input type="text" class="weapon-mod" value="{{system.type.value}}" data-target="system.type.value">
    </div>

    {{#if isGM}}
    <div class="item-description">
        <label>GM Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.gm"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.gm}}">
            {{{enrichedGMDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedGMDescription}}}
        {{/if}}
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.value"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.value}}">
            {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedDescription}}}
        {{/if}}
    </div>
</form>
