<form class="{{cssClass}} item-sheet flexcol">
     <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>
        
    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" class="weapon-mod" value="{{name}}" data-target="name">
    </div>
    <div class="flexcol">
        <label>Table Range:</label>
        <div class="flexrow">
            <div class="flexcol">
                <label>Min:</label>
                <input type="text" class="weapon-mod" value="{{system.min.value}}" data-target="system.min.value">
            </div>
            <div class="flexcol">
                <label>Max:</label>
                <input type="text" class="weapon-mod" value="{{system.max.value}}" data-target="system.max.value">
            </div>
        </div>

    </div>

    {{#if isGM}}
    <div class="item-description">
        <label>GM Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.gm"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.gm}}">
            {{{enrichedGMDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedGMDescription}}}
        {{/if}}
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.value"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.value}}">
            {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedDescription}}}
        {{/if}}
    </div>
</form>
