<form class="{{cssClass}} item-sheet flexcol">
    <div class="grid grid-3col">
        <div class="flexcol">
            <label>Name:</label>
            <input type="text" value="{{item.name}}" name="name">
        </div>

        <div class="flexcol">
            <label>Range:</label>
            <input type="text" value="{{data.range.value}}" name="data.range.value">
        </div>
        <div class="flexcol">
            <label>Damage:</label>
            <input type="text" value="{{data.damageFormula.value}}" name="data.damageFormula.value">
        </div>
        <div class="flexcol">
            <label>Penetration:</label>
            <input type="text" value="{{data.pen.value}}" name="data.pen.value" data-dtype="String">
        </div>
        <div class="flexcol">
            <label>Clip Size:</label>
            <input type="text" value="{{data.clip.max}}" name="data.clip.max" data-dtype="Number">
        </div>
        <div class="flexcol">
            <label>Reload:</label>
            <input type="text" value="{{data.reload.value}}" name="data.reload.value">
        </div>
        <div class="flexcol">
            <label>Special:</label>
            <input type="text" value="{{data.special.value}}" name="data.special.value">
        </div>
        <div class="flexcol">
            <label>Rate of Fire:</label>
            <div class="flexrow">
                <input type="text" value="{{data.rof.[0].value}}" name="data.rof.0.value">
                <span>/</span>
                <input type="text" value="{{data.rof.[1].value}}" name="data.rof.1.value">
                <span>/</span>
                <input type="text" value="{{data.rof.[2].value}}" name="data.rof.2.value">
            </div>


        </div>
        <div class="flexcol">
            <label>Damage Type:</label>
            <select class="damage-type" name="data.damageType.value">
                {{#select data.damageType.value}}
                {{#each item.FORTYK.damageTypes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexcol">
            <label>Weapon Class:</label>

            <select class="weapon-type"  name="data.class.value">
                {{#select data.class.value}}
                {{#each item.FORTYK.rangedWeaponClasses}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexcol">
            <label>Weapon Type:</label>

            <select class="weapon-type"  name="data.type.value">
                {{#select data.type.value}}
                {{#each item.FORTYK.rangedWeaponTypes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexcol">
            <label>Rarity:</label>
            <select class="power-type" name="data.rarity.value">
                {{#select data.rarity.value}}
                <option value="100">Ubiquitous</option>
                <option value="30">Abundant</option>  
                <option value="20">Plentiful</option>
                <option value="10">Common</option> 
                <option value="0">Average</option>
                <option value="-10">Scarce</option> 
                <option value="-20">Rare</option>
                <option value="-30">Very rare</option> 
                <option value="-40">Extremely rare</option>
                <option value="-50">Near Unique</option>
                <option value="-60">Unique</option>


                {{/select}}
            </select>
        </div>
        <div class="flexcol">
            <label>Weight:</label>
            <input type="text" value="{{data.weight.value}}" name="data.weight.value">
        </div>
    </div>
    <div class="item-description">
        <label>Description:</label>
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
</form>