<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">

        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Quirk:</label>

        <select class="quirk"  name="system.quirk.uuid">
            <option value="">None</option>
            {{selectOptions quirks selected=system.quirk.uuid valueAttr="uuid" labelAttr="name"}}
        </select>
    </div>
    <div class="flexcol">
        <label>Tonnage:</label>
        <input type="text" value="{{system.tonnage.value}}" name="system.tonnage.value">
    </div>
    <div class="flexcol">
        <label>Space:</label>
        <input type="text" value="{{system.space.value}}" name="system.space.value">
    </div>
    <div class="flexcol">
        <label>Structural Integrity:</label>
        <input type="text" value="{{system.structuralIntegrity.value}}" name="system.structuralIntegrity.value">
    </div>
    <div class="flexcol">
        <label>Max Armor:</label>
        <input type="text" value="{{system.armor.value}}" name="system.armor.value">
    </div>
    <div class="flexcol">
        <label>Base Speed:</label>
        <input type="text" value="{{system.speed.value}}" name="system.speed.value">
    </div>
    <div class="flexcol">
        <label>Manoeuvrability:</label>
        <input type="text" value="{{system.manoeuvrability.value}}" name="system.manoeuvrability.value">
    </div>
    <div class="flexcol">
        <label>Size:</label>
        <input type="text" value="{{system.size.value}}" name="system.size.value">
    </div>
    <div class="flexcol">
        <label>Carapace Hard points:</label>
        <label>Titanic Artillery</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.carapace.titanicArtillery.length}}" data-location="carapace" data-type="titanicArtillery">
        <label>Titanic Ranged</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.carapace.titanicRanged.length}}" data-location="carapace" data-type="titanicRanged">
        <label>Auxiliary</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.carapace.auxiliary.length}}" data-location="carapace" data-type="auxiliary">
        <label>Left Arm Hard points:</label>
        <label>Titanic Melee</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.leftArm.titanicMelee.length}}" data-location="leftArm" data-type="titanicMelee">
        <label>Titanic Ranged</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.leftArm.titanicRanged.length}}" data-location="leftArm" data-type="titanicRanged">
        <label>Auxiliary</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.leftArm.auxiliary.length}}" data-location="leftArm" data-type="auxiliary">
        <label>Right Arm Hard points:</label>
        <label>Titanic Melee</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.rightArm.titanicMelee.length}}" data-location="rightArm" data-type="titanicMelee">
        <label>Titanic Ranged</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.rightArm.titanicRanged.length}}" data-location="rightArm" data-type="titanicRanged">
        <label>Auxiliary</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.rightArm.auxiliary.length}}" data-location="rightArm" data-type="auxiliary">
        <label>Torso Hard points:</label>
        <label>Titanic Melee</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.torso.titanicMelee.length}}" data-location="torso" data-type="titanicMelee">
        <label>Titanic Ranged</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.torso.titanicRanged.length}}" data-location="torso" data-type="titanicRanged">
        <label>Auxiliary</label>
        <input type="text" class="knight-Hardpoint" value="{{system.hardPoints.torso.auxiliary.length}}" data-location="torso" data-type="auxiliary">
    </div>

    {{#if isGM}}
    <div class="flexcol">
        <a class="modifier button">Active Effect</a>
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>
</form>
