<form class="{{cssClass}} flexcol">
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{item.name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Aptitudes:</label>
        <input type="text" value="{{data.aptitudes.value}}" name="data.aptitudes.value">
    </div>
    <div class="flexcol">
        <label>Description:</label>
        <textarea type="text" name="data.description.value">{{data.description.value}}</textarea>
    </div>
</form>