<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">

        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
            <label>Name:</label>
            <input type="text" class="weapon-mod" value="{{_source.name}}" data-target="name" data-dtype="String">
        </div>
    <div class="flexcol">
        <label>Weight:</label>
        <input type="text" class="weapon-mod" value="{{system.weight.value}}" data-target="system.weight.value">
    </div>
    <div class="flexcol">
        <label>Item Quality:</label>

        <select class="quality"  name="system.quality.value">
            {{selectOptions FORTYK.itemQualities selected=system.quality.value valueAttr="value" labelAttr="value"}}
        </select>
    </div>
    <div class="flexcol">
        <label>Rarity:</label>
        <select class="power-type" name="system.rarity.value">
            {{selectOptions FORTYK.itemRarity selected=system.rarity.value valueAttr="value" labelAttr="label"}}
        </select>
    </div>

    <div class="flexrow">
        <label>Is an aura:</label>
        <input type="checkbox" name="system.isAura.value" {{checked system.isAura.value}}>
    </div>
    {{#if system.isAura.value}}
    <div class="flexcol">
            <label>Aura Type:</label>

            <select class="power-char" name="system.isAura.auraType">
                {{selectOptions FORTYK.auraTypes selected=system.isAura.auraType valueAttr="value" labelAttr="label"}}

            </select>
        </div>
    <div class="flexrow">
        <label>Doesn't Affect Self:</label>
        <input type="checkbox" name="system.isAura.notSelf" {{checked system.isAura.notSelf}}>
    </div>
    <div class="flexrow">
        <label>Needs LoS:</label>
        <input type="checkbox" name="system.isAura.los" {{checked system.isAura.los}}>
    </div>
    <div class="flexcol">
        <label>Aura Range:</label>
        <input type="text" class="weapon-mod" value="{{system.isAura.range}}" data-target="system.isAura.range" data-dtype="Number">
    </div>
    <div class="flexcol">
        <label>Flag Requirements:</label>
        <input type="text" class="weapon-mod" value="{{system.isAura.reqFlags}}" data-target="system.isAura.reqFlags" data-dtype="String">
    </div>
    <div class="flexcol">
        <label>Negative Flag Requirements:</label>
        <input type="text" class="weapon-mod" value="{{system.isAura.negReqFlags}}" data-target="system.isAura.negReqFlags" data-dtype="String">
    </div>
    {{/if}}

    {{#if isGM}}
    <div class="item-description">
        <label>GM Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.gm"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.gm}}">
            {{{enrichedGMDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedGMDescription}}}
        {{/if}}
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.value"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.value}}">
            {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedDescription}}}
        {{/if}}
    </div>
</form>
