<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Tier:</label>
        <input type="text" value="{{system.tier.value}}" name="system.tier.value">
    </div>
    <div class="flexcol">
        <label>Prerequisites:</label>
        <input type="text" value="{{system.prereqs.value}}" name="system.prereqs.value">
    </div>
    <div class="flexcol">
        <label>Aptitudes:</label>
        <input type="text" value="{{system.aptitudes.value}}" name="system.aptitudes.value">
    </div>
    <div class="flexcol">
        <label>Specialisation:</label>
        <input type="text" value="{{system.specialisation.value}}" name="system.specialisation.value">
    </div>
    {{#if isGM}}
    Don't change this unless you know what youre doing!

    <div class="flexcol">
        <a class="modifier button">Active Effect</a>
    </div>

    <div class="flexcol">
        <label>Tags:</label>
        <input type="text" value="{{system.tags.value}}" name="system.tags.value">
    </div>

    <div class="flexcol">
        <label>Flag Id:</label>
        <input type="text" value="{{system.flagId.value}}" name="system.flagId.value">
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>
</form>