<form class="{{cssClass}} item-sheet flexcol">
    <span>Make sure that the weapon class and type match the weapon that you are making the ammunition for or it will not show in the combat tab.</span>
    <div class="grid grid-2col">
        <div class="flexcol">
            <label>Name:</label>
            <input type="text" value="{{name}}" name="name">
        </div>
        <div class="flexcol">
            <label>Weight:</label>
            <input type="text" value="{{data.weight.value}}" name="data.weight.value">
        </div>
        <div class="flexcol">
            <label>Rarity:</label>
            <select class="power-type" name="data.rarity.value">
                {{#select data.rarity.value}}
                <option value="100">Ubiquitous</option>
                <option value="30">Abundant</option>  
                <option value="20">Plentiful</option>
                <option value="10">Common</option> 
                <option value="0">Average</option>
                <option value="-10">Scarce</option> 
                <option value="-20">Rare</option>
                <option value="-30">Very rare</option> 
                <option value="-40">Extremely rare</option>
                <option value="-50">Near Unique</option>
                <option value="-60">Unique</option>


                {{/select}}
            </select>
        </div>
       
        <div class="flexrow">
            <label>Default Ammunition?:</label>
            <input type="checkbox" name="data.default.value" {{checked data.default.value}}>
        </div>
        {{#unless data.default.value}}
        <div class="flexcol">
            <label>Damage:</label>
            <input type="text" value="{{data.damageFormula.formula}}" name="data.damageFormula.formula">
        </div>
        <div class="flexcol">
            <label>Penetration:</label>
            <input type="text" value="{{data.pen.formula}}" name="data.pen.formula">
        </div>
        <div class="flexcol">
            <a class="weapon-special button">Special</a>
        </div>
         <div class="flexcol">
            <label>Damage Type:</label>
            <select class="damage-type" name="data.damageType.value">
                {{#select data.damageType.value}}
               
                {{#each FORTYK.damageTypes}}
              
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/unless}}
        <div class="flexcol">
            <label>Weapon Class:</label>

            <select class="weapon-type"  name="data.class.value">
                {{#select data.class.value}}
                {{#each FORTYK.rangedWeaponClasses}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexcol">
            <label>Weapon Type:</label>

            <select class="weapon-type"  name="data.type.value">
                {{#select data.type.value}}
                {{#each FORTYK.rangedWeaponTypes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
         <div class="flexcol">
            <label>Item Quality:</label>

            <select class="quality"  name="data.quality.value">
                {{#select data.quality.value}}
                {{#each FORTYK.itemQualities}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <div class="item-description">
        <label>Description:</label>
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
</form>