<form class="{{cssClass}} item-sheet flexcol">
 <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>
        
    </header>
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Type:</label>
        <input type="text" value="{{data.type.value}}" name="data.type.value">
    </div>
    <div class="flexcol">
        <label>Rating:</label>
        <input type="text" value="{{data.rating.value}}" name="data.rating.value">
    </div>
    
    
    <div class="item-description">
        <label>Description:</label>
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
</form>