<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Failure Effect:</label>
        <input type="text" value="{{system.failure.value}}" name="system.failure.value">
    </div>
    <div class="flexcol">
        <label>Meld Modifier:</label>
        <input type="text" value="{{system.meldMod.value}}" name="system.meldMod.value">
    </div>
    <div class="flexcol">
        <label>Meld Bonus:</label>
        <input type="text" value="{{system.meldBonus.value}}" name="system.meldBonus.value">
    </div>
    <div class="flexcol">
        <label>Id:</label>
        <input type="text" value="{{system.id}}" name="system.id">
    </div>
    {{#if isGM}}
    <div class="flexcol">
        <a class="modifier button">Active Effect</a>
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>
</form>