<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="grid grid-3col">
        <div class="flexcol">
            <label>Name:</label>
            <input type="text" value="{{name}}" name="name">
        </div>
        <div class="flexcol">
            <label>Discipline:</label>
            <select class="discipline" name="system.discipline.value">
                {{selectOptions FORTYK.psychicDisciplines selected=system.discipline.value valueAttr="value" labelAttr="value"}}
                
            </select>
        </div>
        <div class="flexcol">
            <label>Cost:</label>
            <input type="text" value="{{system.cost.value}}" name="system.cost.value">
        </div>
        <div class="flexcol">
            <label>Requirements:</label>
            <input type="text" value="{{system.reqs.value}}" name="system.reqs.value">
        </div>
        <div class="flexcol">
            <label>Power Type:</label>

            <select class="power-type" name="system.class.value">
                {{selectOptions FORTYK.psychicPowerTypes selected=system.class.value valueAttr="value" labelAttr="value"}}
               
            </select>
        </div>
        <div class="flexcol">
            <label>Action:</label>
            <input type="text" value="{{system.action.value}}" name="system.action.value">
        </div>
        

        <div class="flexcol">
            <label>Test Type:</label>

            <select class="power-char" name="system.testChar.value">
                {{selectOptions FORTYK.psyChars selected=system.testChar.value valueAttr="value" labelAttr="label"}}
                
            </select>
        </div>
        <div class="flexcol">
            <label>Modifier:</label>
            <input type="text" value="{{system.testMod.value}}" name="system.testMod.value" data-dtype="Number">
        </div>
        
        
        
        <div class="flexcol">
            <label>Range:</label>
            <input type="text" value="{{system.range.formula}}" name="system.range.formula">
        </div>
        <div class="flexcol">
            <label>Sustain:</label>
            <input type="text" value="{{system.sustain.value}}" name="system.sustain.value">
        </div>
        <div class="flexcol">
            <label>Subtype:</label>
            <input type="text" value="{{system.subtype.value}}" name="system.subtype.value">
        </div>
        {{#if (contains system.class.value "Psychic")}}
        <div class="flexcol">
            <label>Damage:</label>
            <input type="text" value="{{system.damageFormula.formula}}" name="system.damageFormula.formula">
        </div>
        <div class="flexcol">
            <label>Penetration:</label>
            <input type="text" value="{{system.pen.formula}}" name="system.pen.formula" data-dtype="String">
        </div>
        <div class="flexcol">

            <a class="special button">Special</a>


        </div>
        <div class="flexcol">
            <label>Damage Type:</label>
            <select class="damage-type" name="system.damageType.value">
                {{selectOptions FORTYK.damageTypes selected=system.damageType.value valueAttr="value" labelAttr="value"}}
               
            </select>
        </div>
        {{else if (contains system.class.value "Buff/Debuff")}}
        {{#if isGM}}
        <div class="flexcol">
            <a class="modifier button">Buff/Debuff</a>
        </div>
        {{/if}}
        {{else if (contains system.class.value "Macro")}}
         <div class="flexcol">
            <label>Macro:</label>

            <select class="power-char" name="system.macro.id">
                {{selectOptions psyMacros selected=system.macro.id valueAttr="_id" labelAttr="name"}}
               
            </select>
        </div>
        {{/if}}
    </div>
    <div class="item-description">
        <label>Description:</label>
        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>
</form>