<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">

        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
   <div class="flexcol">
            <label>Name:</label>
            <input type="text" class="weapon-mod" value="{{name}}" data-target="name" data-dtype="String">
        </div>
    <div class="flexcol">
        <label>Type:</label>
        <select class="power-type" name="system.type.value">
            {{selectOptions FORTYK.knightComponentTypes selected=system.type.value valueAttr="value" labelAttr="label"}}
            
        </select>
    </div>
    <div class="flexcol">
        <label>Tonnage:</label>
        <input type="text" class="weapon-mod" value="{{system.weight.value}}" data-target="system.weight.value">
    </div>
    <div class="flexcol">
        <label>Space:</label>
        <input type="text" class="weapon-mod" value="{{system.space.value}}" data-target="system.space.value">
    </div>
    <div class="flexcol">
        <label>Item Quality:</label>

        <select class="quality"  name="system.quality.value">
            {{selectOptions FORTYK.itemQualities selected=system.quality.value valueAttr="value" labelAttr="value"}}
        </select>
    </div>
    <div class="flexcol">
        <label>Rarity:</label>
        <select class="power-type" name="system.rarity.value">
            {{selectOptions FORTYK.itemRarity selected=system.rarity.value valueAttr="value" labelAttr="label"}}
        </select>
    </div>

    {{#if isGM}}
    <div class="item-description">
        <label>GM Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.gm"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.gm}}">
            {{{enrichedGMDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedGMDescription}}}
        {{/if}}
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.value"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.value}}">
            {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedDescription}}}
        {{/if}}
    </div>
</form>
