<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Power:</label>
        <input type="text" value="{{system.power.value}}" name="system.power.value">
    </div>
    <div class="flexcol">
        <label>Space:</label>
        <input type="text" value="{{system.space.value}}" name="system.space.value">
    </div>
    <div class="flexcol">
        <label>Ship Points:</label>
        <input type="text" value="{{system.sp.value}}" name="system.sp.value">
    </div>
    <div class="flexcol">
        <label>Type:</label>
        <select class="damage-type" name="system.type.value">
            {{#select system.type.value}}
            {{#each FORTYK.spaceshipWeaponTypes}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="flexcol">
        <label>Damage:</label>
        <input type="text" value="{{system.damage.value}}" name="system.damage.value">
    </div>
    <div class="flexcol">
        <label>Range:</label>
        <input type="text" value="{{system.range.value}}" name="system.range.value">
    </div>
    <div class="flexcol">
        <label>Strength:</label>
        <input type="text" value="{{system.strength.value}}" name="system.strength.value">
    </div>
    <div class="flexcol">
        <label>Location:</label>
        <select class="damage-type" name="system.location.value">
            {{#select system.location.value}}
            {{#each FORTYK.spaceshipWeaponLocations}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{#if isGM}}
    <div class="flexcol">
        <a class="modifier button">Active Effect</a>
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>
</form>