<form class="{{cssClass}} flexcol">
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{item.name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Cost:</label>
        <input type="text" value="{{data.cost.value}}" name="data.cost.value">
    </div>
    <div class="flexcol">
        <label>Description:</label>
        
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
</form>