<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">

        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{name}}" name="name">
    </div>
    <div class="flexcol">
        <label>Type:</label>
        <select class="power-type" name="system.type.value">
            {{#select system.type.value}}
            <option value="other">Other</option>
            <option value="throne-mod">Throne Mod</option>  
            <option value="core-mod">Core Mod</option>
            <option value="plating">Plating</option> 
            <option value="sensor">Sensor</option>
            <option value="arm-actuator">Arm Actuator</option> 
            <option value="leg-actuator">Leg Actuator</option>
            


            {{/select}}
        </select>
    </div>
    <div class="flexcol">
        <label>Tonnage:</label>
        <input type="text" value="{{system.weight.value}}" name="system.weight.value">
    </div>
    <div class="flexcol">
        <label>Space:</label>
        <input type="text" value="{{system.space.value}}" name="system.space.value">
    </div>
    <div class="flexcol">
        <label>Item Quality:</label>

        <select class="quality"  name="system.quality.value">
            {{#select system.quality.value}}
            {{#each FORTYK.itemQualities}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="flexcol">
        <label>Rarity:</label>
        <select class="power-type" name="system.rarity.value">
            {{#select system.rarity.value}}
            <option value="100">Ubiquitous</option>
            <option value="30">Abundant</option>  
            <option value="20">Plentiful</option>
            <option value="10">Common</option> 
            <option value="0">Average</option>
            <option value="-10">Scarce</option> 
            <option value="-20">Rare</option>
            <option value="-30">Very rare</option> 
            <option value="-40">Extremely rare</option>
            <option value="-50">Near Unique</option>
            <option value="-60">Unique</option>


            {{/select}}
        </select>
    </div>
    {{#if isGM}}
    <div class="flexcol">
        <a class="modifier button">Active Effect</a>
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>
</form>