<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">

        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
        <label>Name:</label>
        <input type="text" value="{{name}}" name="name">
    </div>
    
    <div class="flexcol">
        <label>Space taken % (0.%):</label>
        <input type="text" value="{{system.space.value}}" name="system.space.value">
    </div>
    <div class="flexcol">
        <label>Space Increase % (1.%):</label>
        <input type="text" value="{{system.space.mod}}" name="system.space.mod">
    </div>
    <div class="flexcol">
        <label>Structural Integrity Modifier % (1.%):</label>
        <input type="text" value="{{system.SI.mod}}" name="system.SI.mod">
    </div>
    <div class="flexcol">
        <label>Item Quality:</label>

        <select class="quality"  name="system.quality.value">
            {{selectOptions FORTYK.itemQualities selected=system.quality.value valueAttr="value" labelAttr="value"}}
        </select>
    </div>
    <div class="flexcol">
        <label>Rarity:</label>
        <select class="power-type" name="system.rarity.value">
            {{selectOptions FORTYK.itemRarity selected=system.rarity.value valueAttr="value" labelAttr="label"}}
        </select>
    </div>
    {{#if isGM}}
    <div class="flexcol">
        <a class="modifier button">Active Effect</a>
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>
</form>