<form class="{{cssClass}} item-sheet flexcol">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}"/>

    </header>
    {{#if isGM}}
    <label class="button clone">Copy Item</label>
    {{/if}}
    <div class="flexcol">
            <label>Name:</label>
            <input type="text" class="weapon-mod" value="{{name}}" data-target="name" data-dtype="String">
        </div>
    <div class="flexcol">
        <label>Failure Effect:</label>
        <input type="text" class="weapon-mod" value="{{system.failure.value}}" data-target="system.failure.value">
    </div>
    <div class="flexcol">
        <label>Meld Modifier:</label>
        <input type="text" class="weapon-mod" value="{{system.meldMod.value}}" data-target="system.meldMod.value">
    </div>
    <div class="flexcol">
        <label>Meld Bonus:</label>
        <input type="text" class="weapon-mod" value="{{system.meldBonus.value}}" data-target="system.meldBonus.value">
    </div>
    <div class="flexcol">
        <label>Id:</label>
        <input type="text" class="weapon-mod" value="{{system.id}}" data-target="system.id">
    </div>

    {{#if isGM}}
    <div class="item-description">
        <label>GM Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.gm"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.gm}}">
            {{{enrichedGMDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedGMDescription}}}
        {{/if}}
    </div>
    {{/if}}
    <div class="item-description">
        <label>Description:</label>
        {{#if editable}}
        <prose-mirror
                      name="system.description.value"
                      button="true"
                      editable="{{editable}}"
                      toggled="false"
                      value="{{system.description.value}}">
            {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedDescription}}}
        {{/if}}
    </div>
</form>
