<section class="tab sheet-content {{tabs.cargo.id}} {{tabs.cargo.cssClass}}"
         data-tab="{{tabs.cargo.id}}"
         data-group="{{tabs.cargo.group}}">
            <div class="flexrow resources">
                <div class="resource flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Cargo Capacity</label>
                    <div class="resource-content flexcol flex-center flex-between">
                        {{system.cargo.value}}

                        <input type="text" class="combat-resources" name="system.cargo.max" value="{{system.cargo.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class=" flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Cargo Value (base)</label>
                    <div class="resource-content flexcol flex-center flex-between">
                        {{system.cargo.profit}}


                    </div>
                </div>
                <!--<div class=" flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Supplies (In days)</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" name="system.cargo.supplies" value="{{system.cargo.supplies}}" data-dtype="Number"/>
                        /
                        <input type="text" class="combat-resources" name="system.cargo.suppliesMax" value="{{system.cargo.suppliesMax}}" data-dtype="Number"/>

                    </div>
                </div>
                <div class=" flex-group-center">
                    <label for="system.secChar.fatigue.value" class="resource-label">Warp Fuel</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" class="combat-resources" name="system.cargo.fuel" value="{{system.cargo.fuel}}" data-dtype="Number"/>
                        /
                        <input type="text" class="combat-resources" name="system.cargo.fuelMax" value="{{system.cargo.fuelMax}}" data-dtype="Number"/>

                    </div>
                </div>-->
            </div>

            <a class="item-create button" data-type="spaceshipCargo" title="Add Cargo">Add Cargo</a>
            <div class="list list8col grid grid-8col">
                <a class="list-item sort-button" data-sort-type="name" data-path="name" data-item-type="cargo">Name</a>
                <a class="list-item sort-button" data-sort-type="type" data-path="system.type.value" data-item-type="cargo">Type</a>
                <a class="list-item sort-button" data-sort-type="space" data-path="system.space.value" data-item-type="cargo">Quantity</a>
                <a class="list-item sort-button" data-sort-type="value" data-path="t.system.pf.total" data-item-type="cargo">Value</a>
                <a class="list-item sort-button" data-sort-type="rarity" data-path="system.rarity.value" data-item-type="cargo">Rarity</a>
                <a class="list-item sort-button" data-sort-type="quality" data-path="system.quality.value" data-item-type="cargo">Quality</a>
                <span class="list-button"></span>
                <span class="list-button"></span>
                {{#each actor.cargo as |t key|}}

                <a class="item-descr list-item drag" data-id="{{t._id}}" data-name="{{t.name}}" data-item-descr="{{t.system.description.value}}">{{t.name}}</a>
                <span class="list-item">{{t.system.type.value}}</span>
                <input type="text" class="item-text-input list-item" data-target="system.space.value" value="{{t.system.space.value}}" data-item-id="{{t._id}}" data-dtype="Number">
                <span class="list-item">{{t.system.pf.total}}</span>
                <span class="list-item">{{t.system.rarity.label}}</span>
                <span class="list-item">{{t.system.quality.value}}</span>
                <a class="list-button item-edit" title="Edit" data-item-id="{{t._id}}"></a>
                <a class="list-button item-delete" title="Delete" data-item-id="{{t._id}}"></a>



                {{/each}}

            </div>

        </section>
